[2017-11-28 08:24] krrevilla opened #5 "XAxis - No display"
I've followed your example in XAxis, but it doesn't display anything. All I get was a padding in bottom.

[2017-11-28 13:40] JesperLekland commented on #5
Hi @krrevilla, sorry to hear. How did you test it? In your own project? Could you provide me with your code?

[2017-11-28 13:50] JesperLekland commented on #5
I took a quick look an suspect that you have ignored the `formatLabel` prop. If you use this to format the value into something useful it should work. I will tweak the default `formatLabel` to always return at least the index. Please confirm if this worked for you

[2017-11-28 23:38] krrevilla commented on #5
Hi @JesperLekland yep, with my own project.

`<XAxis
            style={{ paddingVertical: 16 }}
            values={value}
            formatLabel={(value, index) => index}
            chartType={ XAxis.Type.BAR }
            labelStyle={{ color: '#fff' }}
          />`

I've tried it again this morning, still not working.

[2017-11-29 10:52] JesperLekland commented on #5
@krrevilla could you show me the entire file? I'm interested in the the `values` look and how you've aligned the axis with the rest of the views

[2017-12-01 14:12] rafaelviny commented on #5
const barData = [
                {
                    values: data,
                    fillColor: 'rgb(134, 65, 244)',
                    fillColorNegative: 'rgba(134, 65, 244, 0.2)',
                },
            ]

            return (
                <View style={ { height: 200, padding: 20 } }>
                    <BarChart
                        style={ { flex: 1 } }

[2017-12-01 14:13] rafaelviny commented on #5
XAxis no display.

beautiful work in this lib

[2017-12-04 01:47] OZhang commented on #5
After I added flex: 1 to the XAxis style, the XAxis displayed.

[2017-12-04 10:22] JesperLekland commented on #5
@rafaelviny Very strange, I get an XAxis when using your code. I'll have to dig deeper into this.

[2017-12-04 10:23] JesperLekland commented on #5
@OZhang `flex:1` should only be needed if parent view has `flexDirection: 'row'`

[2017-12-04 16:33] guilherme-dias commented on #5
Hey guys, my XAxis is "eating" a piece of the first and the last label on Android, any style that I can apply to fix this?

[2017-12-04 17:00] JesperLekland commented on #5
@guilherme-dias use the `contentInset` prop with `left`and `right`

[2017-12-04 17:21] JesperLekland commented on #5
fixed it! Released in v1.6.1. Please re-open if problem persists

[2017-12-04 17:21] #5 closed

[2017-12-08 10:41] johanolandero opened #8 "Animate progress - ProgressCircle"
Hello!

I'm using the animate and the animateDuration prop with a ProgressCircle.
Right now the result of this is that the ProgressCircle scales up from small to large during the duration.

Is there a way to animate the progress instead so the progress 'fills' up to the desired progress over the duration?

Cool library by the way!

[2017-12-08 12:09] JesperLekland commented on #8
@johanolandero Hi! Right now it's a very basic animation implementation. Basically I diff the tween of the svg path between "before" and "after". In this case "before" is a zero path meaning that it scales up. It gets really weird when you animate from say 10% -> 90% progress (try it out and have a laugh). Small progress increments animate fine though. As of right now I'm not not putting any effor

[2017-12-08 12:22] #8 closed

[2017-12-10 17:03] kodayashi opened #10 "Feedback: Any plans for D3 Radar Chart?"
Would be cool to get polar axes in react native - https://github.com/alangrafu/radar-chart-d3

FWIW here is Victory's implementation: https://formidable.com/open-source/victory/gallery/radar-chart/

[2017-12-10 17:50] JesperLekland commented on #10
Hi @kodayashi! No plans yet. Right now I'm working by requests and with limited time on my hands. A radar chart looks really cool and with enough "upvotes"/requests I might be able to have a look at it. Otherwise you're very welcome to submit a PR and I'll try to assist you the best I can

[2017-12-11 13:51] johanolandero opened #11 "Docs - Chart with both XAxis & YAxis"
Missing doc example of how to use both XAxis and YAxis with the same chart.

[2017-12-12 08:45] ajmalpkc opened #12 "Error: Activity class {com.rnsvgcharts/com.rnsvgcharts.MainActivity} does not exist." and 'websocket: connection error', 'Failed to connect to localhost/127.0.0.1:7008'"
"Starting: Intent { cmp=com.rnsvgcharts/.MainActivity }
Error type 3
Error: Activity class {com.rnsvgcharts/com.rnsvgcharts.MainActivity} does not exist."

[2017-12-12 12:09] JesperLekland commented on #12
@ajmalpkc The error message actually happens after the build and installation, it's just that `react-native run-android` fails to launch the intent (start the app). If you look in your emulator the app will be installed and will launch just fine when clicked

[2017-12-12 13:59] johanolandero commented on #11
Not sure this actually is featured without hacky height solutions.

[2017-12-12 15:14] JesperLekland commented on #11
@johanolandero Hi! I didn't include it because I figured people could derive it from the single axis use cases. It works without any hacks, just think of how you would align regular `<View>`s the same way you would want your axes. I'll try to update the README as soon as I can

[2017-12-12 15:18] JesperLekland commented on #11
Your comment about "hacky height solutions" made my think I should clarify. In order for the `YAxis` to be able to layout properly you must indeed make sure that it is has the same layout constraints as the chart (there's no other way of measuring things otherwise). The easiest solution is to specify a fixed height for the xAxis and make sure that you have the same bottom (or top) margin of the `Y

[2017-12-12 15:57] johanolandero commented on #11
The problem occurs when you want to allow the chart for dynamic sizes with flex: 1 since the layout would result in something like this.
<img width="312" alt="screen shot 2017-12-12 at 16 51 05" src="https://user-images.githubusercontent.com/23318359/33893834-baad50fe-df5c-11e7-9cf5-114c84f18e4b.png">
This is solved by the same approach you mention except with a fixed width for YAxis and an added

[2017-12-12 16:34] JesperLekland commented on #11
You are correct. seeing how a fixed height (or width, depending on which axis you want to specify) doesn't result in you not being able to use flex 1 on any of the other components I don't see the problem. Do you have a use case where having one axis dimension fix would cause a problem? I think this is a fair tradeoff in order to have the Y/X-Axis as stand alone components, thus allowing way more

[2017-12-12 17:05] johanolandero commented on #11
You're right, the flexibility of having stand alone components for X/Y-Axis is great. However the API would perhaps be more straight forward without having to specify fixed numbers in order to just add 2 common properties of a chart.

A solution to this could perhaps look something like this where the components gets wrapped inside a chart component and the X/Y-Axis gets their layout calculations

[2017-12-13 05:09] ajmalpkc commented on #12
In Android Storybook got error `'websocket: connection error', 'Failed to connect to localhost/127.0.0.1:7008'` and was fixed by running command `adb reverse tcp:7008 tcp:7008` in terminal and reloading the app

[2017-12-13 05:09] #12 closed

[2017-12-13 08:14] JesperLekland commented on #12
@ajmalpkc I'm assuming you got it to work as you closes the issue?

[2017-12-13 08:17] ajmalpkc commented on #12
Yes, Worked Fine. Great Work @JesperLekland

[2017-12-13 08:24] JesperLekland commented on #11
Interesting suggestion and great illustrations! Wish all issues were this thorough 🥇
I think your proposal looks good, I'll try to implement something like it when I get the time. If you have the time I would love a PR!

 I do think that the fixed height/width is the best solution still as the alignment problem stems from flexbox, not this specific library. I've used the fixed height/width solutio

[2017-12-18 03:03] Rajat421 opened #13 "No ViewManager defined for class RNSVGGroup"
React-native v0.45.1
react-native-svg version v 5.2.0

[2017-12-18 10:00] JesperLekland commented on #13
@Rajat421 I'm going to need a bit more help than that.
* What is your problem?
* When does it happen?
* What platform?
* Code to reproduce

[2017-12-19 06:01] Danushka50 opened #14 "onPress event on circle decorator"
Hi,

Need a event on circle click, that has to show tool tip on circle click dynamically.
Please help to do that

Like this

[code]

is there way to do that....Please help....

[2017-12-19 10:43] JesperLekland commented on #14
According to the provided code the `onPress` on `<Circle/>`should be called. Once this is done you should set a state that tells the AreaChart to render its extras, e.g
[code]

[2017-12-19 16:55] Danushka50 commented on #14
Hi,
That's what i need... Thank you very much.

[2017-12-20 08:25] #14 closed

[2017-12-23 15:21] guilherme-dias opened #15 "Linechart on extra is not rendering on android"
Rendering a linechart chart, in extra prop of barchart, does not work on android, but, it works fine on ios.

Has anyone seen this behaviour before and knows how to solve? Thanks!

* [ ] iOS
* [X] Android

React Native version: 0.48.4

### Code to reproduce
[code]

[2017-12-27 19:21] maryammouse opened #16 "How to show Vertical Lines?"
### What is the problem?
I'm not sure if this is just something not implemented in this library or if I've missed something in the README. How do I get my charts to render *vertical* grid lines, and not horizontal ones? By default only horizontal ones are rendered and while there exists a `showGrid` function this only hides horizontal grid lines.

(edit: I'm fairly new to charting libraries as a w

[2017-12-29 19:04] kodayashi opened #17 "extras not rendered with ProgressCircle"
### What is the problem?
Your extras example works great for the LineChart, but when I try a similar example with a ProgressCirle, I can't get any extras to render. I'm trying to render <Text/> in the center of the progress circle.

### When does it happen?
When trying to render a ProgressCircle with a <Text/> extra. The same <Text/> extra works fine with a LineChart.

### What platform?
* [x] iOS

[2018-01-02 13:20] JesperLekland commented on #17
This is expected behaviour. Since a progress circle doesn't use a coordinate system there's no need for any other components to know of any x or y. Simply absolute position your `Text` component on top of the `ProgressCircle`

[2018-01-02 13:20] #17 closed

[2018-01-02 13:24] JesperLekland commented on #16
Hi @maryammouse! The library does not support vertical lines at the moment. An easy workaround would be to use the `renderExtra` prop to render them yourself. I'll think of a nice API and see if I can make vertical grid lines a part of the library in the near future

[2018-01-02 13:26] JesperLekland commented on #13
I'll go ahead and close this due to inactivity. Please reopen with more detail if problem persists

[2018-01-02 13:26] #13 closed

[2018-01-02 13:29] JesperLekland commented on #15
Hi @guilherme-dias. Sorry for the delay ( Christmas and New Years you know ). I'll have a look as soon as possible and get you back to you

[2018-01-02 18:06] kodayashi commented on #17
Cool! That’s what I ended up doing this weekend, worked/looks great thanks for confirming.

[2018-01-08 18:35] hobbesdaboba opened #18 "Charts not rendering"
### What is the problem?
Using various examples (I only tried AreaChart and LineChart) in Expo don't render.

[2018-01-08 18:36] hobbesdaboba commented on #18
Ok, I got it to work by adding the width style property (in addition to the height style property that is already there). All is well. Please update examples! Thanks!

[2018-01-08 18:36] #18 closed

[2018-01-08 20:00] jayesbe opened #19 "PieChart, allow onPress of each pie piece."
Is it possible to be able to apply onPress events to each piece of the pie ?

I added an onPress to the Circle label.. however I am not sure how to do make the entire piece touchable

[2018-01-09 08:48] JesperLekland commented on #18
@hobbesdaboba The width should only be needed if placed in a parent with `flexDirection: row`, just the same as a regular `View`, in fact each chart is wrapped in regular `View`

[2018-01-09 08:50] JesperLekland commented on #19
Hi @jayesbe and thank you for your issue. This seems like a perfectly valid feature request. I'll make sure it ends up in the next release :)

[2018-01-09 09:17] jayesbe commented on #19
Awesome. Thanks.

[2018-01-13 22:21] mundiallover opened #21 "Replace interpolatePath with animated path"
It would be awesome to be able to switch to another Path animation. Instead of interpolating the path it would be nice to use something like this instead where the line is drawn.

https://bitbucket.org/ingenuityph/react-native-svg-animations

[2018-01-14 15:18] JesperLekland commented on #19
Is available in 2.0.2 :)

[2018-01-14 15:18] #19 closed

[2018-01-14 17:33] JesperLekland commented on #16
Hi again! I implemented a better `Grid` api in this PR #22. Hopefully this will solve your problem in the best way possible. If the supplied default vertical and horizontal grid components doesn't do the trick you're free to create your own grid through the `renderGrid` prop

[2018-01-14 17:39] JesperLekland commented on #15
Hi @guilherme-dias. Have you solved the issue yet? The code you provided is incomplete (can't be used to reproduce without additional info). Please provide a minimal reproduction example

[2018-01-14 17:40] JesperLekland commented on #15
If you check the storybook example of extras in the repo you can see that it renders just fine. Will close this until I have a minimal reproduction example

[2018-01-14 17:40] #15 closed

[2018-01-14 17:51] JesperLekland commented on #16
Available in 2.1.0

[2018-01-14 17:51] #16 closed

[2018-01-14 17:53] JesperLekland commented on #21
@mundiallover Thanks for your feedback. Had a quick look at it and I don't consider that specific library to be mature enough. Could possibly do something similar in the future but nothing that is prioritized as of now. Feel free to make a PR if you want to implement it yourself.

[2018-01-14 17:53] #21 closed

[2018-01-15 20:08] emretekince opened #24 "Gradient Line for Area chart"
Hi,
How can I make the line gradient for Area charts?
renderGradient only effects the area. I also want the line to have gradient effect.

[2018-01-16 12:48] JesperLekland commented on #24
Hi!

That's not supported at the moment. I did a quick implementation just now and will push any minute. Feel free to test that branch out. I will need some more testing before merging to master

[2018-01-16 16:12] mchen37 opened #26 "Stacked Line Chart"
Hi, is it possible to draw multiple LineCharts over each other? I'm currently trying to do something of the sort but can't get it to work. Is it possible to draw multiple lines with LineChart or will I need something like a StackedLineChart? (Which does not currently exist)

[2018-01-17 08:01] JesperLekland commented on #26
Check the doc for "layered charts".

[2018-01-17 14:24] mchen37 commented on #26
@JesperLekland Ah yes, I forgot about gridMin/gridMax, thanks! I had them layered manually but couldn't figure out how to give them the same Y scale.

[2018-01-17 14:24] #26 closed

[2018-01-18 15:33] escobar5 opened #27 "How do animations work? I set animated=true and animationDuration=500 and there is not animation"
### What is the problem?
Animations don't work

### When does it happen?
Immediately on render

### What platform?
Android 6.0

React Native version: 0.52

### Code to reproduce
With the example of a Pie chart in readme.md

[2018-01-19 21:01] luchoster opened #28 "No component found for view with name 'RNSVGPath'"
I'm getting this error, after installing, linking and running

[code]
React Native: 0.51
svg: 6.0.1-rc.3
svg-charts: 2.1.0

![simulator screen shot - iphone 6 - 2018-01-19 at 12 56 42](https://user-images.githubusercontent.com/694367/35171286-1f895148-fd18-11e7-8895-22fe37787252.png)

[2018-01-21 13:59] Danushka50 opened #29 "Graph goes to minus rather it haven't minus values"
Hi,

My Graph goes to minus. But is haven't any minus values
Please Help...

This is my Code

This is the data valus
[5, 1, 89, 1, 5, 1, 0, 0, 1, 0, 0, 2, 2, 2, 1, 1, 1, 1, 3, 2, 1]

`render() {

    let data = this.dataGraph();
    console.log("dcscad", data);

    const Tooltip = ({ x, y }) => (
      <G
        x={x(this.state.index) - (75 / 2)}
        key={'tooltip'}
        onPress={() => co

[2018-01-22 01:38] isthaison opened #30 "rotate label XAxis"
How to rotate label XAxis
I have the example https://snack.expo.io/@isthaison/react-native-svg-charts

  labelStyle={ {
                      color: 'grey',
                   transform:[{ rotateX: '45deg'}]
   } }
 but it not working

[2018-01-22 13:54] #30 closed

[2018-01-22 15:50] JesperLekland commented on #29
That's just the interpolation for the curve. Use a different `curve` prop than the default

[2018-01-22 15:50] #29 closed

[2018-01-22 15:52] JesperLekland commented on #28
It looks like you might have failed to link `react-native-svg`. Also try not to use pre-release versions.

[2018-01-23 18:35] mchen37 commented on #27
It looks like animation isn't even available for PieChart as it uses the basic Path from react-native-svg in the source code and not the animated-path.js that other charts use. I saw that ProgressCircle was using animated-path.js so I tested it to see how the animation looks. The initial load looks good but when I change the progress, the animation moves in a strange way.

Could we get animations

[2018-01-24 08:29] JesperLekland commented on #27
Animations occur when the dataset changes, i.e not from null -> data. It works by calculating a tween between the two svg paths. The animations aren't the best and haven't been worked on that much

[2018-01-24 10:59] JesperLekland commented on #27
On further investigation it might actually be `PieChart` that is causing trouble. Either way this will be a "no fix" for now as the animations don't behave particularly well anyway

[2018-01-24 10:59] #27 closed

[2018-01-24 11:00] JesperLekland commented on #28
I'll go ahead and close this due to inactivity. Feel free to re-open an issue if you can't get it to work.

[2018-01-24 11:00] #28 closed

[2018-01-24 11:48] JesperLekland commented on #24
Merged and release in v.2.2.1

[2018-01-24 11:48] #24 closed

[2018-01-24 17:13] themathiou opened #33 "Define a value from which the yAxis should start."
### What is the problem?
yAxis always starts from 0 and that create a useless area under the chart, if all the values are bigger than 0.

### When does it happen?
I have a chart with values 20.000±200.
The chart is rendered correctly but I would like yAxis to start from 19.000 instead of 0.

### What platform?
* [x] iOS
* [x] Android

React Native version: 0.49

### Code to reproduce

[code]

![sc

[2018-01-24 17:26] JesperLekland commented on #33
Hi @themathiou! Good timing I must say. v2.2.0 was released today with fixes for your problem! Enjoy :)

[2018-01-24 17:28] themathiou commented on #33
Hehe! Awesome! I'll test it and I'll let you know. Thank you

[2018-01-24 17:49] themathiou commented on #33
Works as expected.
Also if a value is smaller than gridMin the grid is automatically adjusted.
Great 👍

![screenshot_1516815999](https://user-images.githubusercontent.com/2776613/35347975-6011a988-013f-11e8-80ed-56a8a1db073e.png)

[2018-01-24 17:49] #33 closed

[2018-01-25 13:56] Danushka50 commented on #29
Ok. Thank you...

[2018-01-27 19:02] ln0v opened #34 "Any plans to support scaleTime"
Do you have plans to support d3.scaleTime for time series data. Would be a useful addition to this very useful module.

[2018-01-28 13:56] JesperLekland commented on #34
@ln0v Hi! Tell me more about your use case and I'll see what I can do :)

[2018-01-28 14:42] ln0v commented on #34
I want to plot a line graph where the X axis is time series data and Y axis has corresponding values. Would like the points on the X-axis to be proportionally placed based on the start and end date, so scaleTime would be very useful.  Thank you for your consideration.

[2018-01-28 14:55] JesperLekland commented on #34
That sounds more as a problem with your datasets. Supply a `LineChart` with your dataPoints sorted by time and then just use `formatLabel` on the `XAxis` to

[2018-01-28 15:02] ln0v commented on #34
guess that is a matter of perspective, d3.scaleTime support this.

[2018-01-28 16:21] JesperLekland commented on #34
This isn't a data formatting library, it's a charting library. You're more than welcome to use any additional library to format your data. If you can think of a nice way to integrate a `scaleTime` api please submit a PR.

[2018-01-29 05:35] mrbodoia opened #35 "StackedAreaChart doesn't properly render all data points"
### What is the problem?
StackedAreaChart doesn't properly render all the data points. In particular, it only renders the first `keys.length` data points.

### When does it happen?
The following code should render a StackedAreaChart that looks like the one from the examples, but with one additional data point (making five total).
[code]
However, this code only renders the first four data points.

[2018-01-30 14:53] JesperLekland commented on #35
Hi @mrbodoia! I'll take a look and see what I can do. Could you perhaps illustrate your problem with a screenshot?

[2018-01-30 17:32] mrbodoia commented on #35
Sure! Here is a screenshot of what I get when I run the code directly from the example, which contains four data points:
<img width="378" alt="example code 4 data points" src="https://user-images.githubusercontent.com/20482847/35581059-9451e064-059f-11e8-9911-88b343b6911e.png">
This corresponds to the following code:
[code]

And here is what I get when I run a modified version of the code that has

[2018-01-30 18:06] mrbodoia commented on #35
Okay I made some modifications to `stacked-area-chart.js` and I think I may have fixed the problem. The chart now renders properly for both three and six data points.

Here is the diff of the changes that I made:
[code]

You're obviously more familiar with the codebase so perhaps you can verify that these changes solve the problem and don't break anything else.

[2018-01-31 08:56] JesperLekland commented on #35
Great job! I'll go ahead and verify the changes during the day. If you would like to you are more than welcome to create a PR and become an official contributor :)

[2018-01-31 17:18] JesperLekland commented on #35
Verified 🥇  Opened PR #38. Will merge if you don't oppose

[2018-01-31 21:09] mrbodoia commented on #35
Looks good to me. Thanks!

[2018-02-01 09:04] JesperLekland commented on #35
Released in v.2.2.2. Thank you for reporting the issue and helping with the fix 🥇

[2018-02-01 09:04] #35 closed

[2018-02-01 10:40] NaseebullahSafi opened #40 "Is it possible to animate ECG animation to the Line chart?"
Firstly I just want to say you guys are doing a great job and I'm grateful for finding this library.

I had a question regarding the animation. You see my situation is the following:

I have an app that Receives data from an external device. What I'd like to do is visualize the data in line graph.

The main issue, we cant use CSS animation and CSS keyframes, this makes it hard for the animation of

[2018-02-01 12:18] JesperLekland commented on #40
Hi @NaseebullahSafi and thank you for the kind words.
This is not something that is supported at the moment and probably won't be for a while. CSS animations and keyframes is not supported in React Native at all. Animations with SVG's are tricky and so far I haven't stumbled on any particularly nice frameworks that works well on RN. Let me know if you find any :)

[2018-02-01 12:21] JesperLekland commented on #40
PS. One "ugly fix" for now would be to set all unknown values as undefined and then fill them in, that would create an illusion of an animation that grows along the xAxis. i.e
[code]

[2018-02-01 13:34] NaseebullahSafi commented on #40
@JesperLekland I see, unfortunately, I had a feeling this would be the case. Ok mate I'll let you know if I do find anything.

The issue is I cant predefine the array as undefined as the array might not be fixed size, as we're dealing with real-time data.

Thanks for the help

[2018-02-01 13:34] #40 closed

[2018-02-07 09:53] nam89vn opened #42 "Android: not working RNSVGLine"
### What is the problem?
Android: Error while updating property 'strokeWidth' in shadow node of type: RNSVGLine #583
TypeError: expected dynamic type double, but had type string

### When does it happen?

### What platform?

* [ ] iOS
* [x] Android
I was working on Expo version 24.0.0 It uses  "react-native-svg-charts": "^2.1.0",
IOS working fine

### Code to reproduce

[code]

[2018-02-07 09:54] namnn89 commented on #42
![35194523-fc730914-feda-11e7-8c4b-d356af6ee276](https://user-images.githubusercontent.com/20234482/35909940-98918420-0c27-11e8-9f16-351aa924dfc2.jpg)

[2018-02-07 10:26] nam89vn commented on #42
![35194523-fc730914-feda-11e7-8c4b-d356af6ee276](https://user-images.githubusercontent.com/12689764/35911290-fa7b455a-0c2b-11e8-9a8f-13ccc7c640c6.jpg)

[2018-02-07 16:56] JesperLekland commented on #42
I think this might be a compatibility issue with the `react-native-svg` that Expo uses. What version is that?

[2018-02-08 03:19] namnn89 commented on #42
with expo `react-native-svg` this is pre-installed. Jump ahead to Usage
I dont know version that

[2018-02-08 03:19] nam89vn commented on #42
with expo react-native-svg this is pre-installed. Jump ahead to Usage
I dont know version that

[2018-02-08 18:41] anater commented on #34
I'd like to request this be re-opened. Time series data still can't be accommodated by this library due to the single data point. For instance if I have 3 data points, say `[{ value: 1, time: '8:00' }, {value: 2, time: '10:00'}, {value: 3, time: '18:00'}]` across a day, they'll simply be spaced evenly, even though they are not.

[2018-02-09 08:48] JesperLekland commented on #34
Fair point and good example @anater. Reopening

[2018-02-11 06:34] otusweb opened #44 "Instructions for sample app are not working"
### What is the problem?
I followed the instruction to get the sample app running and it did not work. I'm getting a "No bundleURL present" error in the simulator.

Googling the error seem to point toward the need to upgrade react native. The package still includes 0.46 when the current version is 0.53.

### When does it happen?
Follow instruction in readme
the only difference is I'm using the ver

[2018-02-12 11:40] Amnesthesia opened #46 "Support for data of different length in StackedAreaChart?"
### What is the problem?
StackedAreaChart accepts an array of objects, in which all datapoints are specified by keys. I have a use-case where I have two separate "timelines", where I want to show data from two data-sets that dont necessarily have the same length.

For example, I have one chart with data points + timestamps, and I want to display this along with another set of datapoints with diffe

[2018-02-12 14:11] namxam opened #47 "XAxis rotate labels"
Due to the ordering of styles on labels, it is not possible to set transformations. They are overriden by the internals.

In our case we would like to rotate the text labels to have more space for its contents.

Have a look here:
https://github.com/JesperLekland/react-native-svg-charts/blob/7a9292431932dd01c66e09369cd2b745a9db536c/src/x-axis.js#L110

What do you think, would it make sense to reord

[2018-02-12 14:17] JesperLekland commented on #47
I see your problem. Version 3.0 actually replaces the XAxis for an `react-native-svg` based one. Meaning that regular transforms won't work, but svg ones should. Keep an eye out for 3.0!

[2018-02-12 14:18] JesperLekland commented on #46
I'm not a 100% sure I understand your problem. Do you have a visualisation I can work off of?

[2018-02-12 15:31] namxam commented on #47
Nice. For now we reduced the resolution of our data, so we have more space for labels 😄

[2018-02-12 16:54] otusweb opened #48 "question: Barchart rounded corner"
### What is the problem?
I'm trying to round the corner of the bars in a barchart.
I found a solution online for D3, i'm wondering how i can use that within this library.

https://stackoverflow.com/questions/39842964/how-to-make-vertical-corners-on-a-bar-chart

I can't find where to start in the docs

[2018-02-12 17:38] Amnesthesia commented on #46
So, the problem is that StackedAreaChart expects an array of objects with all dataPoints, but I have two lists of different objects. Both objects have a timestamp used for the x-axis, but they have different values at different keys for the y-axis.

If I merged those two lists (as in the example above), then some objects would have the "visits" key and others would have the "mentions" key, but I w

[2018-02-12 17:55] Amnesthesia commented on #46
Essentially I want to plot two different data sets with two different Y-axises but with the same x-axis

I'll see if I can come up with a better example

[2018-02-12 19:00] JesperLekland commented on #48
As of now the bars are rendered using a `path`, meaning there's no option for rounded corners. One possible solution for the future could be to render the bars with an svg `rect` instead. This is not something I will prioritise because of it's very narrow use case. Feel free to submit a PR :)
Closing issue as this isn't supported

[2018-02-12 19:00] #48 closed

[2018-02-12 19:02] JesperLekland commented on #46
Still not quite sure I get the use case 😝 sorry. Try finding an existing chart that displays the behaviour. Explaining data visualisation is always tricky

[2018-02-12 20:50] Amnesthesia commented on #46
Alright - here's an example: https://www.highcharts.com/demo/spline-irregular-time

I have different datasets, that need to be charted along a timeline, but the timestamps are different in the different datasets

[2018-02-12 20:52] JesperLekland commented on #46
In that example they don't use a stacked chart and the datasets don't depend on each other. Maybe you should use a [layered chart](https://github.com/JesperLekland/react-native-svg-charts#layered-charts)?

[2018-02-12 20:55] Amnesthesia commented on #46
Holy shit, you reply fast.

That does look like the way to go — I should've seen that sooner. Thank you so much! Oh, and thank you *so* much for this library. I was rolling my own when, 2 weeks later, this pops up out of nowhere and abstracts all the SVG path painting away. Thank you!

[2018-02-12 20:55] #46 closed

[2018-02-12 21:01] JesperLekland commented on #46
Haha, glad I can help 😄 Don't forget to give it a star if you haven't already.
And if you want to contribute just create a PR and I will happily look at it 😊

[2018-02-12 21:22] Amnesthesia commented on #46
The one thing that *is* still an issue, though, is that although the datapoints dont technically "depend" on each other, they do depend on the timestamp and should be aligned according to their timestamp (e.g, if there are fewer values in one of the layered charts, but the timestamp is earlier than the last one  in the other datasets), so in a way, I suppose the X-axis points do depend on eachothe

[2018-02-13 08:23] JesperLekland commented on #46
You could just modify your dataset to have the same "x-values" and just have `undefined` as values where it's suitable (they won't be rendered). I'll keep this in mind as I go forward though, maybe have something similar to `gridMin/Max` but for the x-axis

[2018-02-13 10:47] Amnesthesia commented on #46
That could be a possibility, definitely - perhaps having something like a Time chart would make sense as well, for cases where you want to plot lines along a time axis but where the different lines' dataPoints are independent of each other, but dependent on the timeline

[2018-02-13 11:28] JesperLekland commented on #46
A time scale for the xAxis is already included in the 3.0 release (planned release this week). But aligning two (or more) datasets still requires them to share the same x-axis domain (min/max)

[2018-02-13 14:15] Amnesthesia commented on #46
For my usecase, they already do share the same domain (e.g displaying data for a month, or the past year, etc) but each dataset has different points (e.g when displaying data for January 2018, one line may have points for the 3rd, 5th and 20th and another line may have points for the 5th, 6th and 18th).

That's awesome though! Looking forward for 3.0 — excited about partial charts as well! :-)

[2018-02-13 14:26] JesperLekland commented on #46
Well that shouldn't be a problem at all, should work out of the box. If it doesn't could you please supply a screenshot?

Partial Charts and the new `extras` api is awesome 💪

[2018-02-14 08:32] Amnesthesia commented on #46
Sure thing, as soon as it's released I'll give feedback on it — my app is heavy on these kinds of charts and I've found no good way to do it yet, so I'll be happy to test it out!

[2018-02-14 12:18] JesperLekland commented on #46
You should be able to do what you've described on the existing release though. Have you tried it?

[2018-02-14 16:11] Elijen opened #50 "React Native Web compatibility"
Is `react-native-web` compatibility planned? It seems that it should be possible to make this library compatible with both `react-native` and `react-native-web` but some work is necessary.

I was able to make it almost work by using webpack aliases:

`react-native` -> `react-native-web`
`react-native-svg` -> `svgs`

The biggest problem seems to be native only code such as `setNativeProps` and plat

[2018-02-14 18:02] JesperLekland commented on #50
Interesting. It's not something that is planned, nor has it been considered before. The platform specific files should actually be removed (will do that in next release), they're not exposed through the lib and are just some experiments I did in the early stages. The setNativeProps is something that is needed for the animations though, not sure how to work around that. Maybe with a `.native` file

[2018-02-15 18:32] seriiix opened #52 "[Feature Request] Get exact value of BarChart and AreaChart by tapping the XAxis points"
Like these charts:
https://imgur.com/a/5JpoA
https://imgur.com/a/5193v

[2018-02-16 05:14] wrsulliv commented on #50
@Elijen Thanks for the tip on `svgs`.  I too am using `react-native-svg-charts` with `react-native-web`.  I encountered the same `horizontal-labeled-bar-chart-component` issue, but removed these files from my fork for the time being.  Additionally, I was using `create-react-app`, but I ejected to manually alter the webpack config.

It looks like `setNativeProps` is currently used in only one place

[2018-02-16 09:23] JesperLekland commented on #52
This is actually something you could create yourself with the current api and components. Render a decorator on each point and supply your own `onPress` and render the appropriate `extra`. I'll consider implementing an example for the README but it is not something that will be implemented as an "out of the box" feature as it would bloat the API tremendously

[2018-02-16 22:10] seriiix commented on #52
Thank you very much. Looking forward to see your example.

[2018-02-18 20:13] JesperLekland commented on #44
I can't recreate this. I do however recognise the error message from other projects. I'ts normally when you haven't had the packager running on the correct port or not running at all ( sometimes it needs to be running while compiling the native code ).

I'll close this as I can't recreate it. Try with the latest release v3.0.0 and request a re-open if you still can't get it to work

[2018-02-18 20:13] #44 closed

[2018-02-18 20:17] JesperLekland commented on #42
This [snack](https://snack.expo.io/HyJ7yPPvf) works fine. Closing

[2018-02-18 20:17] #42 closed

[2018-02-18 20:18] #34 closed

[2018-02-18 20:18] #47 closed

[2018-02-19 03:39] stephenjen opened #55 "How to clip multiple sections on a linechart?"
How can a linechart be clipped at multiple places to create different segments?

[2018-02-19 04:01] stephenjen commented on #55
My bad, should have looked at the example more closely.

[2018-02-19 04:01] #55 closed

[2018-02-19 08:11] JesperLekland commented on #55
Glad the docs solved it 👍

[2018-02-19 22:24] sentry0 opened #56 "Help with pie chart labels"
I'm following the example code you've provided for generating labels on pie charts: https://github.com/JesperLekland/react-native-svg-charts#piechart-with-labels

How does one actually put a label in the circle or otherwise show the values of what's being plotted?

[2018-02-20 00:52] sentry0 commented on #56
I answered my own question :)

With respect, I would suggest that it's a very common use case for people to want label the chart for clarity.  I would recommend you update your example to include the labels.

Here's my solution:

`let pieData = [
            {
                value: 12521,
                color: '#d2b8fc',
                key: 'pie-1',
                label: 'Ancaster'

[2018-02-20 00:52] #56 closed

[2018-02-20 01:33] delkant commented on #56
This is not working, did you change anything else and didn't add that to the example?

[2018-02-20 01:40] sentry0 commented on #56
It's working for me, make sure you're importing the right `Text` object.

`import { Text } from 'react-native-svg'`

[2018-02-20 02:12] delkant commented on #56
Thanks that worked for me too, I was using the wrong Text component.

[2018-02-20 10:34] JesperLekland commented on #56
Glad you sorted it out yourself. I'll look into adding it to the examples

[2018-02-20 16:25] JesperLekland commented on #50
I've removed the the `horizontal-labeled-bar-chart` in version 3.0.0. I haven't gotten around to modifying `setNativeProps` yet though, just wanted to let you guys know.

[2018-02-20 17:33] Elijen commented on #50
@JesperLekland Thanks for the heads up. I think the problem might be in `svgs` as they use stateless components that don't support refs. Hence `this.component` is undefined, they also should add setNativeProps support if not added already.

I've just made it work without animation by adding a check before the setNativeProps call on my fork.

[2018-02-20 21:35] jayesbe opened #58 "Axis labels are rendered overlapping"
### What is the problem?
XAxis and YAxis labels are not rendering or are being rendered overlapping

### When does it happen?
On Render

### What platform?
* [ x] iOS
* [ ] Android (untested)

React Native version: 0.52

### Code to reproduce

[code]

[2018-02-21 08:37] JesperLekland commented on #58
Hi @jayesbe. Could you provide a screenshot? And when you say "are not rendering" what exactly do you mean? Regarding the overlapping part, the labels are spaced based on the scale and on the available space, they do not take each other into consideration, this is up to the user to handle, i.e create a wider/taller axis, smaller labels (fontSize) or rotate the labels

[2018-02-21 15:39] jayesbe commented on #58
@JesperLekland  will get an iOS screenshot. I just checked on Android and it worked :+1:

Was working on it all afternoon yesterday on iOS and it wasn't. Will try again today.

[2018-02-21 15:58] jayesbe commented on #58
@JesperLekland  please take a look at https://imgur.com/a/A18VE

this is an iOS screenshot. You can see how the labels are being displayed. On Android, the labels are showing as expected.

[2018-02-21 16:03] JesperLekland commented on #58
Hmm weird. The YAxis in the project example (storybook) works as expected. Could you provide me with a [expo snack](https://snack.expo.io/) that showcases the problem so that I can troubleshoot?

[2018-02-21 16:08] jayesbe commented on #58
hmm.. before I work on the expo snack..

perhaps its related to the way I am setting the height?  It is being set based on layout.

Here is the basics

[code]

[2018-02-21 16:09] jayesbe commented on #58
The height and width start at 1 and grow to a size based on the content

[2018-02-21 16:16] JesperLekland commented on #58
Why are you setting the height that way?

[2018-02-21 16:20] jayesbe commented on #58
the height may change because the height of the xaxis area may change.  If this is related to the height.. I will try changing the way this is handled.

[2018-02-21 16:23] JesperLekland commented on #58
I've noticed myself that `react-native-svg` have difficulties re-rendering when its container changes. It probably is related to the height handling as it works in the static examples.

[2018-02-21 16:24] jayesbe commented on #58
Thanks @JesperLekland  I will try rewriting the ui around this.

[2018-02-21 16:26] JesperLekland commented on #58
I also think there is a flexbox conformant way of handling your use case. The only time you should have to do what you're doing is when you want to animate the height changes.

Hope you fix it 👍

[2018-02-21 16:38] jayesbe commented on #58
@JesperLekland  all the examples have a static height of 200.. is it possible to create a chart without a height?  so that the chart takes up the height of its container ?

[2018-02-21 16:40] JesperLekland commented on #58
Charts support flex :)

[2018-02-21 16:45] jayesbe commented on #58
Do you have a flex example?

[2018-02-21 16:49] JesperLekland commented on #58
I don't unfortunately. Just think of a Chart or Axis as a regular View and you'll be fine, they should behave exactly the same way.

[2018-02-21 16:50] jayesbe commented on #58
I have removed all style from the example above.. including all width and height and onLayout.  The chart doesn't render at all.  I believe this is what I originally tried and then ended up with the onLayout solution.

[2018-02-21 16:54] JesperLekland commented on #58
Neither would a View without content. Just handle it exactly like you would with a View. i.e if you want a box that has a height of 200 pixels `<View style={{height: 200}}>` or one that takes up it's entire parent `<View style={{flex: 1}}`. An empty View, `<View/>` wouldn't render, neither do the Charts

[2018-02-21 16:55] JesperLekland commented on #58
If you want to be sure that your layout is correct. Just do it with `View` to begin with ( without children ) and then switch them out for the `react-native-svg-charts` component of your choosing with the same styling

[2018-02-21 16:56] jayesbe commented on #58
ok.. thanks will continue at it.

[2018-02-22 12:27] gre commented on #11
I would expect a "chart" library to have a built-in support of x and y axis. It's a big pain to have the positioning done on user land, it really shouldn't if you want this library to be a high level chart library.. At the moment, I feel this library is more helpers on top of SVG.

anyway, yeah, I know this is definitely tricky subject, the x<>y axis problem that was discussed is also a common pro

[2018-02-22 13:37] JesperLekland commented on #11
There are millions of ways for people to position their axes, doing it inside the library would introduce unnecessary complexity and would probably bloat the API with a bunch of `axisPosition`, `axisStyle` etc ( or the likes ) props. This library isn't meant to be too high level, as it would limit the user and/or  introduce unnecessary complexity.

I will however keep considering some kind of "wra

[2018-02-22 13:40] JesperLekland commented on #11
And just a reminder, "expectations" on open-source projects, specifically with few contributors, should always be managed accordingly. I do this on my spare time, for free

[2018-02-22 14:23] gre commented on #11
Ok understand this :) no worries I maintain lot of libs so I know ;)

(I'm currently looking at solution like https://github.com/FormidableLabs/victory-native for my need)

[2018-02-22 14:39] JesperLekland commented on #11
Nice! Then you know that people sometimes take your work for granted 😋 You have a lot of OSS, great job dude!

Victory charts is a really nice lib, but I've always considered it a bit too high level and bloated, hence this library :) Victory is a way more mature lib though

[2018-02-22 23:59] jayesbe commented on #58
@JesperLekland  thanks the flex worked just fine for the charts I was using BarChart, LineChart, and StackedBarChart.

However the example AreaChart is throwing an error

[code]

the above chart throws an error with flex:1 but works with a set height.

The error thrown is "width and height must be > 0"

If I remove the style prop, it gives another error

SurfaceView should have explicit width and

[2018-02-23 00:05] jayesbe commented on #58
@JesperLekland nevermind.. it must be the same issue in some way. Thanks again.

[2018-02-23 00:05] #58 closed

[2018-02-23 15:05] sj602 opened #61 "render 2 line charts into 1 chart?"
is there a way to render 2 line charts in 1 chart?
I want to merge these 2 line charts to 1 chart
and also render another Yaxis to the right of the merged chart.
|  ------------------  |
|  ------------------  |
|  ------------------  |
|  ------------------  |
Yaxis1               Yaxis2

<img width="276" alt="charts" src="https://user-images.githubusercontent.com/18183483/36600767-82c8ac6e-18f6-

[2018-02-23 15:06] JesperLekland commented on #61
absolute position the second chart on top of the first chart. See [layered charts](https://github.com/JesperLekland/react-native-svg-charts#layered-charts)

[2018-02-24 01:25] sj602 commented on #61
Thanks! and sorry It was just a stupid question :)

[2018-02-24 01:26] #61 closed

[2018-02-26 07:15] hansen94 opened #62 "Different inner/outer radius for piechart?"
First of all, thank you for the library. It's awesome. I've been using it for making charts on my react-native applications.
I was just wondering if there is any way to have different inner/outer radius in piechart for different data point?

[2018-02-27 10:17] chauhanshubham opened #63 "Horizontal BarChart"
Any easy way out to create horizontal bar charts with x-axis (which would eventually look like the y)?

[2018-02-27 10:22] JesperLekland commented on #63
Nothing I've implemented yet. What about just rotating a regular BarChart 90 degrees?

[2018-02-27 10:26] JesperLekland commented on #62
Thank you for the kind words 🙂
Not implememted yet but a great feature request!
A PR would be highly appreciated but I will definitely look into it eventually.

[2018-02-27 10:54] chauhanshubham commented on #63
I tried that, works with the bar chart, but seems to be a lot of changes for the x-axis (which i rotated by 270 for the alignment).
I'm stuck at changing the width of the Text in XAxis (Type.BAR), to make it render the full text, in order to rotate it and make it work. For now it just matches the width of the bar (which it should in the vertical bar graph scenario)

The ability to do something [li

[2018-02-27 11:45] JesperLekland commented on #63
What version of the library are you using?
In 3.0.0 you can rotate each label individually. Check [`react-native-svg-charts-examples`](https://github.com/JesperLekland/react-native-svg-charts-examples).

I'm not sure you'll be able to exactly what you want though. I'll take a look at it in the near future. If you figure out a solution I would really appreciate a PR :)

[2018-02-27 16:15] stefblokdijk opened #66 "XAxis formatLabel not showing value"
Hey.

I'm stuck with the formatLabel prop. I want to show the date under my chart. Now it just shows the array key.

This is the array that gets returned by the `this._chartXAxis()` function:

`["2018-02-20", "2018-02-21", "2018-02-22", "2018-02-23", "2018-02-24", "2018-02-25", "2018-02-26", "2018-02-27"]`

![image](https://user-images.githubusercontent.com/15145744/36739941-ed70c508-1bbf-11e8-8a7

[2018-02-27 18:51] jmolinao commented on #66
i have the same issue. =S

[2018-02-27 21:08] JesperLekland commented on #66
Hey guys! You need to add the `xAccessor` prop. If it's omitted the XAxis will assume you're only interested in the index. i.e `xAcessor={ ({ value }) => value }`

[2018-02-27 21:34] JesperLekland commented on #50
One thing I just thought of, `animated` is default `false` in 3.0.0. Is it still an issue?

[2018-02-28 02:38] stefblokdijk commented on #66
Thanks for the quick reply! That worked for me. Btw in your example you use `xAcessor` instead of `xAccessor` took a few mins to realize why it wasn't doing anything.

Also, I noticed if you pass a string with a date, it won't show the XAxis. I found a way around with [Moment.js](https://momentjs.com/) like this:

1.) Change each date to Unix timestamp when passing it to the data prop:
`moment(dat

[2018-02-28 07:19] mocon opened #67 "Support for raster <Image /> in "PieChart with label"?"
Hi there. Thanks for this awesome library!

I'm trying to place .png images into the circular labels, is this supported?

Here's my code so far:

[code]

[2018-02-28 09:40] dineshmm23 opened #68 "Different color for each bar in a bar chart;"
### What is the problem?
**Warning: Failed prop type: Invalid prop ‘fill‘ of type ‘array‘ supplied to ‘AnimatedPath‘, expected ‘string‘.**
### When does it happen?

      {
        values: [10,20,40],
        positive: {
          fill: ["#a7d4fb", "#a7d4fc", "#a7d4fd"]
          // warning Happens at this points...i was trying fill different color for each bar
        }
      }
    ];

### What p

[2018-03-01 08:59] JesperLekland commented on #68
as you've noticed yourself it's not supported to pass an array colors. The only way to do what you want right now is to create a dataset for each datapoint and set a color for that. Have a look at the multiple data set example for barcharts. I will consider this a feature request

[2018-03-01 09:05] JesperLekland commented on #67
Hi @mocon!

It should indeed be supported. Does it not work as expected? The rendering of the <Image> is done 100% by [`react-native-svg`](https://github.com/react-native-community/react-native-svg) so you might want to check there for more help

[2018-03-01 09:07] JesperLekland commented on #66
Yeah that was a simple typo, my bad.

If you pass a date string you must also make sure that the correct `scale` is used (how else would it know to layout the labels?). Again, check out the examples repo 🙂

[2018-03-01 13:57] sofiane-soufi opened #69 "Two colors same graph"
Hello,

I'm having some trouble putting two colors on the same chart like this image:

![screen shot 2018-03-01 at 8 56 09 am](https://user-images.githubusercontent.com/14898088/36848147-6fc9d9f8-1d2e-11e8-908b-30ac044cc316.png)
Does anyone have an idea of how can I do so?

Thank you,
Sofiane.

[2018-03-01 14:14] JesperLekland commented on #69
Hi @sofiane-soufi!

This is fully supported 🙂 Please take a look at the [examples repo](https://github.com/JesperLekland/react-native-svg-charts-examples), or more specifically [this example](https://github.com/JesperLekland/react-native-svg-charts-examples/blob/master/storybook/stories/partial-chart/area-chart.js) for inspiration

[2018-03-01 14:17] uppercase-army opened #70 "Layered LineChart with X & Y Axis"
### What is the problem?
I can't get the LineCharts to overlap correctly. You will see the gradient colour line is positioned correctly, however I can't get the white line to overlap correctly. I suspect it has something to do with the "StyleSheet.absoluteFill", have tried various style props but can't get it to work.

### When does it happen?

### What platform?

* [x] iOS
* [ ] Android

react-na

[2018-03-01 14:36] JesperLekland commented on #70
Think of your charts as regular `View` components. If you would position Views in this way they too would overlap incorrectly. Place a `<View>` around your charts (not the axis), making sure that they have the same parent bounds

[2018-03-01 19:57] seriiix opened #71 "ProgressCircle takes empty space when using startAngle and endAngle"
I want a half circle chart but when i set startAngle and endAngle the invisible bottom part takes space and because of that, the `dasdsa` text is positioned far away.

<img width="980" alt="screen shot 2018-03-01 at 11 18 24 pm" src="https://user-images.githubusercontent.com/16124619/36866193-e0acbda2-1da6-11e8-8e3a-cadff9d979ff.png">

[2018-03-02 02:50] mocon commented on #67
Thanks @JesperLekland,

Yeah it's very strange, the code above throws no errors, but the image doesn't appear to be rendering. I tried looking through all the `react-native-svg` issues as well, but I didn't see anything similar. I believe my syntax is correct.

<img width="762" alt="example" src="https://user-images.githubusercontent.com/4172870/36881064-133845d2-1d81-11e8-84ed-94212b87ed18.png">

[2018-03-02 02:51] caihc001 opened #72 "No component found for view with name "RNSVGGroup""
![screen shot 2018-03-01 at 9 47 56 pm](https://user-images.githubusercontent.com/22379323/36881107-67077b6a-1d9a-11e8-8f00-5efe3d92c603.png)
I install the react-native-svg and do react-native-link. Get these error when I am trying the line-chart example. I try to reboot but still got these. Any idea how to fix this?
Thank you.

[2018-03-02 04:06] sofiane-soufi commented on #69
Hello @JesperLekland
Thank you for your quick reply.

I'm trying to run the example but it doesn't show anything. When I set the fill to a hex value, I can see the graphic, but using the url(#identifier), doesn't seem to work.

Do you have any idea why?

Thank you,
Sofiane.

[2018-03-02 05:17] sofiane-soufi commented on #69
Maybe I need react-d3-shape ?

[2018-03-02 10:05] JesperLekland commented on #67
Hmm... haven't tried it myself. My best suggestion is to try to render a standalone image using just `react-native-svg` and see if you can make it work.

[2018-03-02 10:10] JesperLekland commented on #69
It's very hard to help without a reproducible demo.
I can't speak for Expo unfortunately, the library works as intended locally.

[2018-03-02 10:11] JesperLekland commented on #72
It looks like your link has failed. Try to get `react-native-svg` working first (with a minimal example). This most likely has nothing to do with this library

[2018-03-02 10:29] JesperLekland commented on #71
Hi @seriiix 🙂 I'll look into a fix. It's not a trivial fix as d3 uses a full circle to calculate the svg path. I'll get back to you

[2018-03-02 13:34] sofiane-soufi commented on #69
Any tips on how I can debug this?

[2018-03-02 13:48] sofiane-soufi commented on #69
Here's what it says now:

TypeError: Cannot read property 'length' of undefined

Here's the code where the error occur:

[code]

[2018-03-02 13:51] sofiane-soufi commented on #69
On the version that I have, data is dataPoints (according to the AreaChart module). Do you know if I should update it?

[2018-03-02 14:49] fqueiruga opened #73 "Setting innerSpacing and outerSpacing separatedly on charts and axises"
I would like to propose adding a way to just set the inner spacing on bar charts and axis, without setting the outer one. Currently both spacings are set at the same time (https://github.com/JesperLekland/react-native-svg-charts/blob/master/src/bar-chart.js#L99).

I would be open to provide a MR. with the solution

[2018-03-02 16:10] fqueiruga commented on #73
I've got an API proposal. 2 new props would be added to all components with a _spacing_ prop, _spacingInner_ and _spacingOuter_. These props would default to _undefined_ and, if present, would override the value of _spacing_. Some examples

**Example 1**
Current behavior of _spacing_:  `<StackedBarChartExample showGrid spacing={0.5} />`
![image](https://user-images.githubusercontent.com/5738588/36

[2018-03-02 16:41] JesperLekland commented on #73
Hi @fqueiruga and thank you for the great issue. It sounds perfectly reasonable. I'll go ahead and implement it this weekend :)

[2018-03-02 16:42] JesperLekland commented on #69
dataPoints is indeed an old version of the library. Use >=3.0.0

[2018-03-02 16:54] fqueiruga commented on #73
Hi @JesperLekland don't worry, I have a PR halfway implemented, I'll finish it on Monday!

[2018-03-02 17:04] caihc001 commented on #72
Sorry about that. This is the bug from react-native-svg.

[2018-03-02 17:04] #72 closed

[2018-03-04 16:25] JesperLekland commented on #66
Closing this issue now, feel free to reopen if you still think this is a problem

[2018-03-04 16:25] #66 closed

[2018-03-04 16:48] JesperLekland commented on #67
I've confirmed it works. I think your issue is your `x` and `y` coordinates of the image, they're no where near close to the circle. There's an example over at the [examples repo](https://github.com/JesperLekland/react-native-svg-charts-examples), check it out.

Feel free to reopen if you think this is an issue with this library.

[2018-03-04 16:48] #67 closed

[2018-03-04 17:49] #62 closed

[2018-03-04 17:49] #63 closed

[2018-03-04 17:49] #68 closed

[2018-03-04 17:49] #73 closed

[2018-03-04 17:56] fqueiruga opened #76 "Customize styles for each of the axises items."
In our project we need to customize the axis item styles indivitually on a chart. AFAIK, the axis only allows setting styles for all the items at once.

What I'm trying to achieve (:
<img width="305" alt="multicoloraxis" src="https://user-images.githubusercontent.com/5738588/36948489-e445832c-1fdb-11e8-9b0b-70be78b121a4.png">

I think a nice solution for this would be making the `svg` prop on the

[2018-03-04 17:57] fqueiruga commented on #73
Thank you for implementing this. Great library!

[2018-03-04 18:05] JesperLekland commented on #76
Hi again and thank you once more for your support :)

I think the best approach would be to align it with the other charts API's, e.g letting the user add an `svg` property to each entry in `data` and having that override the "global" svg for the Axis. See for example what's done with Bar/PieChart when you override `svg` or `arc`. This wouldn't break the existing API either as it already allows fo

[2018-03-04 18:10] fqueiruga commented on #76
Thank you for replying so quickly! Lovely library.

I agree, I was just taking a look at the 4.0.0 release changes and this approach makes more sense. I'd love to work on this tomorrow.

What would a PR need to be accepted, other than changing the code, the prop types and the documentation?

[2018-03-04 18:16] JesperLekland commented on #76
Fantastic! :D

The documentation in general around the new, more powerful, data prop (with complex objects) could use some clarification in order for people to better understand its power.

In addition to what you've mentioned you should make sure to implement a storybook "story" with an example. In addition to that you should also add said example to [this](https://github.com/JesperLekland/react-

[2018-03-04 18:24] fqueiruga commented on #76
Perfect! I'll give it a try and open a MR

[2018-03-06 15:04] JesperLekland commented on #70
I hope you solved it. I will close this issue since I've not heard from you. Feel free to reopen if the problem persists

[2018-03-06 15:04] #70 closed

[2018-03-07 10:30] sarykemmoun opened #79 "Render values at the center of the pie."
Hello.
First, thanks for your awesome library.
I like to render the title and value of the chosen slice at the center, something like this:
![screenshot from 2018-03-07 12-26-04](https://user-images.githubusercontent.com/28590349/37087409-dad4ee1c-2202-11e8-823c-41720f8ac9ae.png)

I've looked for a prop or something else to do it, but I didn't succeed.
Do you have any idea for me? Tnx.

[2018-03-07 10:52] JesperLekland commented on #79
Simply render whatever you want absolutely position on top of the chart. No need to have the chart handle this

[2018-03-07 12:48] JesperLekland commented on #79
I've done it several times on different devices with the proposed solution 🙂

[2018-03-07 13:31] JesperLekland commented on #79
I'll go ahead and close this as it's not really an issue with this library. I'll consider making an example for [`react-native-svg-charts-examples`](https://github.com/JesperLekland/react-native-svg-charts-examples). If you do get it to work I would appreciate a PR to the examples repo, your graph looks really nice :)

[2018-03-07 13:31] #79 closed

[2018-03-07 14:48] dineshmm23 opened #81 "Error while updating property 'd' in shadow node"
### What is the problem?
Unable to set the value of barchart to 0 which causes me to give below error.

![screenshot_2018-03-07-20-12-30 1](https://user-images.githubusercontent.com/22963956/37098690-8696510a-2244-11e8-8f34-6720103211a0.png)

### When does it happen?
[code]

I'm using these [Barchart](https://github.com/JesperLekland/react-native-svg-charts-examples/blob/master/storybook/stories/b

[2018-03-07 15:28] JesperLekland commented on #81
Are you using the `yAccessor` prop? Please provide a full example for us to be able to help

[2018-03-08 08:20] dineshmm23 commented on #81
<BarChart
                    style={{ height: 200, width: 200 }}
                    data={barDataProduction}
                    showGrid={false}
                    svg={{ fill: 'rgb(167, 212, 251)' }}
                    yAccessor={({ item }) => item.value}
                    contentInset={{ top: 20, bottom: 20 }}
                  />

[2018-03-08 08:33] dineshmm23 commented on #81
yes i have used it .. but even when if reinstall the `node_modules` it gives same error..

[2018-03-08 09:13] JesperLekland commented on #81
I'll have a look and get back to you :)

[2018-03-08 09:51] #81 closed

[2018-03-08 09:53] JesperLekland commented on #81
It was indeed a bug, fixed in 4.0.1 👍

[2018-03-09 14:37] wkwyatt commented on #52
@JesperLekland Could you provide a quick example of how to implement?  I have been struggling with it the last couple of weeks.

[2018-03-11 16:42] JesperLekland commented on #71
I've looked into it and while it's not the most elegant solution I would advise you to simply do `marginBottom: -100` on the ProgressCircle. I've tested it on both Android and iOS and it works as expected. I tried to implement an automatic solution but it became way to complex to support all different combinations of `startAngle` and `endAngle`. I hope this solves your problem, if it doesn't feel

[2018-03-11 16:42] #71 closed

[2018-03-11 16:53] JesperLekland commented on #69
closing this as it's probably due to using old version of library. Feel free to reopen if problem persists

[2018-03-11 16:53] #69 closed

[2018-03-12 12:13] Amnesthesia opened #83 "Touch support"
Hi,

Is touch support, e.g clicking datapoints and/or zooming in graphs, something that's planned for a future? Would be fantastic!

[2018-03-12 13:07] JesperLekland commented on #83
Hi again, touch support is there by default through react-native-svg-charts. Using decorators/extras with onPress solves that problem (i.e nothing built in but easy to implement yourself).

Zooming should be doable by just animating the scale, handling touches is the hard part, but again this is not something that is built into the library, and probably never will be. I'm trying to keep this as lo

[2018-03-12 13:08] JesperLekland commented on #76
Available in 4.1.0

[2018-03-12 13:08] #76 closed

[2018-03-12 17:22] colin-young opened #84 "Stacked bar chart - horizontal support?"
Is there support for rendering the stacked bar charts horizontally? Not sure if this is a user problem (i.e. me) or it's just not supported. I suspect the latter because I don't see anything in the js for that chart type that looks like a horizontal property.

On the other hand, I've been unable to adapt the horizontal line extra (https://github.com/JesperLekland/react-native-svg-charts-examples/b

[2018-03-12 20:47] Amnesthesia commented on #83
Awesome, thank you :-)

[2018-03-12 20:47] #83 closed

[2018-03-13 08:48] JesperLekland commented on #84
Hi @colin-young! You're indeed correct that the stacked bar chart does not yet support the horizontal prop. Your PR seems to remedy this problem though 🎉

Regarding the `extras` I see now that the Stacked Charts have fallen behind the API and needs to be updated. `renderExtra` is no longer a used property, each `extras` entry is expected to be called directly

[2018-03-17 17:21] rostislav-simonik opened #86 "extras and renderExtra in StackedAreaChart."
Hi Jesper,

what’s the purpose of extras and renderExtra in StackedAreaChart?

I understand concept in other charts, there are only extras, which can contain render routines, but I don’t understand what intention you have addressed with this map.
{ extras.map((item, index) => renderExtra({ item, x, y, index, width, height })) }

Could you just point please a case when this can be handy.

Thanks fo

[2018-03-17 17:25] rostislav-simonik commented on #86
Maybe intention was to execute extras per each area, wasn't it ?

[2018-03-18 09:58] 2joocy opened #87 "Using both X and Y Axis on the same dataset?"
### Using X and Y Axis on the same dataset?

Is it possible to align the axis correctly, using the same dataset? I tried something along the lines of this, and mixing the views up abit, but seems to get messier for each try. Help would be greatly appreciated.

[code]

[2018-03-18 16:18] JesperLekland commented on #86
Hi!

This is actually legacy code (simply forgot to update it), it will be fixed in the upcoming release

[2018-03-18 16:34] JesperLekland commented on #87
I've updated the examples repo with an "x- and y-axis" [example](https://github.com/JesperLekland/react-native-svg-charts-examples/blob/master/storybook/stories/both-axes.js)

[2018-03-18 18:34] JesperLekland commented on #86
It's migrated to the latest `extras` api in 4.2.0 👍

[2018-03-18 18:34] #86 closed

[2018-03-18 18:35] JesperLekland commented on #87
Closing this issue, feel free to reopen if this didn't solve your problem

[2018-03-18 18:35] #87 closed

[2018-03-18 19:54] JesperLekland commented on #11
I've implemented a solution but as I feared it becomes fragile when the user is allowed to individually style the components, e.g set margin on the yAxis, padding on the Chart etc. Maybe that's expected behaviour but it doesn't feel that nice. Do you guys have any input? Would you expect the xAxis to automatically align when you set `marginLeft` on the chart? I'll try to create a branch with my so

[2018-03-18 20:39] #84 closed

[2018-03-19 16:19] msevestre opened #89 "Duplicate X-Axis labels."
Hi @JesperLekland ,

First of all, thanks for a great library. It is very powerful and easy to use.

### What is the problem?
I am trying to wrap my head around the way I can format / customize the X-Axis.  The dataset I am displaying is a list of {x:date, y:number}.  For some reason, I keep getting duplicate labels on the X-axis and I'd like to know what I am doing wrong:

For formatting, I am us

[2018-03-19 16:32] msevestre commented on #89
I'd like to add that if I set the numberOfTicks to 3, I only get 2 entries on the X Axis...

![image](https://user-images.githubusercontent.com/1041237/37608676-906e9972-2b71-11e8-9b31-2cb492bb2d73.png)

[2018-03-19 20:06] ChrisBrinton opened #90 "XAxis & scaleTime & renderGrid (CustomGrid)"
Is there a way to access the array of XAxis values determined by scaleTime in order to create vertical lines in a custom renderGrid? Ive created an example (by mashing the XAxis scaleTime and CustomGrid examples) that shows the issue Im trying to work around. I'd like to have the XAxis legend values line up with the vertical lines Im creating in the CustomGrid.

    import React from 'react'
    i

[2018-03-19 20:23] ChrisBrinton commented on #90
Additionally, is the numberOfTicks on XAxis a hint rather than a firm value? The above code yields the below chart with 8 XAxis ticks.

![untitled](https://user-images.githubusercontent.com/18555846/37620163-d4ad1b16-2b91-11e8-95c0-256c86c6b942.png)

[2018-03-19 22:15] msevestre commented on #90
@ChrisBrinton Indeed looks very similar.
Do you have any insights as to what the `originY` value means? You set it to `30` in your example. I am trying to find a rational as to what it means but I was not successful so far...

[2018-03-19 22:16] msevestre commented on #90
Also the `marginHorizontal: -15` is also somewhat unclear to me. It seems that axis position and labels are not related whatsoever. How can we ensure that we do not shift the axis too much to the left or right?

[2018-03-20 01:00] msevestre opened #91 "Question about ContentInset for XAxis"
I am a bit puzzled by the documentation regarding the XAxis props.
Especially this sentence

I do not understand why setting `contentInset={{ top: 10, bottom: 10 }}` on the chart would lead to the XAxis needing to have `contentInset={{ left: 10, right: 10 }}`. I understand that this is required for the Y Axis but the X-Axis should not be affected by vertical padding.  I am clearly missing somethin

[2018-03-20 08:15] JesperLekland commented on #91
You are correct in your assumption. What the readme states is that if the chart has contentInset (non zero horizontal values) the XAxis needs the same horizontal inset.

Does that answer your question?

[2018-03-20 08:21] JesperLekland commented on #89
Hi @msevestre! When you use `numberOfTicks` we use the d3 implementation of ticks calculation, i.e it does the closest and most even approximation of datapoints to fit the number of ticks based on the data extent. Please see [this](https://github.com/d3/d3-scale#time_ticks). This is the de facto standard of tick calculation.

[2018-03-20 08:30] JesperLekland commented on #90
Hi guys! In this particular use case you can use the d3scale.scaleTime in the grid calculation.
Without digging too deep I think you could do something like this

[code]

[2018-03-20 08:32] JesperLekland commented on #90
The above is just something I threw together to offer inspiration, hopefully it helps you.
Regarding the `numberOfTicks` it is indeed a suggestion. Read up on the calculation [here](https://github.com/d3/d3-scale#time_ticks), this is the de facto standard of tick calculation

[2018-03-20 13:14] msevestre commented on #91
@JesperLekland Thanks for the quick feedback.

Let's turn the question around then. If the XAxis has some horizontal contentInset as in the example, should not the chart also has them as well? In the ReadMe example, my assumption would be that the X-axis would not be aligned with the chart as expected.

Also the XAxis.svg has a property originY that is being set to various values in your example.

[2018-03-20 13:20] msevestre commented on #89
@JesperLekland Ok I understand. Is there a way that I can avoid having duplicate entries on the X-label? This just looks very weird.

[2018-03-20 14:21] JesperLekland commented on #89
The thing is that `ticks` returns evenly spaced data points, so if you don't truncate them by showing only the date you'll see that they are the best approximation of the data extent. In order to show what you want you'll need to tweak the data from the start, to only include one point from each date. Which is fair enough if you think about it

[2018-03-20 14:25] JesperLekland commented on #91
Fair enough. In the example the xAxis has both a negative horizontalMargin and a positive contentInset of the same value. This is to allow the xAxis to be bigger than the chart but still only calculate its coordinates in the same space as the chart. If those props would be omitted the labels would be clipped (at least on Android). I hope that answered your question.

originY is a bit tricky, I wou

[2018-03-20 17:24] ChrisBrinton commented on #90
Thanks Jesper, that was just the pointer I needed. I was able to get it working close enough to the way that I wanted. For completeness, here is the code for the above example corrected to work properly.

    import React from 'react'
    import { LineChart, XAxis } from 'react-native-svg-charts'
    import { View } from 'react-native'
    import { G, Line } from 'react-native-svg'
    import date

[2018-03-20 17:24] #90 closed

[2018-03-20 21:29] msevestre commented on #89
@JesperLekland Yeah ok. I can appreciate the logic behind that.
Thanks for your quick response. Cheers,

[2018-03-20 21:29] #89 closed

[2018-03-20 21:30] msevestre commented on #91
Perfect. Very clear answer. Thanks again

[2018-03-20 21:30] #91 closed

[2018-03-23 03:35] namnn89 opened #92 "remove a part line in chart"
I think remove a part charts from to  0 -> at the bottom. Sorry my English not good

[code]

![ea60cf52-a717-47c5-8de0-119477fadc66](https://user-images.githubusercontent.com/20234482/37810318-f7ad0a1c-2e85-11e8-92b8-b59779596233.png)

[2018-03-23 08:55] JesperLekland commented on #92
Hi! See this [repo](https://github.com/JesperLekland/react-native-svg-charts-examples) or mor specifically [this example](https://github.com/JesperLekland/react-native-svg-charts-examples/blob/master/storybook/stories/partial-chart/area-chart.js) to learn how to clip charts

[2018-03-23 21:55] ittna opened #93 "Decorator is drawn under extras"
I have AreaChart which draws line with extras and renderDecorator which draws circles. Circles appear to be under the line. Is it possible to somehow change the order?

[2018-03-24 14:40] ittna commented on #93
![screen shot 2018-03-24 at 16 39 22](https://user-images.githubusercontent.com/2304597/37865221-0efa23ec-2f82-11e8-954c-882d4b498c6e.png)

[2018-03-24 14:48] ittna commented on #93
I guess as workaround I could use LineChart to draw lines and decorator instead of using extras.

[2018-03-25 10:06] JesperLekland commented on #93
Yeah that should definitely be supported. I'll try to figure something out. Thanks for reporting 👍

[2018-03-27 22:09] philsalesses commented on #52
Not sure if this is the best approach, but something like this works well enough for me.

[code]

[2018-03-28 21:22] philsalesses commented on #92
I think what he's saying is it's clipped by default. I have the same issue and can't figure out how to unclip it.

See the bottom right for an example.

My guess is that the value of the chart, when the values are stretched to fill the height, and a curve is applied, the curve sometimes is outside the bounds of the canvas. Unsure how to fix this one.

![image](https://user-images.githubusercontent

[2018-03-29 07:26] JesperLekland commented on #92
If that is the case simply use the `contentInset` prop and apply some inset to top and bottom 👍

[2018-03-29 13:02] henricazottes opened #96 "Misalignment on YAxis and overlapping labels on XAxis"
### What is the problem?
The YAxis misaligns with the chart grid randomly on dynamic data update
The XAxis gets its labels overlapping radomly on dynamic data update

### When does it happen?
When the chart loads first YAxis is aligned and the labels of Xaxis not overlapping, but after changing the "from" and "to" selector, the data updates and:
- sometimes the YAxis gets misaligned with chart gri

[2018-03-29 13:28] henricazottes opened #97 "Numberofticks, scaleTime and XAxis configuration. Help needed"
### What is the problem?
I'm using timestamped values and I'd like to have my XAxis display the month and the day. However, when severals points are from the same day, I get a duplicated date label on the XAxis (as I do not display the hours).

Second problem, when I set numberOfTicks to a given value the number of labels displayed doesn't correspond. For example, see the results when I `console.l

[2018-03-29 13:41] msevestre commented on #96
@henricazottes I don't visually see the issue with Misalign screenshot. Can you explain what is misaligned?

You are displaying different ranges of data and as such the `density` of points on the X-axis is different. I had a similar issue in #89 . The number of ticks is calculated by d3 and based on your data density.

[2018-03-29 13:42] msevestre commented on #97
This is the same as #89 . Density of points too high?

[2018-03-29 13:43] henricazottes commented on #96
@msevestre you can see on the first screenshot that YAxis labels are aligned with the grid of the chart, but on the second screenshot it is not (I updated the image to show it better).

I'll check your issue, thanks :)

[2018-03-29 14:16] JesperLekland commented on #96
I myself have experienced problems when trying to dynamically update data from time to time, I think the problem originates in `react-native-svg`. I've put several failsafes in the code to postpone rendering until all measurements are made (for example), otherwise the change wouldn't render on the svg canvas. Will have to investigate further

[2018-03-29 14:19] JesperLekland commented on #97
Indeed the same as #89. What is lesser known is that the data supplied to the xAxis doesn't have to be the exact same data as supplied to the chart, it just have to have the same extent and scale. In other words you could yourself pass in just the dates you want (filter out duplicated days).

[2018-03-29 16:16] msevestre commented on #97
@JesperLekland This is some great tip. I am going to try it out on my #89 problem

[2018-03-29 16:28] msevestre commented on #97
Did you do `data={xAxisData}` for the `xAxis`?

[2018-03-29 16:28] henricazottes commented on #97
Exactly

[2018-03-29 18:04] philsalesses commented on #92
So here's the problem with that. I'm already adding that dynamically to *create* the chart. I'm trying to make a chart that shows price over 24 hours. So the first data point on the left, *needs* to start at the origin. Because the chart will always scale the data 100%, I'm normalizing the first value and then adding contentinset top and bottom depending on where the first value is in relation to

[2018-03-30 08:05] henricazottes commented on #89
I don't see any effect on the problem as the extent is based only on the lower and the greater values. A dataset with only two points will have the same extent as a dataset with one point per day, two points per day, or X points per day as soon as they are in the same range. Maybe I'm missing something but for me data density has no impact on the X axis :/

@msevestre would you mind sharing how yo

[2018-03-30 09:37] henricazottes commented on #96
@JesperLekland could you give an example of your failsafes ?

For the first rendering I wait until the page is displayed (after animation is completed), then fetch the data, then display the chart. But even with that, I see the chart first drawing with tiny Y scale and some milliseconds after it grows to its final size.

For dynamic update, bugs are more common and I don't see where I could improv

[2018-03-30 17:45] msevestre commented on #89
@henricazottes I have not found a great solution yet. At the moment I am showing the time as well (something like Tue 28th, 6am , Tue 28th 6pm etc... but I am not very happy with the solution.
I am going to try what was suggested in issue #97. I know you said it does not work  (and I was really hoping it would :))) but I am going to give it a try anyways and report back.

[2018-03-30 17:45] msevestre commented on #97
@henricazottes I am going to try this approach as well and let you know

[2018-03-30 19:12] JesperLekland commented on #97
have you guys tried to omit `numberOfTicks`? Then the axis will respect the number of data points you pass in.

[2018-03-30 19:18] JesperLekland commented on #92
@philsalesses I don't follow. The contentInset is simply the "padding" used by the chart to help with clipping, as doing non-linear curves might extrapolate values outside of the original data range, i.e outside of the canvas. Clipping should for example never happen when `curve={shape.curveLinear}`. Why would you ever need dynamic contentInset?

[2018-03-30 19:21] JesperLekland commented on #92
Upon re-rereading your comment it sounds like you might be misusing the contentInset. To have the first data point start at zero and all others to be relative to that one why not just subtract all of your data points with the first value?

[2018-03-31 15:52] emretekince opened #98 "XAxis not rendering with array of strings"
### What is the problem?

### What platform?
 Android 8

React Native version: 0.54.4

### Code to reproduce

[code]
![screenshot_2](https://user-images.githubusercontent.com/5754074/38164790-532c05fe-3512-11e8-99b4-9c231697c0b0.png)

But it renders when change data to array of numbers like [1,2,3]

![screenshot_3](https://user-images.githubusercontent.com/5754074/38164925-a0b6fd04-3514-11e8-9504-

[2018-03-31 16:45] emretekince opened #99 "Horizontal line always appear"
### What is the problem?
Horizontal 0 line is always appear there.

### When does it happen?

### What platform?

 Android 8

React Native version: 0.54.4

### Code to reproduce

[code]
![screenshot_10](https://user-images.githubusercontent.com/5754074/38165438-0ba03980-351c-11e8-9f3a-2cb24687cd50.png)

[2018-03-31 18:17] JesperLekland commented on #99
that is how d3 draws areas with a `stroke`, don't use stroke. See the examples repo for inspiration on how to solve your problem

[2018-03-31 18:20] JesperLekland commented on #98
How would it possibly distribute just strings along an axis? What is the data extent?.. See the examples repo for inspiration. Please read the README and put in a little effort to understand how a library works  before posting issues

[2018-03-31 18:20] #98 closed

[2018-04-04 18:49] Sprit3Dan opened #101 "Extras overlap decorators"
### What is the problem?
Extras are rendered over decorators.

### When does it happen?
When rendering any type of chart.

* [X] iOS
* [X] Android

React Native version: 0.53.0

### Code to reproduce
Here's a minimal reproducible example(unneeded details cleaned)
[code]

That gives us this kind of a picture.
<img width="381" alt="screen shot 2018-04-04 at 21 43 51" src="https://user-images.githubu

[2018-04-05 12:52] Neha3011 commented on #93
@ittna Were you able to figure out workaround for this? I am facing the same issue. It would be really helpful if you can help me out, have been stuck on this for a while. Thanks

[2018-04-05 13:52] JesperLekland commented on #93
I haven't had time to look at it yet unfortunately. I'll give it a go as soon as I can but in the meantime I'd love a PR

[2018-04-05 14:00] Neha3011 opened #103 "Add text over AreaChart"
### What is the problem?
I want to add Text/label over the areachart region. But when I add Text from react-native-svg to the decorators method, the app crashes without error. If I remove it, the app works fine. I am looking to generate something like this:
<img width="261" alt="screen shot 2018-04-05 at 7 29 56 pm" src="https://user-images.githubusercontent.com/10024090/38370472-ca145c5e-3907-11e

[2018-04-05 14:12] JesperLekland commented on #103
"Crashing without an error" isn't possible, check the native logs for a stack trace

[2018-04-05 14:28] Neha3011 commented on #103
Hey @JesperLekland Thanks for responding. I am using Xcode simulator to run this code which is run using command react-native-scripts ios. When the Expo closes, there is no stack trace on the terminal. I tried to find a way to find the stack trace, but I am unable to.

[2018-04-05 14:35] Neha3011 commented on #103
Hey @JesperLekland Thanks for responding. I am using Xcode Expo simulator to run this code which is run using command react-native-scripts ios. When the app closes, there is no stack trace on the terminal or JS debugger. I tried to find a way to find the stack trace, but I am unable to.

[2018-04-05 14:57] JesperLekland commented on #103
Ugh, I hate Expo... I'll try to run your example when I get the chance and see if I can find what's going on

[2018-04-08 16:22] nthegedus opened #104 "onPress on StackedBarChart"
### What is the problem?
Trying to use `onPress` with StackedBarChart

### When does it happen?
I'm trying to use onPress as same way the BarChart, but it crashes when try to render the graph.
### What platform?

* [X] iOS
* [X] Android

React Native version: 0.50.4

### Code to reproduce

[code]
### Stacktrace
[code]
### Notes
```onPress``` on StackedBarChart is possible? I know the differences b

[2018-04-09 09:04] JesperLekland commented on #104
Hi @nthegedus!

The `StackedBarChart` have not been updated to support the `svg` data property, i.e it does not support onPress at the moment. This is of course something that should be supported but not something I can promise that will be implemented especially soon.
You're very welcome to provide a PR with this functionality and I'll happily take a look at it.

[2018-04-09 13:55] Neha3011 commented on #103
Hey @JesperLekland, I was able to get system logs.
`Apr  9 19:22:57 Nehas-MacBook-Pro-4 systemsoundserver-simd[1231]: [aqme] 254: AQDefaultDevice (173): skipping input stream 0 0 0x0
Apr  9 19:22:58 Nehas-MacBook-Pro-4 Exponent[1228]: -[__NSArrayM floatValue]: unrecognized selector sent to instance 0x60000104e640
Apr  9 19:22:58 Nehas-MacBook-Pro-4 Exponent[1228]: *** Terminating app due to uncaug

[2018-04-10 14:19] Neha3011 commented on #103
@JesperLekland That doesn't work either. :( I will find a work around. Thanks.

[2018-04-10 14:19] #103 closed

[2018-04-10 19:19] AlexBrasileiro commented on #50
Hello person, I'm having the same difficulty as @Elijen to work with react-native-web.

I'm tried to do this in my webpack config: `'react-native-svg': 'svgs'`, but I did not succeed.

**I continue with the error: You may need an appropriate loader to handle this file type.**

Any idea?

Thank you so much :)

[2018-04-12 02:59] kenvandemar opened #105 "Scale Domain is not a function"
I'm trying to implement scale with domain and range like this:

<YAxis
              data={yAxisLeft}
              svg={{
                fill: 'grey',
                fontSize: 10,
                scale: 1,
              }}
              contentInset={{left: 10, top: 10, bottom: 20}}
            d3.scaleLinear()
            .domain([10, 130])
           .range([0, 960])
             />
But it ra

[2018-04-12 06:00] xmannv opened #106 "TypeError: Cannot read property 'label' of undefined"
### What is the problem?
I copied this example code: https://github.com/JesperLekland/react-native-svg-charts-examples/blob/master/storybook/stories/bar-chart/horizontal-with-axis.js

### When does it happen?
when i run the example code in above link

### What platform?

* [ 11.3 ] iOS

React Native version: 0.54.4

### Code to reproduce

[code]

[2018-04-12 07:37] burhanahmed92 opened #107 "Label are not showing properly/overlapping"
http://prntscr.com/j45qov

Lables are not showing properly, My Code

[code]

I tried all barcharts example its the same issue with labels, anyone knows whats the issue.

[2018-04-12 07:48] WeiLiangTan opened #108 "Graph not shows if set width"
### What is the problem?
Using LineChart, setting the style={{ height: 220, width: (data.length - 1) * 100 }}

a blank graph will be shown.

### When does it happen?
width is set, and the data.length is about more than 50

React Native version: 0.54

### Code to reproduce

[code]

[2018-04-12 10:26] burhanahmed92 commented on #58
any solution?

[2018-04-12 10:33] burhanahmed92 commented on #58
I did like this, same result with lables:

[code]
``

[2018-04-12 10:47] burhanahmed92 commented on #107
I used this example , same issue

https://github.com/JesperLekland/react-native-svg-charts-examples/blob/master/storybook/stories/bar-chart/vertical-with-labels.js

[2018-04-12 11:36] JesperLekland commented on #108
Your code is not enough to reproduce. Closing

[2018-04-12 11:36] #108 closed

[2018-04-12 11:37] JesperLekland commented on #106
your code is not enough to reproduce (what is `data`?). Closing

[2018-04-12 11:37] #106 closed

[2018-04-12 11:39] JesperLekland commented on #105
Your code is not complete. Please provide a minimum code example to reproduce

[2018-04-12 11:39] #105 closed

[2018-04-12 11:54] kenvandemar commented on #105
Oh sorry. Here is my code

import React from 'react'
import {
  AppRegistry,
  StyleSheet,

  View,
  processColor,
  FlatList,
  TouchableOpacity,
} from 'react-native'
import { connect } from 'react-redux'
import { bindActionCreators } from 'redux'

import { LineChart, YAxis, XAxis } from 'react-native-svg-charts'
import { Circle, G, Text, Line, Rect, Polygon, TSpan } from 'react-native-svg'
imp

[2018-04-12 12:05] JesperLekland commented on #107
@burhanahmed92 Are you using expo? I can confirm the problem exists in an expo snack but not when running a normal local RN app

[2018-04-12 12:07] JesperLekland commented on #105
Please format correctly and try to keep your example to a minimum. I won't bother with to big examples

[2018-04-12 12:15] JesperLekland commented on #97
Closing this due to inactivity. Feel free to request a reopen if you still haven't solved it

[2018-04-12 12:15] #97 closed

[2018-04-12 12:16] JesperLekland commented on #92
Closing this due to inactivity. Feel free to request a reopen if you still haven't solved it

[2018-04-12 12:16] #92 closed

[2018-04-12 12:32] burhanahmed92 commented on #107
no i am not using expo, Simple RN App

[2018-04-12 12:33] JesperLekland commented on #107
Could you show your package.json? I have a feeling it's a dependency problem. It works fine for me

[2018-04-12 12:34] burhanahmed92 commented on #107
I{
  "name": "chartTest",
  "version": "0.0.1",
  "private": true,
  "scripts": {
    "start": "node node_modules/react-native/local-cli/cli.js start",
    "test": "jest"
  },
  "dependencies": {
    "art": "^0.10.2",
    "d3": "^5.0.0",
    "d3-array": "^1.2.1",
    "d3-interpolate-path": "^2.0.1",
    "d3-scale": "^2.0.0",
    "d3-shape": "^1.2.0",
    "date-fns": "^1.29.0",
    "moment": "^2.22

[2018-04-12 20:36] msevestre commented on #97
awesome news. Going to use it too

On Thu, Apr 12, 2018 at 7:17 AM Henri Cazottes <notifications@github.com>
wrote:

[2018-04-13 04:21] hansen94 opened #110 "Progress Circle progress direction bug"
### What is the problem?

When progress circle have progress more than 50%, the circle is filled clockwise. But when progress is less than 50%, circle is filled counter-clockwise.

### When does it happen?

Set progress to 0.4
Set progress to 0.7
### What platform?

* [x] iOS
* [x] Android

React Native version: 0.52

### Code to reproduce
import React from 'react'
import { ProgressCircle } from '

[2018-04-13 04:54] burhanahmed92 commented on #107
any solution?

[2018-04-13 13:12] JesperLekland commented on #107
Could you try react-native-svg on version 6.2.1?

[2018-04-13 13:13] JesperLekland commented on #110
I'll have a look!

[2018-04-15 09:04] Amnesthesia opened #111 "Render Grid on top of the chart"
### What is the problem?
<Grid /> is rendered beneath the chart right now, which might make sense for some charts, but if you want the grid lines to be visible on top of an AreaChart or StackedAreaChart, you're forced to go with a fill with opacity.

### What platform?

* [X] iOS
* [X] Android

React Native version: 0.52.2

It would be nice to allow a prop that makes the <Grid /> stuff be put afte

[2018-04-15 14:44] #110 closed

[2018-04-15 14:45] JesperLekland commented on #111
Released in 5.0.0. Render your chart with a `Grid` as a child and set prop `belowChart={false}` on the grid.

[2018-04-15 14:45] #111 closed

[2018-04-15 14:45] JesperLekland commented on #93
Fixed in 5.0.0

[2018-04-15 14:45] #93 closed

[2018-04-16 06:37] burhanahmed92 commented on #107
same result buddy!

[2018-04-16 07:05] JesperLekland commented on #107
React Native 0.55 has been known to break a few things, might be that one. It's really hard to do anything about this when it works in the examples repo. Could you try a lower version of RN?

[2018-04-16 07:09] burhanahmed92 commented on #107
I tried with lower version too 0.53-0.54 but same result. I updated my project couple of days ago, I think its not RN version problem.

[2018-04-16 07:14] JesperLekland commented on #107
try checking out the repo and run that. If that doesn't work then something really weird is going on

[2018-04-16 07:29] JesperLekland commented on #107
@burhanahmed92 Kindly respect that this is an open source project, if you find something lacking you are more than welcome to contribute. This is something I work on on my spare time, for free.
I have had very little feedback on people having problems with this library seeing how many people use it and I try to help out as much as possible with those who do. Please show respect to people working o

[2018-04-16 07:33] burhanahmed92 commented on #107
Sorry if u find my language offensive, i have no intentions of doing that. I was just saying that the guide to implement this library is not telling users all steps of implementation. May be you will have a clear picture if u make new RN project and try to install this library via npm cli.....

[2018-04-16 08:31] JesperLekland commented on #107
The entire examples repo uses this as an external dependency and it works just fine. Instead of telling my that it doesn't work would you telling me **what** doesn't work and/or **what** is missing?

[2018-04-16 08:33] burhanahmed92 commented on #107
Ok we are taking this conversation somewhere else. Lets focus on the issue

[2018-04-16 10:28] burhanahmed92 commented on #107
I updated my application to version 5.0.0 still same...

[2018-04-16 12:58] burhanahmed92 commented on #107
found the issue buddy. Issue was with svg dependency. Your charts library supports <= 5.5.1 react-native-svg. Mine was 6.3.1 so i downgraded to 5.5.1 and it works. Anyway thanks

[2018-04-16 15:25] JesperLekland commented on #107
Glad you solved it! Interesting that you had to downgrade that far, the project as well as the examples repo uses 6.2.1

[2018-04-16 15:25] #107 closed

[2018-04-17 18:32] Amnesthesia commented on #111
Hmm — would be really nice with some more documentation on `StackedAreaChart.extractDataPoints` — if I have two keys, every second value is 0 (although no values are 0 in the graph). When I pass `data` and `yAccessor` as usual, I get a completely different scale, and the scale is really off it seems. Digging through the code, I'm still not sure how `extractDataPoints` works, and what I should pass

[2018-04-17 22:47] davidck opened #114 "Trying to build a gauge"
### What is the problem?
Trying to build a gauge using the `PieCharts` or `ProgressCircle`.
Similar to: https://github.com/Reggino/react-svg-gauge

Are there plans to support a start and end angle similar to what `ProgressCircle` does?
It doesn't seem possible with the current version, I'm using `ProgressCircle` right now, but the edges of the active area is rounded giving a unwanted effect.

See

[2018-04-18 05:58] JesperLekland commented on #114
Hi!

So basically you want what you have but without the rounded edges? I'll see what I can do

[2018-04-18 08:39] JesperLekland commented on #111
@Amnesthesia Please open another issue for that.

[2018-04-18 12:37] atul-forbinary opened #116 "is there any documentation available to create edge points ?"
### What is the problem?

### When does it happen?

### What platform?

* [ ] iOS
* [ ] Android

React Native version: 0.xx

### Code to reproduce

[code]

[2018-04-18 14:56] JesperLekland commented on #116
Please fill out the issue template if you want help.

[2018-04-18 14:56] #116 closed

[2018-04-18 19:44] davidck commented on #114
Yes! Also, there is an empty space that makes the full `ProgressCircle`.  If there is a way to reduce the height or use the full height, then it'll be perfect.

If not, then I'll probably have to wrap another `View` over it and `overflow:'hidden'` it.

[2018-04-19 05:33] burhanahmed92 opened #117 "Issue with scale library and labels"
### What is the problem?
[code]

### When does it happen?
Show error in debugging

![screenshot_57](https://user-images.githubusercontent.com/1272261/38972920-b8d47572-43bc-11e8-9c22-86c9602d6bf2.png)

Labels don't show properly
![screenshot_59](https://user-images.githubusercontent.com/1272261/38972949-de7bbe2a-43bc-11e8-8aa9-381c8d4f456c.png)

### What platform?

* [ ] iOS
* [x] Android

React N

[2018-04-19 07:25] JesperLekland commented on #114
The empty issue was discussed [here](https://github.com/JesperLekland/react-native-svg-charts/issues/71).

[2018-04-20 05:04] burhanahmed92 commented on #117
Any solution?

[2018-04-20 16:34] Nexengineer opened #118 "Problems with Y-axis bar Chart"
### Unable to load side labels and change color of bar ?

### When does it happen?

### What platform?

* [x] iOS
* [ ] Android

React Native version:  0.55.2

### Code to reproduce

[code]

[2018-04-21 07:29] seriiix opened #119 "Some of examples are not working or not updated to v5.0.0"
For example this chart is not shown as expected: [horizontal-with-labels.js
](https://github.com/JesperLekland/react-native-svg-charts-examples/blob/master/storybook/stories/bar-chart/horizontal-with-labels.js)And this one is not updated to v5.0.0: [vertical-with-labels.js
](https://github.com/JesperLekland/react-native-svg-charts-examples/blob/master/storybook/stories/bar-chart/vertical-with-labe

[2018-04-21 07:34] seriiix opened #120 "onPress for each column of bar chart"
How can i get onPress for each column of the bar chart? I need to get onPress for the whole column not some decorator on it.

[2018-04-21 08:09] seriiix commented on #119
[horizontal-with-labels.js
](https://github.com/JesperLekland/react-native-svg-charts-examples/blob/master/storybook/stories/bar-chart/horizontal-with-labels.js)issue is gone after downgrading `react-native-svg` to **`6.2.2`**

[2018-04-21 15:25] MohithHasan opened #121 "Is it possible to draw a chart like this using this library"
![capture](https://user-images.githubusercontent.com/34531234/39085840-8efa2fae-45aa-11e8-8d46-a63419b98a63.PNG)

[2018-04-21 17:51] msevestre commented on #121
Check this example out:
https://github.com/JesperLekland/react-native-svg-charts/blob/5fce49fc1e902939cb063440a6a01cf09b537556/storybook/stories/partial-chart/line-chart.js

[2018-04-22 05:55] MohithHasan commented on #121
sir after running above code provided in the link  i got output like this :
![screen shot 2018-04-22 at 11 57 22 am](https://user-images.githubusercontent.com/34531234/39092003-08a4fb3a-4624-11e8-847d-ec28d28bd12c.png)

[2018-04-23 07:25] JesperLekland commented on #120
Don't open duplicate issues, especially two yourself. Unfortunately there are no news on the onPress of a bar chart at the moment

[2018-04-23 07:25] #120 closed

[2018-04-23 14:04] MohithHasan commented on #121
found the problem!!! I was using react-native-svg-chartsv5.0.0 but
and  react-native-svg latest release which is 6.3.1
but in package.json file of react-native-svg-chartsv5.0.0 I found that it was using "react-native-svg": "^6.2.1",
so it was not working
so i installed react-native-svg6.2.1 ,
now it is working !!
and running below code:
import React from 'react'
import { ClipPath, Defs, Rect,Line

[2018-04-23 17:59] Amnesthesia opened #122 "StackedAreaChart does not support decorator children the same way as AreaChart"
### What is the problem?
Props received by children of StackedAreaChart are different than those received by the AreaChart (which all in all is ok), but they dont seem to contain enough data to create decorators from (e.g can't calculate X / Y because the data array may contain objects)

### When does it happen?
When you try to follow any of the examples to render decorators as children, but using

[2018-04-24 06:04] kenvanderma opened #124 "How to extend chart's height"
My tooltip is not showing its full height, I try to expand charts height but it doesn't work

<img width="381" alt="screen shot 2018-04-24 at 1 02 22 pm" src="https://user-images.githubusercontent.com/38340529/39168887-ca0d11ee-47bf-11e8-88cd-6e46897aace9.png">

[2018-04-24 17:05] 2joocy opened #125 "Is it possible to have the both axis showing even though there is no data?"
First of all, thank you for this brilliant library, the best out there in my opinion.

What I am trying to achieve, is so that the graph shows with both axis, despite there being no data. Also, having the graph being in full size despite there being only one element.

Also, LinearGradient seems to not work in the new 5.0 patch
![image](https://user-images.githubusercontent.com/17154463/39202533-77

[2018-04-24 17:16] zomars commented on #50
Care to share your fork @Elijen ?

[2018-04-25 09:04] JesperLekland commented on #125
Thank you for the kind words :)

I'm not sure about the use case for "no data", could you elaborate?
LinearGradient should be working. What version of `react-native-svg` are you using?

[2018-04-25 09:05] JesperLekland commented on #124
`gridMax` should do the trick. In this case your chart is to close to the canvas edge and therefore crops your tooltip. Setting `gridMax` to a value *higher* than the biggest data point should remedy this.

[2018-04-25 09:06] JesperLekland commented on #122
The "stacked" charts are indeed in need of some more love. Their complex data structure make things a lot harder to calculate. I'll see what I can do 👍

[2018-04-25 09:07] JesperLekland commented on #119
@seriiix Thanks for trouble shooting. What version of `react-native-svg` didn't work?

[2018-04-25 12:05] anjusr opened #126 "How to limit the number of bar to be shown?"
If there is large amount of values to display, I want to limit it to some particular value. So that screen should display the limited bar while scrolling next value can be seen. Now its looking congested if more number of values are there.

![interactive-stacked-chart-plugin-with-jquery-css3-barchart](https://user-images.githubusercontent.com/10432081/39244666-f3ed1e10-48ae-11e8-9019-055c8a64f08c.

[2018-04-25 15:55] 2joocy commented on #125
I've attached a imagine below of how the current graph looks.
![image](https://user-images.githubusercontent.com/17154463/39257443-cfa682fa-48b1-11e8-8d41-9d174f4dd5c1.png)
What I am looking to do, is to have this graph showing, with the X and Y Axis, despite the data array being empty.

[2018-04-25 15:56] 2joocy commented on #125
Without the data points ofcourse, just the X and Y axis showing

[2018-04-25 16:03] 2joocy commented on #125
Current code is:

`<View style={{flexDirection: 'row', height: 220, marginLeft: 10, marginRight: 10, marginTop: 10}}>
                <YAxis
                    data={data}
                    style={{ marginBottom: xAxisHeight }}
                    contentInset={verticalContentInset}
                    svg={axesSvg}
                    ticks={1}
                />
                <View style={{

[2018-04-25 16:10] 2joocy commented on #125
And my SVG version was 6.2.2, regarding LinearGradient

[2018-04-25 16:56] JesperLekland commented on #125
Your LinearGradient seems to be working now? Or have you downgraded to 4.x of this library?
Regarding having your axes show without data, just pass in dummy data to them, they will happily display whatever you give to them

[2018-04-25 16:58] JesperLekland commented on #126
Then just add your Chart as a child to a horizontal scrollview and set the chart's width to something appropriate 👍

[2018-04-26 11:30] JesperLekland commented on #125
The grid is rendered based on the input data so that seem's accurate. Pass the same dummy data to your chart as you pass to the yAxis

[2018-04-26 13:00] #121 closed

[2018-04-26 13:01] anjusr commented on #126
Thanks for the answer. It did solve my problem 😀
but value just above the bar . I don't know why its not displaying for me.
I have written as per your example in  renderDecorator={Labels}

[2018-04-26 22:57] DaKaZ commented on #50
@AlexBrasileiro we've had good luck using react-native-web.  Basically what is going on is you need to pass many of the react-native modules (like react-native-svg) through babel.  Here is snipit from our webpack config so you can see what we do (I am only posting the relavent section):

[code]
then later on, in the config:
[code]

[2018-04-27 06:51] MohithHasan opened #127 "How to add "|\n12.00" in XAxis formatLabel ???"
![lal](https://user-images.githubusercontent.com/34531234/39348600-9e1289be-4a19-11e8-94c1-8ee0cd48721f.PNG)

[2018-04-27 16:36] JesperLekland commented on #126
`renderDecorator` is no longer a prop in 5.0.0, please see the examples repo and the README for more info.

PS. The stacked charts have some parts missing for proper decorator support. Use [this] issue to track the Stacked charts progress. Closing this issue as the original issue has been solved

[2018-04-27 16:36] #126 closed

[2018-04-28 17:31] kevinNejad opened #128 "XAxis transform rotation"
Thank you so much for such a great library.
I have big set of data and cannot fit all data(Dates) on my XAxis. I tried to rotate the data to make more space but it rotate the whole xAxis.
I've read it has been solved in the latest versions but still not sure how can I get it work.

"react": "16.3.1",
 "react-native": "0.54.0-rc.3",

"react-native-svg": "^6.2.2",
"react-native-svg-charts": "^4.0.1"

[2018-04-28 19:25] AlexBrasileiro commented on #50
@DaKaZ awesome and thank you a lot for the help o/
I will try to apply in our project and will notify you if everything went well. "D

[2018-04-29 11:45] crazyhitty opened #130 "How to modify Bar width in BarChart instead of using spaceInner?"
### What is the problem?

I was able to align the XAxis items with the BarChart using `scale.scaleBand` property, but when I modified spaceInner value in order to reduce the bar width, the alignment got screwed. So, is there any other way to reduce bar width?

### What platform?

[8.1.0] Android

React Native version: 0.55.2

### Code to reproduce

[code]

### Screenshots

#### Without spacing inn

[2018-04-29 11:45] crazyhitty commented on #130
Also, thanks for creating this awesome library, it has made implementing charts in react-native very easy.

[2018-04-29 15:11] dngconsulting commented on #50
Given all the tips out there I have also succeed in getting chart work on react-native-web and android/ios. The issue now is that I face a lot of errors/warning like :

`Warning: React does not recognize the `animationDuration` prop on a DOM element. If you intentionally want it to appear in the DOM as a custom attribute, spell it as lowercase `animationduration` instead. If you accidentally passe

[2018-04-30 09:51] seriiix commented on #119
`6.3.1`

[2018-04-30 10:27] crazyhitty commented on #130
Sorry, it was an error on my part, I just needed to provide the same spaceInner value to XAxis and it works perfectly fine :)

[2018-04-30 10:27] #130 closed

[2018-05-01 08:28] iosfitness opened #131 "Need direction to design custom UI"
In reference to the attached screenshot, I am able to design the exact same UI using this library but not sure how about the approach to add badges inside slices

I believe I need to edit pie-chart.js to add this support

Need inputs if any ....

Thanks[
<img width="351" alt="screen shot 2018-05-01 at 1 48 52 pm" src="https://user-images.githubusercontent.com/18075005/39466597-735509e6-4d47-11e8-9

[2018-05-01 11:33] Danushka50 opened #132 "React Native SVG Charts for Windows (UWP)"
### What is the problem?

Does it support for UWP

### When does it happen?

Applied that to the UWP

### What platform?

* [ ] Windows

React Native version: 0.53.3

### Stacktrace (if crash)

![windows error in charts](https://user-images.githubusercontent.com/19383469/39471488-10bb8c6e-4d61-11e8-90ce-e524f43c600f.PNG)

[2018-05-01 14:47] JesperLekland commented on #131
Check the examples repo, there is one very similar example that you can use for inspiration.

[2018-05-01 14:50] JesperLekland commented on #132
Does react-native-svg work with Windows? I don't think it does and as such is not an issue with this library.

[2018-05-01 14:50] #132 closed

[2018-05-01 14:52] JesperLekland commented on #124
Closing due to inactivity. Feel free to reopen if problem persists

[2018-05-01 14:52] #124 closed

[2018-05-02 06:23] bangersandflash opened #133 "LineChart Gradient"
### What is the problem?
I can't seem to get a LineChart to display with a gradient.

The code below renders the line chart with a red stroke instead of a gradient.

### What platform?

Android API 27

"react-native": "0.54.2",
"react-native-svg": "^6.3.1",
"react-native-svg-charts": "^5.0.0",

### Code to reproduce
const Gradient = () => (

              <LinearGradient id="lineGradient" x1={'0'}

[2018-05-02 10:04] JesperLekland commented on #133
Try downgrading to `react-native-svg@6.2.2`. We've had reports of broken compatibility with rn-svg 6.3.*

[2018-05-02 10:13] JesperLekland commented on #125
Regarding my latest comment. `gridMin` and `gridMax` is probably what your looking for to now render actual data points

[2018-05-03 04:28] bangersandflash commented on #133
Thanks @JesperLekland

Ive downgraded but still no luck. Does the code above look like it should work? I'm new to the library so I may not have implemented the gradient correctly.

[2018-05-03 07:07] JesperLekland commented on #133
ah I didn't even look at the code, sorry! No you need to reference the gradient in the `svg` prop of the LineChart. Check the [examples repo](https://github.com/JesperLekland/react-native-svg-charts-examples) for inspiration. Closing this as it's not really an issue :)

[2018-05-03 07:07] #133 closed

[2018-05-03 23:00] Elijen commented on #50
@zomars Sorry for the late answer. The repo is here: https://github.com/Elijen/react-native-svg-charts/commits/master

I have made some customization to the ProgressCircle as I needed more flexibility and also didn't like the double round edges:
<img width="250" alt="radius" src="https://user-images.githubusercontent.com/1304054/39606597-76b97e64-4f36-11e8-836e-f593e8f9b34c.png">

But didn't think

[2018-05-04 08:32] JesperLekland commented on #50
@Elijen The double round edges are actually fixed in version 5 :)

[2018-05-04 09:14] MohithHasan opened #134 "How to draw a chart like this???"
![svgcircle](https://user-images.githubusercontent.com/34531234/39621869-0d40b3d6-4fb2-11e8-90db-38893112c132.PNG)

[2018-05-04 09:27] JesperLekland commented on #134
Not supported at the moment. At most you could get the outer circle without the gradient

[2018-05-04 10:41] Elijen commented on #50
@JesperLekland What about other customization like:
- circleWidth
- borderRadius
- color of the background circle?

With my fork I can produce this:
<img width="136" alt="screen shot 2018-05-04 at 12 41 26" src="https://user-images.githubusercontent.com/1304054/39624152-80b932b2-4f98-11e8-9140-c4ab00b856d5.png">

Maybe I could create a PR after all.

[2018-05-04 19:04] msevestre commented on #97
Hey @henricazottes ,

could you show how your code ended up looking. I am trying to get back to that now to fix my #89 issue but I can't seem to get it to work.

Thanks for your help,

[2018-05-05 06:35] vishrut commented on #119
@JesperLekland Thanks for creating and maintaining this library.

Experienced the same issue as @seriiix and downgrading react-native-svg to 6.2.2 fixed it too.

[2018-05-07 07:25] JesperLekland commented on #50
That sounds like a great PR @Elijen 👍

[2018-05-07 15:10] AndrePech opened #135 "Labels not re-rendering correctly when data changes."
### What is the problem?

Labels and XAxis not re-rendering properly when the data changes.
The old values are still visible, overlapping the new ones.

Before data changes: (ok)

![simulator screen shot - iphone 6 - 2018-05-07 at 11 57 03](https://user-images.githubusercontent.com/4999683/39708820-8d5b0c2c-51ee-11e8-82aa-0e6eaec80ac3.png)

After:

![simulator screen shot - iphone 6 - 2018-05-07 a

[2018-05-08 07:30] JesperLekland commented on #135
Hi @AndrePech. Interesting, this should of course not be the case. Which version of react-native-svg are you using? We've gotten reports of problems with versions > 6.2.2

[2018-05-08 13:06] AndrePech commented on #135
I am using react-native-svg version 6.2.1.

By now I am not rendering the charts while the data is being updated, it prevents this issue from happening.

[2018-05-08 14:33] JesperLekland commented on #135
hmm strange. I'm going to need you to update your `code to reproduce`, I can't possibly know what all the variables are supposed to be. Please provide an example I can run without modification. As a maintainer I can't possibly troubleshoot all problems without runnable code provided

[2018-05-08 15:25] AndrePech commented on #135
it is updated o/

Let me know if you need something more!
Thank you very much for maintaining this incredible repo!!

[2018-05-09 08:54] JesperLekland commented on #135
Thank you, still missing a bunch though. What is the `T` component for example? And `this.props.dashboard.caseVolume`? Please provide the entire file (including imports) to help me out as much as possible. The absolute best way to do things like this is to provide a [snack](https://snack.expo.io/).

[2018-05-09 17:50] sanjayknair5 opened #136 "Incorrect layered-charts , when the values in second chart is zero."
### What is the problem?
The scale for chart one and chart 2 differs when the maximum value in both the  data sets are different or When second area chart has maximum value like 1, 5 etc.
-->

### What platform?

* [ ] Android

React Native version: 0.55.2

### Code to reproduce

[code]

![Uploading WhatsApp Image 2018-05-09 at 11.12.43 PM.jpeg…]()

[2018-05-10 07:00] anirudha-ani opened #137 "How can I draw a chart like this?"
![screen shot 2018-05-10 at 12 59 33 pm](https://user-images.githubusercontent.com/13461833/39856504-c010aca2-541f-11e8-9770-2eea9f3481d7.png)

[2018-05-11 06:54] MohithHasan opened #138 "how to draw a chart like this ??"
https://github.com/JesperLekland/react-native-svg-charts-examples/blob/master/storybook/stories/area-chart/with-line.js
after running this code I get ouput:
![screen shot 2018-05-11 at 12 56 24 pm](https://user-images.githubusercontent.com/34531234/39910713-551a5b86-551a-11e8-881a-b71124323c75.png)
expected output-=======:::
![screen shot 2018-05-11 at 12 54 36 pm](https://user-images.githubuserco

[2018-05-13 08:28] YuliyaGor commented on #70
HI, did you fix this problem?

[2018-05-13 09:27] JesperLekland commented on #137
That type of chart is not supported out of the box for this library. What is this type of chart called? Will consider this a feature request.

[2018-05-13 09:29] JesperLekland commented on #136
Your image seems to have failed uploading but I think I understand the issue. You will have to use the `gridMin` and `gridMax` props to align the extents of the charts (i.e this is expected behaviour since the charts don't know of each other).  Closing this as it's not really an issue with the library.

[2018-05-13 09:29] #136 closed

[2018-05-16 23:29] axelkennedal opened #139 "YAxis labels are cut off"
### What is the problem?
The YAxis labels are not fully displayed, they are cut off both at the left and right side.

![Screenshot](https://user-images.githubusercontent.com/8863787/40149046-9d6e5bca-5971-11e8-8f67-aed0cd746e18.png)

### When does it happen?
When attempting to make a simple Line Chart with a YAxis.

### What platform?
* [ ] iOS
* [x] Android 7

React Native version: 0.55.4

### Co

[2018-05-17 08:54] habeebrahmanpt opened #140 "how to draw a chart like this ?"
![02_dashboard_04](https://user-images.githubusercontent.com/24604648/40167181-fbb07332-59dd-11e8-9bba-f3b353f5d55f.png)
### What is the problem?

### When does it happen?

### What platform?

* [ ] iOS
* [ ] Android

React Native version: 0.xx

### Code to reproduce

[code]

[2018-05-17 09:14] krzysztof-miemiec opened #141 "Add typings for TypeScript"
### What is the problem?
We use TS for development of our projects. There are no TypeScript typings for this amazing library.

* When does it happen? *does not apply*
* What platform? *does not apply*
* Code to reproduce *does not apply*

I'll try to come up with some today and create a PR with it.

[2018-05-17 11:27] JesperLekland commented on #139
Try to remove the `padding` on the YAxis `svg` prop and use a regular `horizontalMargin` on the `style` prop instead. Will allow the axis to measure itself more accurately.  Feel free to reopen issue if this didn't solve the problem

[2018-05-17 11:27] #139 closed

[2018-05-17 11:32] JesperLekland commented on #139
On closer inspection the `padding: 10` on the YAxis will ruin the layout of the axis anyway, it must have the same height (inner) as the chart (how else would it layout it's labels?). The padding on the YAxis labels don't make much sense either, they're spaced based on the data, nothing else. If you need horizontal spacing use some sort of horizontalMargin, either on the axis or on the chart 👍

[2018-05-17 12:05] JesperLekland commented on #131
Closing due to inactivity

[2018-05-17 12:05] #131 closed

[2018-05-17 12:07] JesperLekland commented on #118
Closing this due to lacking "code to reproduce" (what is `data`?)

[2018-05-17 12:07] #118 closed

[2018-05-17 12:15] Nexengineer commented on #118
Yeah, this is working good on iPAD not iPhone but i am good for now thanks

[2018-05-17 12:28] axelkennedal commented on #139
I tried removing padding both from the `svg` prop and the `style` prop of YAxis, and it looks the same, the issue persists.

I can't reopen the issue since I don't have the proper rights for it.

[2018-05-17 12:36] habeebrahmanpt commented on #11
`const data   = [ 7, 30, 10, 17, 14, 17,22 ]
      const dataWeek   = [ 'F', 'S', 'S', 'M', 'T', 'W','T' ]`

                            ,width:Metrics.screenWidth}}>
                  <YAxis
                      data={data}
                      style={{ marginBottom: xAxisHeight }}
                      // contentInset={verticalContentInset}
                      svg={axesSvg}

[2018-05-17 13:06] JesperLekland commented on #139
What version of this library are you using? I can't recreate with the above code

[2018-05-17 13:15] krzysztof-miemiec commented on #141
Done!

[2018-05-18 16:23] ORoberts221 opened #143 "How can I use a Dashed Line and Decorator with an XAccessor"
It seems that both the Dashed Line and Decorator examples reply on having evenly spaced data points.

I would like to be able to use another value (time, in minutes) as my X Axis data, this draws the graph correctly but the Dashed Line and Data points decorators are out of place. I'm afraid I don't know how the svg library works well enough to re-position them dynamically myself.

Without xAccesso

[2018-05-19 09:10] JesperLekland commented on #143
In your case you need both the y- and x-Accessor (since you pass complex objects as data).  Seeing that you also want your data points distributed not linearly but based on the time you also need to change the scale to `scale.scaleTime`.  Your circle decorator will then also have to change its `cx` to `cx={x(value.time)}`. All of these changes make sense if you think about it.

[2018-05-19 09:13] JesperLekland commented on #141
Closing this as it's being implemented [here](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/25880). Thank you @krzysztof-miemiec for your contribution!

[2018-05-19 09:13] #141 closed

[2018-05-19 18:12] iosfitness opened #144 "onPress event on Pie Chart"
I referred to the examples repo and was able to build something like the attached. Reference issue #131

Now, I am stuck with touch event, as I am not able to get onpress() event callback
<img width="456" alt="screen shot 2018-05-19 at 10 25 05 pm" src="https://user-images.githubusercontent.com/18075005/40271666-b648d7b2-5bbd-11e8-95dd-8a8630500ea8.png">

[code]

Any inputs will be helpful

[2018-05-20 16:14] iosfitness commented on #144
@JesperLekland  Thanks for the input. I was able to find a way out based on your suggestions

Reference for the methods

export interface TouchableProps {
  disabled?: boolean,
  onPress?: (event: any) => any,
  onPressIn?: (event: any) => any,
  onPressOut?: (event: any) => any,
  onLongPress?: (event: any) => any,
  delayPressIn?: number,
  delayPressOut?: number,
  delayLongPress?: number
}

Be

[2018-05-21 03:47] Korysam15 opened #147 "JSON Parsing Error"
### What is the problem?
Using one of the examples from this library, the error: JSON value '1' of type NSString cannot be converted to NSNumber. This a casting error between the ios string and integer value.

### When does it happen?
No actions necessary, screen needs to load.
### What platform?

* [X ] iOS
* [ ] Android

React Native version: 0.55.3

### Code to reproduce

[code]

[2018-05-21 08:52] ORoberts221 commented on #143
Thank you very much! It does absolutely make sense. I was also able to get the clip path working by changing `x(indexToClipFrom)` to `x(data[index].time)` working perfectly now.

[2018-05-21 08:52] #143 closed

[2018-05-23 07:26] JesperLekland commented on #147
Hmm, interesting. And where does the value `1` come from?

[2018-05-23 11:23] RahulCubet opened #149 "Pie chart not rendering labels and numbers."
Hi,

I have copied the same code from with centered label example from <a href="https://github.com/JesperLekland/react-native-svg-charts-examples/blob/master/storybook/stories/pie-chart/with-centered-labels.js">https://github.com/JesperLekland/react-native-svg-charts-examples/blob/master/storybook/stories/pie-chart/with-centered-labels.js</a> here. But it wont render the labels. All other examples

[2018-05-23 11:40] RahulCubet commented on #149
I have fixed the issue. Just go through this code. The denderDecor method worked fine for me

import React from 'react'
import { PieChart } from 'react-native-svg-charts'
import { Circle, G, Line, Text} from "react-native-svg";

class PieChartWithCenteredLabels extends React.PureComponent {

    render() {

        const data = [
            {
                key: 1,
                amount: 50,

[2018-05-23 11:42] JesperLekland commented on #149
In that case you are on an old version of the library. 5.0.0 deprecates the `renderDecorator` prop in favor of the children pattern

[2018-05-23 11:42] #149 closed

[2018-05-23 11:51] RahulCubet commented on #149
Yes I was working on 4.0.0. Anyway thanks for your quick reply.

[2018-05-24 10:01] ORoberts221 opened #150 "Line Chart not drawn in signed Release"
### What is the problem?
The actual lines in this line chart are not drawn in the signed release version of the app, works fine in debug with the same data. Other charts (progress circle & bar chart) working fine.

I did need to include a `android.enableAapt2=false` flag in gradle.properties in order to get the build working re facebook/react-native#16906, could this be the cause of the problem?

[2018-05-24 10:56] JesperLekland commented on #150
Could you try the same code in a different project where where you don't disable aapt2?

[2018-05-24 11:13] ORoberts221 commented on #150
Good idea - will try that.

[2018-05-24 11:55] lohithananda opened #151 "XAxis"
Cannot pass the String values to the xaxis data props.

[2018-05-24 13:28] JesperLekland commented on #151
This issue tells me nothing about anything. Please comply with the issue template when creating issues.

[2018-05-24 13:28] #151 closed

[2018-05-25 09:00] ORoberts221 commented on #150
In the end this turned out to be an issue with npm versioning.

react-native-svg 6.3.1 does not draw the line for the line charts, to get around this I had reverted to using 6.2.1 instead, unfortunately I forgot to pin the version in package.json, so my build server was using the newer, incorrect version when building the release apk.

The fix was as simple as changing `react-native-svg:"^6.2.1"`

[2018-05-25 09:00] #150 closed

[2018-05-25 11:17] iosfitness opened #152 "Modify spacing between the pie chart tiles"
In reference to issue #131. I want to increase the spacing between elements
I tried altering padAngle and innerRadius but I'm unable to achieve the same

Anything from **Common arguments to children** ?

Could you please advice how should I achieve ?

[2018-05-26 12:30] GSreact opened #153 "multi-line chart"
Is it possible to create a multi-line chart, similar to the stacked-area (but not stacked)?
I tried with the line chart but it received only one set of data.
thank you

[2018-05-28 10:49] #119 closed

[2018-05-28 12:42] JesperLekland commented on #119
Interesting that it doesn't work for you guys on 6.3.1, it worked just fine for me

[2018-05-28 15:44] JesperLekland commented on #152
`padAngle` should be what you're looking for. It's in radians though so try for example "0.3".

[2018-05-29 21:49] philsalesses commented on #153
+1. Id like to put 3 lines on one chart, all using the same axis. Except they each scale to 100% height automatically even though the axis is the same for all 3 charts.

[2018-05-30 21:33] Yaweii opened #154 "Line Chart for Streaming Real-time Data"
First of all, thank you so much for the great job! I've been searching around and this is the best chart library. This is more of a question instead of a problem. Please feel free to share your thoughts.

### What is the problem?
Trying to draw the line chart for real time data.  I am building an application for vehicle data visualization.  The data looks like this **{ speed: 55 }** and the server

[2018-05-31 09:28] JesperLekland commented on #153
Right now the easiest way to do so is to place several charts on top of each other with absolute positioning. See [this example](https://github.com/JesperLekland/react-native-svg-charts-examples/blob/master/storybook/stories/layered-charts.js). Just make sure that the have the same `gridMin` and `gridMax`, and of course an equal length data prop

[2018-05-31 10:18] GSreact commented on #153
@JesperLekland
This is a good solution to my problem also with this technique I can create mixed charts (such as Line + Area)!
thank's for your job !

[2018-05-31 11:34] #153 closed

[2018-05-31 17:06] Yaweii commented on #154
@JesperLekland Thanks for the reply!   I am trying to build something like this [animation](https://bost.ocks.org/mike/path/).

[2018-05-31 20:06] ShayanJa opened #155 "onpress for tooltip doesn't work"
I'm having problems getting the a console log from the example code down from below, is this just me? this is located in the onpress call of the first <G> tag

i'm runing
Running on expo
React Native version: 0.54.0

[code]

[2018-06-01 07:26] JesperLekland commented on #155
see `react-native-svg` for how to do `onPress` on `G` tags. I would recommend doing it on the `Rect` instead. Closing as this is not an issue with this library

[2018-06-01 07:26] #155 closed

[2018-06-01 07:32] JesperLekland commented on #154
Well that animation has a data set that is full from the beginning. If you would have that many dataPoints and switch them out for an equally long array with different points it would (should) behave exactly like the one you've linked

[2018-06-01 07:35] JesperLekland commented on #154
Oh, that link contained several animation, which one did you mean?

[2018-06-02 21:45] aalhaimi commented on #114
I'm also trying to do something similar but with ```PieChart```.. I  need to make multiple sections, but don't want to keep the chart as a complete circle. If you can extend the ```startAngle``` and ```endAngle``` just like in the d3.js PieChart that would be great!

[2018-06-02 22:42] aalhaimi opened #156 "Need to Customize the Radius of PieChart"
I'm trying to customize the radius of ```PieChart```. Instead of the default full circle view.  I have multiple sections to be displayed in the chart, otherwise I would have considered ```ProgressCircle```.  If you can extend a ```startAngle``` and ```endAngle``` just like in the d3.js PieChart that would be great!

[2018-06-03 11:08] #152 closed

[2018-06-03 11:09] JesperLekland commented on #144
closing due to inactivity

[2018-06-03 11:09] #144 closed

[2018-06-03 11:09] JesperLekland commented on #135
Closing due to lack of reproducible example

[2018-06-03 11:09] #135 closed

[2018-06-03 11:10] JesperLekland commented on #134
Closing as this is not really an issue, and way to specific to be considered a feature request

[2018-06-03 11:10] #134 closed

[2018-06-03 11:11] JesperLekland commented on #125
Closing due to inactivity

[2018-06-03 11:11] #125 closed

[2018-06-03 11:14] JesperLekland commented on #122
Out of curiosity, what types of decorators would you like to render?

[2018-06-03 11:29] JesperLekland commented on #50
All of the above things (regarding the progressCircle) will be in the upcoming release later today

[2018-06-03 11:30] JesperLekland commented on #50
All of the above things (regarding the progressCircle) will be in the upcoming release later today. Feel free to open a new issue if you find anything else that doesn't work as expected

[2018-06-03 11:30] #50 closed

[2018-06-03 12:08] #114 closed

[2018-06-03 12:08] #156 closed

[2018-06-03 12:28] JesperLekland commented on #104
Included in `v5.1.x`

[2018-06-03 12:28] #104 closed

[2018-06-03 12:29] JesperLekland commented on #104
See [this example](https://github.com/JesperLekland/react-native-svg-charts/blob/master/storybook/stories/bar-stack/with-on-press.js)

[2018-06-04 10:57] Amnesthesia commented on #122
Well, I've had a couple of different issues I'm trying to work around — one is that making "timeline" charts, e.g data following a time axis, can be challenging since the points are spaced evenly, but I've worked around this by providing values with everything 0 for e.g missing minutes; but what I'm doing that requires decorators is making it possible to click the graph and drag a finger to show t

[2018-06-04 20:14] Yaweii commented on #154
@JesperLekland  [Example](http://bl.ocks.org/simenbrekken/6634070)  this might be a better example. When new data comes in, the path will transit to the left.

[2018-06-05 06:49] Danushka50 opened #161 "Area Chart not render when the width is very high value"
### Area Chart Not render when the width is very high value

### When does it happen?
datapoints=[]// insert 100 points
Given  width is very high value area chart not render in HCT M8, HUAWI GR5 mobile phones

### What platform?

* [ ] iOS
* [x] Android

React Native version: 0.50.4

### Code to reproduce

[code]
### Stacktrace (if crash)
[code]

[2018-06-05 15:11] ramilushev opened #163 "StackedAreaChart does not use xAccessor/yAccessor props"
### What is the problem?
Passing `xAccessor`/`yAccessor` props to `StackedAreaChart` has no effect.

### When does it happen?
Everytime

### What platform?
* [x] iOS
* [x] Android

React Native version: 0.55.3

[2018-06-05 15:14] JesperLekland commented on #163
Indeed it does not. It has a completely different data structure than the other charts. Would you mind posting an example of data that would require any of the `accessor` functions?

[2018-06-05 15:19] JesperLekland commented on #122
Thank you for the elaborate explanation.

First of all the spacing of your data points in another scale than linear is supportes by passing in a different `xScale`, check [this example](https://github.com/JesperLekland/react-native-svg-charts-examples/blob/master/storybook/stories/x-axis/scale-time.js).

Regarding the PanResponder I think you've landed in an "ok" way of doing it. I myself did some

[2018-06-05 15:20] ramilushev commented on #163
I was previously using them in `AreaChart` to give a non-linear distribution to the x values. Now I need to stack two of them, and I need them to use the same X scale, while still using immutable to do it. I could probably achieve this with two distinct `AreaCharts`, but I cannot figure out how to use the same scale for X.

[2018-06-05 15:23] JesperLekland commented on #163
I see! The stacked charts don't support the `xScale` prop yet, but it's next in line to be implemented. Not sure how nice it will play with the d3.js implementation of calculating stacked charts but I guess we'll see :P

[2018-06-05 15:31] JesperLekland commented on #163
Looking at the image you attached above I don't think the stacked charts would solve your problem, as they stack the values, not the separate charts (see [this screenshot](https://github.com/JesperLekland/react-native-svg-charts-examples#stackedareachart). What you could do is use two different charts placed on top of each other and pad the data of the "lesser" chart with data points that just hav

[2018-06-06 14:40] ramilushev commented on #163
@JesperLekland got it working with the method you suggested! Still, a `gridMin/gridMax` prop would be a lot cleaner solution. Thanks!

[2018-06-06 20:33] JesperLekland commented on #163
I implemented it today actually. The `gridMin`/`gridMax` will be replaced by the `yMin`/`yMax` and `xMin`/xMax` props. Just have to thoroughly test it and then make a release.

[2018-06-08 04:49] Yaweii commented on #154
@JesperLekland Thanks! I will close this issue for now. Really appreciated your help!

[2018-06-08 07:19] #154 closed

[2018-06-10 16:03] muraterd opened #164 "Question: ProgressCircle animation"
Hi,
First of all this is wonderful library. Thank you for your effort.

I'm using ProgressCircle component and there is a animate property under Common Props. So i tried to animate the component but it didn't worked.

I'm using component like below
`<ProgressCircle
          style={{ height: 200 }}
          progress={0.9}
          progressColor={"rgb(134, 65, 244)"}
          animate={true}

[2018-06-10 18:00] JesperLekland commented on #164
Hi and thank you for your kind words. The `animate` prop is unfortunately very experimental and is currently set to only animate when the values change, not on initial render

[2018-06-10 18:03] JesperLekland commented on #161
I've stumbled on a similar error before (unrelated to this specific library). I think you might have to split your data and render separate charts in a `FlatList` to avoid this issue. There is nothing I can specifically do to remedy this. Closing due to problem existing outside this library

[2018-06-10 18:03] #161 closed

[2018-06-10 18:05] #163 closed

[2018-06-10 18:29] JesperLekland commented on #147
Can't reproduce on `react-native@0.52.2`. Are you still experiencing this? If so could you try another verison of RN and see if this issue still persists?

[2018-06-10 21:01] muraterd commented on #164
Thank you for the quick reply :)

[2018-06-10 21:01] #164 closed

[2018-06-11 12:27] Danushka50 commented on #161
Thank you

[2018-06-11 16:19] raideltorres commented on #137
It will be nice to add a candlestick chart

[2018-06-12 14:58] vjsingh opened #167 "Axis labels in reversed order"
### What is the problem?

The labels of my y-axis are reversed, meaning the bottom label is for the top bar (horizontal graph), and vice versa.

### What platform?

* iOS

React Native version: 0.55

### Code to reproduce

[code]

### Result

<img width="358" alt="screenshot 2018-06-12 10 59 27" src="https://user-images.githubusercontent.com/318312/41298641-bc036d96-6e2f-11e8-84b3-104b160882ba.png

[2018-06-12 16:41] JesperLekland commented on #167
use `scale={scale.scaleBand}` on the YAxis

[2018-06-12 16:47] #167 closed

[2018-06-12 16:57] vjsingh commented on #167
Boom! Thanks. This repo is awesome and you are awesome 👍

[2018-06-13 16:52] vjsingh opened #168 "Axis with StackedBarChart and valueAccessor"
### What is the problem?
I can't display an X-Axis for a horizontal StackedBarChart.

### What platform?
* iOS
React Native version: 0.55

### Code to reproduce

[code]

I would expect the X-Axis to go from 0 to 30, but instead it is from 0 to 7:
![screenshot 2018-06-13 12 51 25](https://user-images.githubusercontent.com/318312/41365861-8860f54c-6f08-11e8-9b03-d957a7decb1c.png)

[2018-06-13 22:02] vlimag opened #169 "Is it possible to set onPress on the lineChart Component? and return de xAxis value related to that position"
I would like to press some place on the line chart, and get the value on the x Axis.
Is that possible?

I am using React Native version: 0.55.4

Solution:

Solved by drawing an rectangle on the chart.js file, making it touchable sensitive.

[2018-06-14 01:38] #169 closed

[2018-06-14 08:54] JesperLekland commented on #168
Well your XAxis shouldn't use the `scaleBand` scale. Think of your chart as a regular BarChart lying down. This means that your XAxis is now your YAxis, i.e it represents the extent of the combined data data. You should use `scale={scale.scaleLinear}`, which is also the default.

[2018-06-14 16:23] JesperLekland commented on #107
@dhcmega Please provide a reproducible example in a new issue. So far I haven't been able to reproduce a single issue of overlapping labels that has been reported

[2018-06-14 16:30] dhcmega opened #170 "Overlapping labels"
### What is the problem?
Overlapping labels over the pie chart.

### When does it happen?
Draw a pie chart with 2 or more slices with very small percentage.

### What platform?

* [x] iOS
* [x] Android

React Native version: 0.53.3
    "react": "16.2.0",
    "react-native": "0.53.3",
    "react-native-svg": "^6.3.1",
    "react-native-svg-charts": "^5.0.0",

### Code to reproduce

[code]

![screen

[2018-06-14 16:34] JesperLekland commented on #170
This is expected behaviour. You yourself position the text with `y` and `x` prop. Add your own offset for small slices. This is a medium level library and such will never implement very specific use cases like this one, however we provide you with all the tools to solve it yourself (i.e the props mentioned above).

[2018-06-14 16:34] #170 closed

[2018-06-14 16:41] dhcmega commented on #170
Values change, as it is a voting system, so I cannot set a specific position, it changes through out the day. Thanks for your response.

[2018-06-15 14:19] vjsingh commented on #168
@JesperLekland Thanks, but I did try that as well. Without scale.scaleLiner I'm still getting a 0-7 range for the axis, even though both my datapoints are "1, 2"

Full code:

[code]

[2018-06-18 16:27] JesperLekland commented on #168
Ah I found the problem! Your XAxis needs a `xAccessor={({item}) => item}` as it normally default to the index, not the value. What you'll also need is the `numerOfTicks` prop to calculate an evenly distributed array of numbers

[2018-06-18 16:35] jfr3000 opened #172 "Line chart with x axis not working when wrapped in horizontal ScrollView"
### What is the problem?
A line chart with an x axis doesn't render properly when wrapped in a horizontal scroll view.

### When does it happen?
I used [this example](https://github.com/JesperLekland/react-native-svg-charts#xaxis) - it was working fine. I wrapped a `ScrollView` around it - still good. I added `horizontal={true}` to the `ScrollView` - the chart breaks.

### What platform?
* [ ] iOS

[2018-06-18 16:38] JesperLekland commented on #172
Hi! You don't have any `width` set (and flex:1 doesn't work in the context of a ScrollView). Always try your layouts with just `View`s to make sure that it's correct before adding more complex components

[2018-06-18 16:39] jfr3000 commented on #172
Never mind, I forgot to add a width to the `View`, it has nothing to do with the `XAxis`.... :woman_facepalming:

[2018-06-18 16:39] #172 closed

[2018-06-18 16:39] jfr3000 commented on #172
Ah you beat me :)

[2018-06-18 16:41] JesperLekland commented on #172
Haha, glad you solved it 👍

[2018-06-20 13:58] vjsingh commented on #168
@JesperLekland Thanks! That fixed the example I gave. It doesn't appear to work with a more complex data structure for the value though, which is what I was originally trying to do before I came up with a simplified example.

Full code below, with the changes highlighted. Thank you for your help so far.

      let colors = [ '#7b4173', '#a55194'];

      let data = [
        {
          label: 'On

[2018-06-20 14:19] vjsingh commented on #122
I'm actually also interested in decorators for stacked charts I believe, unless there is an easier way of doing what I'd like to do.

I want to display a small tooltip with the value of a section of the graph when a user clicks that section. You could also imagine being able to overlay the number value of each section of the stacked bar graph over the sections.

[2018-06-20 18:35] Amnesthesia commented on #122
This seems to also be a problem for `AreaChart` if you use `AreaChart` with an array of objects and a yAccessor / xAccessor (e.g for using scaleTime). When the array isn't just numbers, the `x()` function provided to Decorator children doesn't work very well anymore

[2018-06-20 19:52] GSreact opened #173 "how to draw a chart like this ?"
Positive values : Green Area
Negative values : Red Area

![area](https://user-images.githubusercontent.com/39593936/41681114-e8df5190-74d3-11e8-8fbc-9373fa12d86e.png)

G.S.

[2018-06-21 06:54] JesperLekland commented on #173
Check out the [examples repo](https://github.com/JesperLekland/react-native-svg-charts-examples)

[2018-06-21 06:56] JesperLekland commented on #122
The `x` function is the same as the one used by the chart, i.e it's supposed to be fed the value returned by `xAccessor`, not the complex object

[2018-06-21 07:00] JesperLekland commented on #173
I realised a was a bit harsh by closing the issue (I thought we had an almost identical example in the repo). Either you try to use the `clip` properties and combine two graphs or you use a lineargradient that changes color at `y(0)`

[2018-06-21 10:58] Amnesthesia commented on #122
Yeah, sorry about that. After some time I realised the x function in the decorator needed a `Date` object when using scaleTime

[2018-06-21 12:23] ashutoshtrack opened #174 "onPress get value from chart"
How can i get value using onPress for all chart?
Please help me.

[2018-06-21 12:33] JesperLekland commented on #174
There are several ways. You yourself set the `onPress` on a data item, it's up to that `onPress` to return a relevant resposne. See [this](https://github.com/JesperLekland/react-native-svg-charts/blob/dev/storybook/stories/bar-stack/with-on-press.js) for inspiration

[2018-06-21 12:33] #174 closed

[2018-06-21 12:35] JesperLekland commented on #122
Well there you go 👍 So is this issue ready to be closed?

[2018-06-21 12:45] Amnesthesia commented on #122
@JesperLekland That's up to you :-) Do StackedAreaCharts support decorators now?

I'd like to discuss usage of decorators with PanResponders and what the best practice for this is, especially if you have multiple overlaying charts (which turns out to be really messy) - can I open a new issue for a general discussion on best-practice for decorator use cases, or does that belong somewhere else?

[2018-06-21 12:55] GSreact commented on #173
I approached the result I wanted (I'll have to handle the case with all the positive or negative values).
Finally, I imagine that to add the line (green or red) I will have to combine two other line graphs.

![img_2629](https://user-images.githubusercontent.com/39593936/41720340-0be54b88-7563-11e8-8af7-0307fcafe6c9.PNG)

Thanks again for all the help

My code:

`

class TestChart extends React.Com

[2018-06-21 13:00] vjsingh commented on #122
@JesperLekland I still have my question from above, I'd like to display a tooltip above the different sections of a StackedBarGraph. It appears from the documentation that this isn't currently supported?

[2018-06-21 13:17] JesperLekland commented on #122
Well they do support decorators but they're perhaps not as intuitive as for the other charts. You have to stack the values yourself in order to get the right `y` value but the `x` function should work exactly the same as for other graphs. I might be able to create some examples for the examples repository that incorporate decorators for a stacked chart, it won't be highly prioritised though.

Rega

[2018-06-21 13:33] vjsingh commented on #122
@JesperLekland I thought so because the "data" prop isn't passed to the children of the stacked charts, i.e.:

Without access to the data array, do I write decorators with just the x and y functions, and maybe my own data array passed in from elsewhere?

[2018-06-21 14:01] JesperLekland commented on #122
You render the child yourself, just pass in the data prop to it.

[code]

[2018-06-21 14:02] JesperLekland commented on #122
But I hear you, it's not the same as for the other charts. I could of course add it but not sure it would do any difference?

[2018-06-21 14:07] Amnesthesia commented on #122
One of the difficulties with decorators right now — pan responders aside — is when you have charts stacked on top of each other, meaning you have two very different datasets.

In one of my charts, I'm plotting a change over time in value, and on top of that chart, I have a `LineChart` to plot a change over time in another value, to let you see how two values correlate on a timeline.

This means th

[2018-06-21 14:18] JesperLekland commented on #122
But if you have two charts on top of each other then they should share the same domain and extent (min/max for both axes), otherwise they won't make any sense, meaning that their `x()` and `y()` should be exactly the same.

Could you provide a specific use case when this isn't true? (it should be for the one above).

[2018-06-21 14:20] JesperLekland commented on #122
As I said in the comment earlier you can easily pass in extra props to your decorator
[code]
Would give you access to both datasets. Allowing you to easily retrieve the value of the opposite dataset, e.g `data2[indexfoo]`

[2018-06-21 17:32] Amnesthesia commented on #122
They share the same X-axis, e.g displaying data for the same month, but they have completely different X-axis, e.g if one shows percentage 0-100 and the other one shows arbitrary values 0-15000, so the X-function will be the same, but not Y

[2018-06-22 21:25] vjsingh commented on #168
Snack example here: https://snack.expo.io/@vjsingh/yaxis-issue

[2018-06-22 22:19] vjsingh commented on #122
I made a pull request for my example here: https://github.com/JesperLekland/react-native-svg-charts/pull/175

(It's a stacked bar chart with labels)

@JesperLekland The code wasn't too bad, but maybe some of this functionality could move into StackedBarChart to make a little easier / more intuitive?

[2018-06-25 14:54] JesperLekland commented on #168
You are correct that the static function `extractDataPoints` doesn't support complex data. I'll fix this in the next release

[2018-06-25 14:57] JesperLekland commented on #122
@Amnesthesia hmm.. I see. How would you expect a chart like that to behave? I can't visualise it, could you possibly make a [snack](https://snack.expo.io/) That better explains showcases your problem?

[2018-06-26 06:51] Amnesthesia commented on #122
@JesperLekland A typical example would be trying to implement any of these charts for example: http://www.tylervigen.com/spurious-correlations

[2018-06-26 07:19] JesperLekland commented on #122
Sounds like a great proposal, I'll see what I can do. Thanks for helping out in making this library become better and better :)

[2018-06-26 07:32] Amnesthesia commented on #122
Thank you so much!

I'm really sorry I haven't made any PRs yet — when time allows, this is the first library I'll contribute to :) Thank you for all your great work on this!

[2018-06-26 12:29] JesperLekland commented on #147
Seems like it could be. Since the owner of this issue still haven't gotten back to me I'll go ahead and close this issue due to inactivity. If somebody else happens on the same thing please comment here (or create a new issue referencing this) and I'll try to investigate further

[2018-06-26 12:29] #147 closed

[2018-06-26 12:52] acomito commented on #107
<img width="350" alt="screen shot 2018-06-26 at 8 51 57 am" src="https://user-images.githubusercontent.com/12701635/41913139-45366142-791e-11e8-810f-275336b81ad8.png">

I'm getting a similar issue... will try to create a reproduction.

[2018-06-26 12:57] burhanahmed92 commented on #107
There is a issue version compatibility issue with this library, i now switched to react-native-charts-wrapper , its stable and support is good

[2018-06-26 13:00] acomito commented on #107
hmm... I don't really want to switch libraries over some overlapped labels but I'll check it out.

[2018-06-26 13:03] JesperLekland commented on #107
@acomito There is a potential bug when using the `scale` prop as described [here](https://github.com/JesperLekland/react-native-svg-charts/issues/176). Will hopefully have a fix out pretty soon. In the meanwhile it would be great if you could provide a reproducible example so that I can troubleshoot better.

[2018-06-26 13:18] acomito commented on #107
@JesperLekland I just updated my post with more info, including a paid/due array of data you can feed in (I think those are the only props fed to LayeredChartsExample).

[2018-06-26 14:01] gertvdkolk opened #177 "Error while updating property 'd' in shadow node of type: RNSVGPath when putting values of type string in XAxis"
### What is the problem?

I have a dashboard screen with several charts. Now I'm trying to create a LineChart like the example below:
![image](https://user-images.githubusercontent.com/8580426/41916115-99266aca-7957-11e8-8831-3f2e718f81ff.png)

So I created took a copy of this chart's dataSource and using this as data in my chart. I have an array containing all widgets for the dashboard. It looks

[2018-06-26 14:23] JesperLekland commented on #177
How would any of the components know how to layout their children along the x axis based on strings? It seems like you want `xAccessor={({index}) => index}` and then to use the `formatLabel` prop of the `XAxis`

[2018-06-26 14:53] acomito commented on #107
I wonder if it could be something to do with absolutely positioning. The labels all seem to be absolute left: 0, bottom: 0

[2018-06-26 15:06] JesperLekland commented on #107
Looked quickly at the above example. None of the x-values are valid date objects! You have to do `new Date("2018-01-01")` in order for the `scaleTime` to work

[2018-06-26 15:43] acomito commented on #107
I appreciate you taking the time to look. Unfortunately still not fixed after that change.  I'll keep looking as well.

[2018-06-27 04:44] burhanahmed92 commented on #107
Please share if you fixed the issue, i may try this again...

[2018-06-27 07:08] JesperLekland commented on #107
@acomito could you try with the same version of d3-scale that this library uses?

[2018-06-27 07:10] burhanahmed92 commented on #107
I try next time when i use this library again...

[2018-06-27 07:12] gertvdkolk commented on #177
Thanks for the quick response and the clarification on handling this situation. I managed to get it working.

[2018-06-27 07:13] #177 closed

[2018-06-27 08:34] martin9908 opened #178 "Layered Charts: Y-Axis same height even when they have Different Values"
### What is the problem?
The Y-Axes of Layered charts are showing the same height even when one of them is 30 and the other is 60.

### When does it happen?
When the graph loads for my weekly reports

### What platform?
* [x] iOS 11^
* [x] Android 5^

React Native version: 0.27-SDK

### Code to reproduce

[code]

[2018-06-27 11:39] JesperLekland commented on #178
I'm not entirely sure what you mean. You yourself pass the data to `YAxis`, it only displays what you pass it. Could you enclose a screenshot?

You code is not reproducible, I have no access to `this.props`.
You probably want to utilise the `min/max` props to align your charts

[2018-06-27 12:11] Amnesthesia opened #179 "Get the Y value for a given X value"
### What is the problem?
Not a problem, more like an idea / feature: Getting the Y value for a given X value. When the XAxis is linear (e.g time), it would be nice to have a function like `x()` and `y()` but not for the coordinates, but for the values. For example, if you have the following input:

[code]

The graph is now going to be painted as if the values were like so:
[code]

So, by providing

[2018-06-27 13:57] JesperLekland commented on #179
Good suggestion. The real question is, when would you need this? The only real use case I can think of is when you need, as you called them, "in-between" values, e.g for `x = new Date(2018, 06, 26, 12)`. Then my follow up question is, why should you display values that aren't really in the data set?

[2018-06-27 14:14] acomito commented on #107
@burhanahmed92 @JesperLekland

This is my latest attempt:

[code]

[code]
[code]

outputs:

<img width="337" alt="screen shot 2018-06-27 at 10 11 37 am" src="https://user-images.githubusercontent.com/12701635/41979654-9d00e21a-79f2-11e8-991a-ca3fc0af9c86.png">

[2018-06-27 14:58] JesperLekland commented on #107
You're supposed to do *new* Date('string'). Otherwise they all return the same value.

[2018-06-27 14:59] JesperLekland commented on #107
Then you will have to use some negative margins and contentInset to align everything. Each label is centered on it's x-coordinate, i.e it will overflow on the first and last value if not corrected

[2018-06-27 16:03] acomito commented on #107
@JesperLekland :blush:

[2018-06-27 16:14] JesperLekland commented on #107
Glad it worked. Will lock this conversation now. Please create a new issue if you find anything new.

[2018-06-27 16:52] ln0v opened #180 "Xaxis label on two lines"
### more of is this possible / how to question

my X axis is a time line, using <XAxis /> labels like  "7 June,2017" takes up too much space.
I would like it formatted in two lines like:
7 June
2017

can this formatting be done , (can the svg prop take Tspan) in the current <XAxis />
any help is much appreciated

[2018-06-28 03:11] longpq18 opened #181 "How to create a market depth chart"
![workspace 1_010](https://user-images.githubusercontent.com/15885041/42011026-a8b28bbc-7abb-11e8-81f4-4b9e57df10b3.png)

[2018-06-28 06:53] Amnesthesia commented on #179
You'd need this when you show linear data, and want to be able to e.g show decorators on touch. If you want to have a "draggable" decorator, e.g a vertical line that shows where on the graph you are, and what values the graph is showing there, as you drag across the graph, would be much smoother and less choppy, if you could show what the graph is actually showing, instead of showing the nearest d

[2018-06-28 07:34] JesperLekland commented on #181
Check out the [examples repo](react-native-svg-charts-examples) for partial charts and gradient decorators.

[2018-06-28 07:34] #181 closed

[2018-06-28 07:40] JesperLekland commented on #179
I hear you. I'll have to look into if d3.js have that option anywhere, since that's what I'm using to generate the paths.

[2018-06-28 10:40] gertvdkolk commented on #180
Haven't tested this but maybe this works:
Use formatLabel prop and use a string literal, split on the comma and return the year part on a new line?

[2018-06-28 11:59] JesperLekland commented on #180
@gertvdkolk That should technically work, haven't tested it myself either. I saw one user who just added two XAxis and on showed the date, the other the year. Try any solution you see fit.

[2018-06-28 17:40] gagso opened #182 "[Help] xAxis values not aligned with BarChart"
### What is the problem?
xAxis doesn't render the values inline with BarChart

<img width="371" alt="screen shot 2018-06-28 at 11 04 13 pm" src="https://user-images.githubusercontent.com/9055403/42050984-328b6798-7b28-11e8-8e2b-16710fb29502.png">

### When does it happen?
just trying to render it onLoad using the following code

xAxis
[code]

### What platform?

* [x ] iOS 11

React Native version

[2018-06-28 18:01] JesperLekland commented on #182
Don't know what `item.title` is but I'm pretty sure it's not something the `XAxis` can layout.

 Have a look over at the [examples repo](https://github.com/JesperLekland/react-native-svg-charts-examples).

Using `scaleBand` means you can almost always remove the `xAccessor` all together, it just looks at the index anyway (which just happens to be the default `xAccessor` for the `XAxis`

[2018-06-28 18:22] gagso commented on #182
`item.title` is just a string.

I also observed i am getting this error in the packager console.

```11:49:41 PM: Warning: Failed prop type: Invalid prop `scale` of value `function band() {
      var scale = ordinal().unknown(undefined),
          domain = scale.domain,
          ordinalRange = scale.range,
          range$$1 = [0, 1],
          step,
          bandwidth,
          round = false,

[2018-06-28 18:47] gagso commented on #182
Very Strange - I am directly using this example code

[](https://github.com/JesperLekland/react-native-svg-charts-examples/blob/master/storybook/stories/bar-chart/horizontal-with-axis.js)

and i get this error -

<img width="338" alt="screen shot 2018-06-29 at 12 14 25 am" src="https://user-images.githubusercontent.com/9055403/42054362-c180c048-7b31-11e8-84f0-e354e0d91d58.png">

[2018-06-28 18:51] gagso commented on #182
@JesperLekland - looks like there is some other problem; probably with the scale ? _The exact same code from the example shouldn't break_

which version of `d3-scale` are we supposed to use ? I believe it should be `d3-scale@1.0.6` or `d3-scale@1.0.7` ?

[2018-06-29 00:29] ln0v commented on #180
@gertvdkolk @JesperLekland both your suggestions work
this works:
`7June
   1870`
spacing & alignment does not work too well with the above, having a another XAxis with just the  year works well.
Much appreciate you help.

[2018-06-29 00:29] #180 closed

[2018-07-02 14:11] animaonline opened #183 "Overlay in a LineChart - get the exact y position when using a double"
I'm displaying a `LineChart` with curve type set to `curveMonotoneX` inside a `ScrollView`, I want to animate an overlay when the user is scrolling the ScrollView, I'm calculating the percentage of an item, then I send the double value to the `x` function.

E.g. index 14 becomes 14.23, when I send it to the `x` function I get the exact position within the chart.

This works fine, but whenever I se

[2018-07-02 14:51] JesperLekland commented on #183
You yourself are moving the circle 35 pixels (`x={ 75/2 }` in the inner `<G>`) to the right, that's why it's displaced

[2018-07-02 14:53] JesperLekland commented on #183
Also in order to correctly troubleshoot I need a complete, small example. This example provides me with very little to go on (code wise). Great screenshot though

[2018-07-02 15:34] acomito commented on #182
@gagso did you make sure you have javascript data objects? Then use formatLabel to re-format before displaying?

[2018-07-02 16:28] animaonline commented on #183
@JesperLekland oops, the green arrow is supposed to point at the line just above the white dot, sorry..

[2018-07-02 16:48] gagso commented on #182
@acomito - i am using javascript data objects and i do use `formatLabel` if you look at the code i shared above.

[2018-07-03 07:49] nidhinkumar06 opened #184 "Bar Chart Doesn't display Grid Lines"
Bar Chart Doesn't display the grid lines.I have tried using Line chart but there i could see the grid lines gets displayed.I have used both XAxis and YAxis for it

![screenshot_1530603716](https://user-images.githubusercontent.com/10459220/42206045-b4918c88-7ec3-11e8-9da1-e8f800dfe4e3.png)

Even i have tried with the example provided by @JesperLekland  but i couldn't see the grid lines in the bar

[2018-07-03 07:49] JesperLekland commented on #183
I still think the y position looks correct, the x position is the one that's wrong. Right?

[2018-07-03 07:50] animaonline commented on #183
Nope :) I'll provide a repo with a repro

[2018-07-03 08:37] JesperLekland commented on #184
Please provide a complete reproducible example, I don't know what any of the variables are nor do I know how you import anything. Also what version of the library are you using?

[2018-07-03 09:35] nidhinkumar06 commented on #184
@JesperLekland  I have updated the code can u pls check it

[2018-07-03 09:51] JesperLekland commented on #184
This is what I get when running your exact code in the project
![screen shot 2018-07-03 at 11 51 14](https://user-images.githubusercontent.com/10115896/42212782-6e587dfa-7eb7-11e8-9a05-19f06fbe793c.png)

[2018-07-03 09:53] nidhinkumar06 commented on #184
@JesperLekland  But i can't get the grid lines for Barchart whereas when i tried in line chart i am getting it

[2018-07-03 09:53] JesperLekland commented on #184
Very hard for me to troubleshoot when I can't even reproduce

[2018-07-03 09:56] nidhinkumar06 commented on #184
@JesperLekland  will it cause by the styles we give

[2018-07-03 10:06] JesperLekland commented on #184
You don't pass any styles to the Grid. This [snack](https://snack.expo.io/Hyo8K6uGQ) confirms that the Grid renders correctly

[2018-07-03 10:09] JesperLekland commented on #183
Looking at this line
[code]
You sometimes call the `y` function with `.current._value` and sometimes with an entire object. The `y` function only supports numbers

[2018-07-03 10:14] JesperLekland commented on #182
I'm pretty sure this is a scale issue, I'll resolve this in the next release

[2018-07-03 10:18] JesperLekland commented on #182
What you could try to do is to remove the dependency of `d3-scale` from your package.json. `react-native-svg-charts` already depends on it and therefore it should already be in your node_modules (this could depend on `npm` vs `yarn`, but it should work with `yarn).

[2018-07-03 12:17] animaonline commented on #183
current._value is used for animation purposes, when the animation is completed the whole object is replaced by the targeted value, which is a number.

[2018-07-03 15:42] acomito opened #185 "Yaxis not working in a snack?"
I was trying to reproduce an issue I had with a snack,. but I'm getting an error sounding like YAxis can't be imported from the npm package? Any ideas of did I miss something specific to working with snacks?

https://snack.expo.io/@arcomito/react-native-svg-charts-label-and-xaxis-bugs

[2018-07-03 16:03] flashimxd commented on #182
Hi guys, I've facing the same problem with the d3-scale, is there anything I can do to resolve?
Thank you so much! This is the best chart for react-native I tried!

[2018-07-03 16:10] acomito commented on #182
@flashimxd do you have code or a snack?

[2018-07-03 16:30] flashimxd commented on #182
HI @acomito , thank you to reply,
When I put the 3d-scale, they don't stay in the same line..
when I remove, I can control using the contentInset, but, of course, it not working cause I don't know the lenght of my data object..

this is my code:

return (
            <View>
                <View style={{ flex: 1, flexDirection: 'row', justifyContent: 'space-between', marginBottom: 25 }}>

[2018-07-03 16:49] flashimxd commented on #182
Another strange thing.. when I inspect the scale.scaleBand I receive:

ƒ band() {
      var scale = ordinal().unknown(undefined),
          domain = scale.domain,
          ordinalRange = scale.range,
          range$$1 = [0, 1],
          step,
          bandwidth,

[2018-07-04 06:56] JesperLekland commented on #182
@flashimxd What version of `d3-scale` are you using? Are you using the one bundled with the library or have you a dependency of your own?

[2018-07-04 06:57] JesperLekland commented on #185
I noticed that too yesterday, no idea what it's about :(

[2018-07-04 06:59] JesperLekland commented on #183
They both can't possibly be numbers?

Also using `_value` of an `Animated.Value` is highly discouraged by RN themselves , but that's completely of topic

[2018-07-04 07:01] animaonline commented on #183
Yes, they actually are :) I'm working on a proof of concept, but in the production I would probably use requestAnimationFrame or something like that.

[2018-07-04 13:52] flashimxd commented on #182
@JesperLekland I'm using the one blunded:
d3-scale@^2.0.0

[2018-07-04 13:59] JesperLekland commented on #182
@flashimxd I highly doubt it. The one bundled is `^1.0.6`

[2018-07-04 14:02] gagso commented on #182
Only way I could make it work is by choosing not to use scaleBand and
adjust using offsets.

It's not the best solution as the lables are not exactly centred. But
that's all I could do for now.

I tried using the exact version which is a dependency for the library 1.0.6
/ 1.0.7.

On Wed, 4 Jul 2018 at 7:22 PM, Rangel Netto <notifications@github.com>
wrote:

[2018-07-04 14:03] JesperLekland commented on #182
@gagso you're not supposed to have in it your `package.json` at all, it comes bundled with the library. The upcoming version will export its own `scale` to remedy this confusion.

[2018-07-04 14:19] flashimxd commented on #182
Ok, but I just tried with the version 1.0.6 and the result does not change,
I'm afraid do been doing something wrong..

[2018-07-04 14:49] JesperLekland commented on #182
You not supposed to try with any version. Remove it completely from your package.json. `react-native-svg-charts` will automatically install `d3-scale` into your `node_modules`
It was obviously a mistake from my part to allow external dependencies...

[2018-07-04 15:17] flashimxd commented on #182
@JesperLekland It worked! I just remove the 3d-scale from my node modules and reinstall the react-native-svg-charts and it solved my problem! I appreciate you spending your time to help us!

Thank you so much!

![screen shot 2018-07-04 at 16 15 27](https://user-images.githubusercontent.com/13886651/42284846-aa2727f2-7fa5-11e8-863c-f97ae7459c52.png)

[2018-07-04 17:24] gagso commented on #182
If I don't have my own dependency, can you tell me how can I pass
'scaleBand' to the BarChart component ?

What I know is scaleBand is imported from 'd3scale' and I cannot import
without having it as a dependency.

I think it's a good idea to expose the scale like you mentioned.
On Wed, 4 Jul 2018 at 8:47 PM, Rangel Netto <notifications@github.com>
wrote:

[2018-07-05 13:14] acomito commented on #185
Closing for now just wanted to make sure it wasn't me.

[2018-07-05 13:14] #185 closed

[2018-07-05 13:27] acomito opened #186 "XAxis only shows up if "debug js remote" is turned on?"
### What is the problem?

This is a really strange one. If I run my code with debug js remotely turned on, I see:

<img width="351" alt="screen shot 2018-07-05 at 9 23 23 am" src="https://user-images.githubusercontent.com/12701635/42325740-213c8f1e-8035-11e8-8a9d-bea72f185a0a.png">

and when debug js remotely is off, or when I'm running in production, I see this:

<img width="363" alt="screen shot

[2018-07-05 13:43] acomito commented on #186
So, this is related to the javascript dates I'm using on my X axis. It seems when debugging is on, new Date is working differently then when debugging is off. Specially, this works:

`new Date("2018-05-01")`

This does not work:

`new Date("2018-05-01  00:00")`

My Issue is that `new Date("2018-05-01")` is returning the wrong day because there is no time included... [see this](https://stackoverflo

[2018-07-05 13:44] #186 closed

[2018-07-05 14:44] JesperLekland commented on #182
@gagso not sure if you're using `yarn` or `npm` but `yarn` makes sure that a dependency of `react-native-svg-charts`, eg `d3-scale` is installed as a dependency of your project. You should be able to import it as usual

[2018-07-05 14:45] JesperLekland commented on #186
yup, when debugging is on you use chromes V8 js engine which might treat some things differently

[2018-07-08 23:10] kevinNejad opened #187 "get y values through panResponder"
Hi
Thank you so much for such an amazing library and great support.
I am trying to get y values of my point while moving the bar.

![screen shot 2018-07-09 at 00 02 05](https://user-images.githubusercontent.com/26068228/42424884-42868b6e-830c-11e8-910a-7be9e9c2a98a.png)

[2018-07-09 12:45] Pardeep03315 opened #188 "animate property not working"
### What is the problem?

### When does it happen?

### What platform?

* [ ] iOS
* [x] Android

React Native version: 0.xx

### Code to reproduce

[code]

[2018-07-09 15:05] JesperLekland commented on #188
Closing due to incomplete issue. Provide an explanation and reproducible code and/or screenshots, otherwise you're just wasting everybody's time

[2018-07-09 15:05] #188 closed

[2018-07-09 15:07] JesperLekland commented on #187
Hi @kevinNejad! It is possible but not something that is supported out of the box. We've discussed it briefly in [this issue](https://github.com/JesperLekland/react-native-svg-charts/issues/122)

[2018-07-09 19:09] kevinNejad commented on #187
@JesperLekland Thank you so much.
I'm closing this as it's discussed here. [https://github.com/JesperLekland/react-native-svg-charts/issues/122](url)

[2018-07-09 19:10] #187 closed

[2018-07-11 16:04] markedup commented on #182
@JesperLekland `import * as scale from "d3-scale";` doesn't work for me—is this the wrong way to include the bundled D3 Scale?

RN error is `Unable to resolve 'd3-scale' … Module 'd3-scale' does not exist in the Haste module map`

[2018-07-11 16:49] gagso commented on #182
It won't work. As per my understanding of things, dependencies of a library
we consume will be installed in 'node_modules' folder inside the library
folder (which is inside the node_modules folder in root)

That's the reason I had to install 'd3-scale' in the root..
On Wed, 11 Jul 2018 at 9:35 PM, Pete Fairhurst <notifications@github.com>
wrote:

[2018-07-12 09:32] markedup opened #189 "Customising each bar drawn within a chart"
### What is the problem?
I'd like to visually round off the ends of a `StackedBarChart` element’s bars – both foreground data and background guides – like so:
![StackedBarChart with rounded and shaded bars](https://s15.postimg.cc/3z0owgoor/Screen_Shot_2018-07-12_at_10.23.22.png)
I'd also like to apply a gradient effect to each bar, as per the illustration above also.

However, having read through

[2018-07-12 15:44] igor90007 commented on #179
`<XAxis
      xAccessor={({ item }) => `${item}`}
      ....
 />`

[2018-07-13 21:52] vjsingh opened #190 "onpress for axis labels?"
Is it possible to pass in a callback for when a certain label on an axis is pressed? I have a StackedBarChart and I'd like to do something when the labels on the x-axis are pressed.

[2018-07-14 11:20] JesperLekland commented on #190
yes, the axes supports complex data structures as well (`svg` prop with `onPress` for each item)

[2018-07-15 14:57] markedup commented on #189
Thanks @JesperLekland, appreciate the details regarding per-bar drawing options (specifically rounding).

Regarding the gradients, do you have an example of the gradient being applied relative to the bar's size within the overall graph "spectrum"? Or will I need to create a proportional gradient start and finish per bar, based on the overall chart gradient?

[2018-07-16 08:56] JesperLekland commented on #189
@markedup Unfortunately don't have an example. I think you'll need to create one gradient per bar and do some calculations based on it's relation to the entire data set min/max. Perhaps some color interpolation

[2018-07-16 09:08] markedup commented on #189
No worries, @JesperLekland – thanks again for you help. I was thinking it would need to be an interpolated, per-bar gradient; if I produce anything useful, I'll share it here.

[2018-07-16 09:23] JesperLekland commented on #189
Great, thanks for the input. I'll keep this issue open to remind me about the borderRadius for BarChart

[2018-07-17 11:57] cao1034 opened #191 "I found that the scale (YAxis) is automatically calculated based on the data source. I want to customize the scale (YAxis). What should I do next?"
![fb50c145-233f-4fad-a1b0-0809fdaa5f66](https://user-images.githubusercontent.com/11959771/42815942-8c780734-89fb-11e8-90f6-96826a7b4c51.png)

[2018-07-17 12:00] JesperLekland commented on #191
What do you wan't to customise?

[2018-07-17 12:08] cao1034 commented on #191
I wish I could set the scale eg: 100 (YAxis : 100,200,300,400)
I tried multiple sets of data and found that the scale can now be 5, 10, 20 and so on.

[2018-07-17 12:19] JesperLekland commented on #191
you can pass the YAxis any data set that you want. It will always pick the highest and lowest value and calculate the ticks from those data points. You can tweak the ticks with the `numberOfTicks` prop. See [d3-ticks](https://github.com/d3/d3-scale#continuous_ticks) for more info

[2018-07-17 12:19] cao1034 commented on #191
I found that the excess could not be displayed, maybe I didn't find a way.
![c956c365-67af-46a7-b834-9a6363689f6d](https://user-images.githubusercontent.com/11959771/42816844-b2bdc156-89fe-11e8-830e-b578db32ca6b.png)

[2018-07-17 12:37] cao1034 commented on #191
The scale problem has been solved, thank you

[2018-07-17 16:18] #191 closed

[2018-07-18 16:01] cao1034 opened #192 "consult"
Hi Hello, I would like to ask if the label is out of the area, how to display it?
![5546dbb0-f278-4be4-9dd4-494dacd4720f](https://user-images.githubusercontent.com/11959771/42893136-231b3f68-8ae6-11e8-92bb-1a2bbd3516f0.png)
![e577c82f-4770-4194-b276-fe38e75a9116](https://user-images.githubusercontent.com/11959771/42893138-238c6878-8ae6-11e8-9338-11e5ea98ee5a.png)

[2018-07-18 18:12] JesperLekland commented on #192
You position the label yourself so there's a million ways of doing it. A suggestion would be to use the `yMax` prop to increase the area above the graph and thus being able to keep it above the graph line.

[2018-07-18 18:13] #184 closed

[2018-07-18 18:24] vjsingh commented on #190
@JesperLekland Sorry I didn't respond to this yet. Thank you, passing in an onPress to the axis svgs seems to be working.

It appears that the touch target however is the text, which makes for a finicky touch target. Would there be an easy way to pass in a custom rectangle that has text on it (to make the touch target bigger) or is that something I would have to do custom myself?

[2018-07-18 19:21] flalex opened #193 "How to full fill parent view"
### What is the problem?
First of all, thank you very much for this incredible library. Great work.

I feel that lost obvious thing, sorry for that, but I'm a little bit confused.

I use AreaChart with Path and LinearGradient and see that chart has dynamically width.

Please, check the screenshots.
![chart1](https://user-images.githubusercontent.com/818999/42901806-ad1cece2-8add-11e8-9765-0575a416

[2018-07-19 06:49] JesperLekland commented on #193
Hi @flalex Please provide example code, otherwise it's impossible to help you

[2018-07-19 06:53] JesperLekland commented on #190
Great to hear that it worked.

Unfortunately there's no way of passing in any other shapes as this would break the layout. The closest solution I can think of is to create your own transparent component on top of the xAxis with rectangles positioned the same way the text is. You can look at the [XAxis source](https://github.com/JesperLekland/react-native-svg-charts/blob/dev/src/x-axis.js) for insp

[2018-07-19 07:48] Moshikol opened #194 "Misalignment Y-Axis value and grid lines"
Hello All,
im trying to implement line chart in my application with xAxis that would show timestamp and yAxis would show value between 40-400 and grid, but i have a problem aligning the yAxis with the value on the graph  and line in grid What am i missing here ?

### When does it happen?
No Actions to repduce  just my code

### What platform?

* [ ] iOS
* [x] Android  7.0

React Native version: 0.

[2018-07-19 07:51] flalex commented on #193
Hi @JesperLekland Updated request !

[2018-07-19 13:03] vjsingh commented on #190
gotcha, that seems like a good solution. Thank you!

[2018-07-20 07:02] JesperLekland commented on #193
You're using a `curve` that exhibits the behaviour in your screenshots. Try e.g `shape.curveBasis` and you'll see that everything behaves as expected.

[2018-07-20 07:02] #193 closed

[2018-07-20 07:23] JesperLekland commented on #194
Well you're giving the YAxis the wrong `min/max`. Either you give the same `(x|y)min/max` to the chart and the axes or you let the YAxis calculate the min/max by itself by using the `yAccessor`

[2018-07-20 07:40] flalex commented on #193
@JesperLekland Thank you for the response. But...

Yes, I need "smooth" curve and yes shape.curveLinear behaves as expected, but is not suitable for me.
Sorry, I don't understand this point

Passing contentInset with zero values to AreaChart in the code above don't change the behavior ...

Any ideas for getting such behavior for "smooth" curve?

[2018-07-20 14:51] kashifsulaiman opened #195 "Stacked Area Chart onPress get value and position for tooltip"
### What is the problem?

For Stacked Area Chart, onPress is explicit in svgs array, not in the data. We're unable to get the values & position of the pressed item.

### When does it happen?
Clicking a value in the chart.

### What platform?

* [x] iOS
* [x] Android 27.0.0

React Native version: 0.55.2

### Code to reproduce

[code]

[2018-07-20 15:55] alburdette619 opened #196 "StackedBarChart grouped with Bar Chart(s)"
### What is the problem?

I need the ability to group bar and stacked bar charts side by side identical to the current functionality of grouping bars.

### When does it happen?

The feature is not currently supported as per communications with @JesperLekland.

### What platform?

* [x] iOS
* [x] Android

React Native version: `0.55.4`

### Example

Single Data Point:

<img width="110" alt="screen

[2018-07-20 15:57] alburdette619 commented on #196
I plan to try to at least figure this out today @JesperLekland.  If there are any implementation details you'd like me to consider let me know but I'll of course try to understand the codebase and work appropriately off of that taking the current bar grouping as a model.  As long as all goes well I'll submit a PR.

[2018-07-20 16:48] alburdette619 commented on #196
Is it maybe possible to do this today if both charts are rendered side by side using the `spacingOuter` prop?  If the stack supported that property too, the bar group and the stack bar could just be moved over a specific amount.  Otherwise this is something I don't think this library has previously done before.  I'd have to make some specialized container or grouped component.

[2018-07-20 18:23] alburdette619 commented on #196
Okay, I followed the overlapping charts story and kinda got this to work, but it's not a great solution.  The setting of `spacingInner`, `spacingOuter`, and `contentInset` would have to be very fine tuned and that's what d3 is for.

[2018-07-20 21:06] alburdette619 commented on #196
After taking some time to just look at the code, I'm a little confused how to accomplish this architecturally and would like your input @JesperLekland.  I think this will either have to be a brand new component or it will extend the stacked bar chart and override measurement functions.  Please provide your thoughts when you have time 😃

[2018-07-22 05:29] cao1034 commented on #193
AreaChart   parameter：  xMin ，  xMax  。Maybe you can try it, it solves my same problem.

[2018-07-22 15:13] flalex commented on #193
@cao1034 Thank you very much, now it solves my issue too!
But, I've tried the same way with yMin, yMax and have no understanding how it works.
Using max data value for yMax not help.

@JesperLekland Why did you close the issue before finding clear solution ?
As you see this issue might be actual for some users and it'll be good help to place here the answer.

[2018-07-23 07:15] JesperLekland commented on #193
Because this is not an issue with the library itself but an issue with mathematical interpolation of a curve along data points. Something that there are several ways to tackle and this library supports several. Open issues are for problems within the library, people are still free to search for the closed issues.

[2018-07-23 08:03] nomikeeper commented on #81
It this error somewhat related to this?
![screen shot 2018-07-23 at 16 52 58](https://user-images.githubusercontent.com/10585040/43064104-f4447c84-8e98-11e8-8012-704e109e75f4.png)

I've been trying to figure out what is this error. On IOS there was no problem but on Android it's giving me this error. In case if you are wondering what would my source code looks like:

[code]

[2018-07-23 11:14] #192 closed

[2018-07-23 11:20] JesperLekland commented on #196
First of all, thank you for a thorough investigation of the problem 🥇
Secondly, I'm on my summer vacation and as such won't be able to help all that much.

I think the best bet right now is to create a new component (at least internally, much as the regular and grouped bar chart) and then see if there's any way we can merge the down the line. Feel free to open a PR and I'll assist you to the best

[2018-07-23 11:23] JesperLekland commented on #81
I'm pretty sure the AreaChart can't take a formatted date string as the xAccessor value.
You probably need
[code]

[2018-07-23 11:43] cao1034 commented on #193
@flalex
If you need to specify  yMax
 YAxis setting:
data={[yMin,yMax]}
min={yMin}
max={yMax}
numberOfTicks={ticksNumber}
AreaChart
  yMin={yMin}
 yMax={yMax}
numberOfTicks={ticksNumber}

eg: yMin 0, yMax 1000 ticksNumber: 5   result:  0 200, 400, 600, 800, 1000
default is linear    can be set yScale
obout yScale https://www.npmjs.com/package/d3-scale
English is not good, please forgive me!

[2018-07-23 11:44] kashifsulaiman commented on #195
@JesperLekland Thanks for replying, the issue is, I'm providing an array of object as data where `count` is the key. Now what I need is to check whether which Index or value of count is pressed How's that possible?

[2018-07-23 12:02] JesperLekland commented on #195
@kashifsulaiman Could you show me an example of the data?

[2018-07-23 12:16] kashifsulaiman commented on #195
@JesperLekland Sure
[ {
    "count": 1,
    "key": 1532336400000
  },
  {
    "count": 2,
    "key": 1532347200000
  }]

[2018-07-23 12:23] JesperLekland commented on #195
Well then what would stop you from doing something like this?
[code]

[2018-07-23 12:34] kashifsulaiman commented on #195
@JesperLekland no this doesn't fulfill the requirement.
Actually here each onPress object is for each key (Each stack), that is what I got from your example...
With your code, I'm only getting the first element's on Press event at any point I press!

[2018-07-24 01:51] nomikeeper commented on #81
I changed the AreaChart into this but I'm still getting the same error.
[code]

Btw, the data I'm providing is just a constant array.
[code]

[2018-07-24 04:37] nomikeeper commented on #81
When I changed:

                        `xAccessor={ ({ item }) => item.date}`
to

                        `xAccessor={({index}) => index}`

the chart is working fine.

[2018-07-24 08:33] JesperLekland commented on #81
Ah you're using date strings not date objects, in that cause you should probably do `xAccessor={ ({item}) => new Date(item.date) }`

[2018-07-24 13:43] siperjff opened #198 "A different kind of area chart?"
Hello,

I need to know if a chart such as the following image is possible with react-native-svg-charts and, if so, how to replicate it.

Here is the image:
![image](https://user-images.githubusercontent.com/17105333/43142206-d8c94b1e-8f25-11e8-8933-4ac7809d3ded.png)

Thank you in advance!

[2018-07-24 14:10] kashifsulaiman commented on #195
@JesperLekland Is there any example for this?

[2018-07-24 14:30] JesperLekland commented on #195
What do you mean with first element? If you want to know which xIndex as well as which stack the onPress is for you're going to have to build your own decorators for the chart. Each area is built with one path and as such can't tell you where in the area it has been touched.

[2018-07-24 14:31] kashifsulaiman commented on #195
@JesperLekland `can't tell you where in the area it has been touched.` this was required actually. Hopefully any work in future for this?

[2018-07-24 14:34] JesperLekland commented on #195
As I said, you can build it yourself with decorator. But there won't be any built in support for this in the near future.

[2018-07-24 14:39] kashifsulaiman commented on #195
@JesperLekland Could you show any example for decorator usage?

[2018-07-24 14:56] siperjff commented on #198
Thank you for that quick response!

I understand that you feel as if I didn't read the entire README, and indeed I didn't read the stacked section in the d3/d3-shape section of the d3 git project.

I did go through your README though, and with no direct example, I felt compelled to ask if it was possible.

I'm sorry to have taken your time, have a nice day!

[2018-07-24 15:21] JesperLekland commented on #198
Sorry for my short response. Being an open source maintainer exposes you to a lot of people who don't value your time at all.

The stacked part of your example should be able to be implemented with the `StackedAreaChart` component of this library. Your overlays will require some trickery but should be implementable with the `decorator` support.

I prefer issues where there's at least an attempt to

[2018-07-25 07:35] sakul-budhathoki opened #199 "Add Progress Line component"

[2018-07-25 08:04] JesperLekland commented on #199
Incomplete issue

[2018-07-25 08:04] #199 closed

[2018-07-25 09:27] markedup opened #200 "XAxis labelling behaves unexpectedly with 24hr data set and scaleTime"
### What is the problem?

When using a data set which comprises a `Date` / `value` pair as an object per data entry, XAxis doesn't seem to be able to plot the time at regular intervals when assigning `numberOfTicks` in combination with D3's `scaleTime` helper.

Furthermore, the XAxis does not span the chart width correctly, or end on the final `Date` in the provided data set in this configuration.

[2018-07-25 15:33] kashifsulaiman commented on #195
@JesperLekland It worked using Decorators! Thanks alot!

[2018-07-25 21:55] alburdette619 commented on #200
I'm having this issue too.  The axis labels bunch up on the left side, drawing over one another.  If I set `scaleBand` The last label is at the absolute midpoint of the graph.

[2018-07-25 23:13] kalradivyanshu opened #201 "Invariant Violation: requireNativeComponent: "RNSVGLine" was not found in the UIManager."
I get this error when i try a basic example, here's my index.js:

[code]

Invariant Violation: requireNativeComponent: "RNSVGLine" was not found in the UIManager.

This error is located at:
    in RNSVGLine (at Line.js:33)
    in Line (at grid.js:10)
    in RNSVGGroup (at G.js:25)
    in G (at grid.js:7)
    in Horizontal (at grid.js:83)
    in Grid (at index.js:11)
    in RNSVGSvgView (at Svg.js:

[2018-07-25 23:29] msevestre commented on #195
Could you share your code? I'd like to add a similar feature to one of my app. Thanks

[2018-07-26 01:24] kalradivyanshu commented on #201
The issue went away, after i deleted the project, and started with a fresh one, and linked react-native-svg. I think it didn't get properly linked.

[2018-07-26 01:24] #201 closed

[2018-07-26 07:43] JesperLekland commented on #200
*Update*

You should also use the same `xScale` for the lineChart, in this case it works out anyway, but just because of the fact that you're dates are uniformly spaced.

`numberOfTicks` is to blame for the fact that the last time isn't displayed. What I would do is to circumvent this by passing a different data array to the `XAxis` e.g `[ 00:00, 06:00, 12:00, 18:00, 24:00]` and just omit the `num

[2018-07-26 08:35] kashifsulaiman commented on #195
@msevestre I changed my chart to `AreaChart` and then

[2018-07-26 08:35] #195 closed

[2018-07-26 08:40] kashifsulaiman commented on #195
@msevestre I changed my chart to AreaChart and then

     const data = [34, 53, -43, 36, 63];
     const Decorator = ({ x, y, data }) => {
            return data.map((value, index) => (
                    <Circle
                        key={ index }
                        cx={ x(index) }
                        cy={ y(value) }
                        r={ 5 }
                        onPress={()

[2018-07-26 10:31] markedup commented on #200
@alburdette619 Good catch regarding `Date` string vs. object. I hadn't discerned that from the parts of the D3 documentation I read previously.

And many thanks @JesperLekland, really appreciate you looking into this and the excellent feedback. I'll go with making a subset of the dates in my overall data set exclusively for the `XAxis` component.

[2018-07-26 10:31] #200 closed

[2018-07-26 13:42] dextermb opened #203 "`textAnchor` `left` throws fatal error on Android through Expo"
### What is the problem?
When using `textAnchor` and setting it to `left` it throws a fatal error when testing through expo.

### When does it happen?
I assume it is whenever a axis (I'm using `YAxis`) is mounted with `textAnchor` set to `left`.

### What platform?

* [ ] iOS
* [x] Android

I do not seem to get the issue when testing on an iOS simulator.

React Native version: `0.54.0`

### Code t

[2018-07-26 14:40] JesperLekland commented on #203
This is probably an issue in `react-native-svg` and not this library (we just pass it along to their library). Please post issue with them

[2018-07-26 14:40] #203 closed

[2018-07-30 13:45] alburdette619 commented on #182
The solution is not installing d3-scale as a dependency as @JesperLekland says.  It entirely fixed the issue for me.

[2018-07-30 17:39] gagso commented on #182
What fixed the issue for you ? @Adam
On Mon, 30 Jul 2018 at 7:15 PM, Adam Burdette <notifications@github.com>
wrote:

[2018-07-31 17:11] msevestre commented on #195
@kashifsulaiman Thanks!! Cheers

[2018-07-31 19:15] alburdette619 opened #205 "Touch events on multiple line charts"
### What is the problem?
Currently the only way to overlay multiple lines is to follow the layered charts story and overlay them.  The works and displays all data, but doesn't allow for touch events on children beyond the top most chart.

### When does it happen?
Follow the decorator story, add onPress to each `Circle`,  and add multiple line charts with the decorator child.

### What platform?

*

[2018-07-31 19:15] alburdette619 commented on #205
Handling this one too...

[2018-08-01 09:05] sarykemmoun commented on #136
Hello. I have this issue too. I didn't understand your solution since I didn't see in the docs  `gridMin`  and `gridMax`. Could you tell me what is the meaning of this props? (Setting gridMin= {Math.min(data)}
gridMax= {Math.max(data)} didn't help.)

My Code is:
`const data = [8, 0, 5, 0, 0, 0, 4];
`
[code]

![screenshot from 2018-08-01 12-03-18](https://user-images.githubusercontent.com/28590349/

[2018-08-01 09:10] JesperLekland commented on #136
gridMin/Max is deprecated in favour of `yMin/yMax`, use those instead to align the charts

[2018-08-01 10:33] sarykemmoun commented on #136
Thanks, @JesperLekland for the response.
yMin didn't solve it for me.
I think that its because of this line `contentInset={{ top: 40, bottom: 20 }}`
I must set the bottom to avoid the decorator to be cut off.
Do you have any solution for it?

[2018-08-01 11:06] sarykemmoun commented on #136
Finally, I fixed it by removing `contentInset={{ top: 40, bottom: 20 }}`, adding `yMin={0}`
And using custom the `cy` property of the decorator (`react-native-svg.Circle`) in case of value 0 to avoid the decorator to be cut.

[2018-08-01 12:59] #194 closed

[2018-08-01 20:33] alburdette619 opened #207 "Bandwidth not supplied to stacked bar charts"
### What is the problem?
Bar charts but not Stacked Bar Charts provide their children with the `bandwidth` prop.  This allows for precision child layout that cannot be done without it.  The prop is available from the scales, it just needs to be returned.

### When does it happen?
When attempting to lay out a child precisely over a stacked bar chart, this prop isn't provided.

### What platform?
*

[2018-08-01 20:38] alburdette619 commented on #207
Easy fix, I'll get a PR in shortly.  It'll be based on #204.

[2018-08-02 07:59] oron11 opened #209 "Linking of the library"
The readme doesn't include a guide to how link this library.

I tried to enter the comand : `react-native link react-native-svg-charts`, but it doesn't work.
It's doing:` Scanning folder for symlinks in C:/...` and then it's finished.

The library doesn't include android folder that from there I can include package to the file MainApplication.java
Can anyone help? thank you.

[2018-08-02 09:44] mikerodham commented on #139
I'm also facing the same issue using the above code, my labels look exactly the same as above. Padding, horizontalmargin all are having no effect. Did this issue ever get properly solved? I just need the labels to be able to be wider and the graph smaller but no matter what size of the graph, the labels never get any bigger.

[2018-08-02 09:55] mikerodham commented on #139
Here's how I've solved it: `formatLabel={ value => ' ' + ` ${value} Items ` + ' ' }` where previously I would see `item` with half the of the M cut off, adding in these extra spaces made it render correctly.

[2018-08-02 10:14] oron11 commented on #209
It doesn't require native linking got it.

[2018-08-02 10:14] #209 closed

[2018-08-02 14:57] vlimag opened #210 "Feature request - Zoom"
Hi,

I would like to know if you eventually are going to offer the zoom feature for line charts, and if yes, do you have an idea of when?

Thanks,

Vitor

[2018-08-06 08:41] paulbx81 opened #211 "[UWP - error] Native component for "RNSVGLine" does not exist"
### What is the problem?

When i try to use react-native-svg-charts on my windows 10 app, i have an error :

" Native component for "RNSVGLine" does not exist "

### When does it happen?

When i use this code :

[code]

[code]

### What platform?

* [ ] iOS
* [ ] Android
* [x] Windows 10 react-native-windows 0.55.0-rc.0

React Native version: 0.55.4

### Code to reproduce

[code]

[2018-08-06 10:02] JesperLekland commented on #211
You probably haven't linked `react-native-svg` correctly

[2018-08-06 10:47] JesperLekland commented on #211
Refer to that library's documentation

[2018-08-08 14:43] raygerrard opened #212 "bar chart rounded top"
is it possible to have rounded top left and right corners on a bar chart?

[2018-08-08 15:20] raygerrard opened #213 "line chart does not animate"
setting the animate prop to true has no effect on line charts. No animation occurs during a change of the values.

[2018-08-10 08:10] SanchitB23 opened #214 "ShowGrid doesn't do anything"
###  ShowGrid not working

### When does it happen?
All Charts
### What platform?

* [ ] iOS
* [x] Android: 8.0

React Native version:0.56.0

### Code to reproduce

[code]

[2018-08-10 10:53] cuixinle opened #215 "onPress in PieChart response slow or no response"
### When does it happen?
1、iOS：on iPhone6P、 iPhone7P、 iPhone8P、iPhonX click pieChart,  onPress function in PieChart response slow or no response
2、Android: After clicking the page, click pieChart no response.

### What platform?

* [ ] iOS (11.3) iPhone6P、 iPhone7P、 iPhone8P、iPhonX
* [ ] Android

React Native version: 0.55.4

### Code to reproduce

[code]

[2018-08-10 13:32] asimkhan0 opened #216 "PieChart - don't want spaces between data."
### What is the problem?

I can't see any property which is used to remove those spaces in PieChart.

### What platform?

I have tested it in android.

React Native version: 0.55.4

### Expected result :
![piechart](https://user-images.githubusercontent.com/39307338/43960507-19d9598e-9c67-11e8-9176-f23e641a2dfa.PNG)

[2018-08-10 14:16] angelos3lex opened #217 "ScaleTime with xAxis and yAxis LineChart Component to uniformly hours."
### What is the problem?

Trying to implement linechart where X axis are filled with hours and Y axis with corresponding values.
I have data which have random hours, so i need to scale them in time. In fact i want to scale them specifically with 1 hour difference,e.x. [01:00,02:00,03:00...23:00] <--transformed labels for xAxis
But the first xAxis value is not rendered when i use numberOfTicks and

[2018-08-13 15:17] JesperLekland commented on #216
use prop `padAngle`, set it to zero

[2018-08-13 15:17] #216 closed

[2018-08-16 14:11] angelos3lex commented on #217
Found the solution! Maybe you would like to update docs with an example of xMin,xMax,yMin,yMax alterations with fixed data on xAxis and yAxis as in below code? Because there wasn't something similar. There was no need to mess up with scaleTime for my case:
What i did is to enter 24 hours manual data for xAxis,(and because i wanted to display 0 and max yValue in yAxis, i also added manually yAxis d

[2018-08-16 14:11] #217 closed

[2018-08-17 07:31] niklassaers opened #218 "yAxis icons instead of labels?"
Thanks for making a fantastic library. I really enjoy using it.

For a graph I'm creating, I want the yAxis to show icons instead of a label. I haven't found a way to cram that into formatLabel. Are there other ways to go about it?

In my specific case I'm making a "mood-meter" that shows a graph of my mood over time, from unhappy to happy, where unhappy is an image of a sad smiley and happy is an

[2018-08-18 08:46] edo1493 commented on #179
Did you guys dig into this? :)

[2018-08-20 14:31] angelos3lex commented on #205
@alburdette619 did you find any solution to this?

[2018-08-21 15:22] ivanherve commented on #149
Hi @JesperLekland,
If I have an upper version of the library, what should I use instead of the `renderDecorator` prop ? :)
Because I tried @RahulCubet 's code but it doesn't show any labels.
Thank you

[2018-08-21 15:31] ivanherve commented on #149
I just have fixed my problem, I just haven't seen the example code, the new one [https://github.com/JesperLekland/react-native-svg-charts-examples/blob/master/storybook/stories/pie-chart/with-centered-labels.js](url)

Sorry! :)

[2018-08-21 16:13] jeirman opened #219 "yAxis not aligned with Grid"
### What is the problem?
When I create a bar chart with both X and Y axises, the YAxis labels don't line up with the grid lines. No matter how hard I try in changing different padding and margin values for the yAxis, it's never perfectly aligned and definitely not correct anymore when the numberOfTicks value changes or the values (of the xAxis) change.
I read most of the documentation and issue re

[2018-08-21 23:54] ivanherve opened #220 "Tried to register two views with the same name RNSVGPath"
### What is the problem?

I'm trying to use the PieChart component with labels for my RN application, exactly the same as the example on that link [https://github.com/JesperLekland/react-native-svg-charts-examples/blob/master/storybook/stories/pie-chart/with-centered-labels.js](url)

With that const Labels as followed :
``const Labels = ({ slices, height, width }) => {
            return slices.ma

[2018-08-22 14:58] vjsingh commented on #212
I altered the library to do this for my own project. Not the prettiest, but it is working. Might be helpful for inspiration:

https://github.com/vjsingh/react-native-svg-charts/commit/3aa87dd1ab33df5542eb65cc6d80d5e9d66351c3

https://github.com/vjsingh/react-native-svg-charts/commit/eee9f210243d0395b57595c18b5b3d67ed1a7751

[2018-08-22 21:22] raideltorres opened #221 "LineChart with the same data"
### What is the problem?
I can't render a custom grid or even the default grid if all the data is the same.

Example: `data=[10, 10, 10, 10, 10, 10, 10, 10, 10, 10]`

### When does it happen?

Just create a LineChart with the data explained before, like this

[code]

### What platform?

* [x] iOS
* [x] Android (Not tested, but I think is the same)

[2018-08-23 03:40] raideltorres commented on #213
mmm it does for me, could you share your code ?

[2018-08-23 04:17] raideltorres commented on #218
ok, first of all this code I will paste won't work with copy paste bc it will be missing several pieces and it will have a lot of unnecessary things, but I would say to do something like this

[code]

Again sorry for not putting the entire code, but I was with other pressing stuff.

[2018-08-23 06:57] niklassaers commented on #218
Thanks a bunch, I hadn't thought of doing it this way, I'll absolutely follow your lead. :-) Thanks again

[2018-08-23 06:57] #218 closed

[2018-08-23 08:35] antoinerousseau commented on #48
Hi, still no easy way to have rounded bar corners?