[2020-08-03 06:47] #482 closed, assigned to nobody

[2020-08-03 19:18] pyataevsv opened #491 "Charts blinking with every re-render"
Hello, I'm using LineChart for my RN project and i'm faced with an issue

### What is the problem?

The problem is that charts blinking (on ios and android both) every time when corresponding component re-render.
Does any one know how to avoid this?

### When does it happen?

For example I've added "exampleState" and change width 2 second delay.
My charts blinking every exampleState change.

ios+a

[2020-08-03 19:50] pyataevsv commented on #491
Hmm.. I don't know why but after transferring chart from separate component to Donecard return my blinking dissapeared...
Interesting to know why..

[2020-08-03 19:50] #491 closed, assigned to nobody

[2020-08-04 10:49] datvp09 commented on #308
you can name it as alias

`import {G, Text as SVGText} from 'react-native-svg'`

[2020-08-07 11:20] IronTony opened #492 "[Feature] BorderRadius for horizontal bar chart"
### BorderRadius for horizontal bar chart

Hello, and thank you for the great package.
I'd like to know or maybe to see if there is a way to achieve this result:
![image](https://user-images.githubusercontent.com/3645225/89640835-b0c89300-d8b0-11ea-8d18-f9576fa17c3b.png)

I think it could be great for people that want to stylize a bit also the charts.
Thank you so much

[2020-08-07 14:25] Ryabchikus commented on #364
...or you can do something like this:

[code]

[2020-08-08 15:10] tolik85 commented on #333
@cubecnelson Guys, any updates on this? This is quite a frequent feature request

[2020-08-11 03:18] alexalannunes opened #493 "Charts property imcompatible with react native svg"
### What is the problem?

Some of your project's dependencies are not compatible with currently installed expo package version:
 - react-native-svg - expected version range: 11.0.1 - actual version installed: 9.13
Your project may not work correctly until you install the correct versions of the packages.

### When does it happen?
Error while update property fill...

### What platform?

-   [ ] iOS

[2020-08-13 01:20] EmpireJones commented on #431
You can do step lines by setting the curve to curveStepAfter, from the d3-shape library.

[2020-08-14 05:42] kaushals9 opened #494 "Render bar graph with multiple horizontal lines"
This one feature exists in existing library?
![barLine](https://user-images.githubusercontent.com/57475297/90217401-e1fc1280-de1e-11ea-9db6-cd672cf5810d.png)
### Description of feature

If this on SVG file type exist then please let me know.

[2020-08-21 19:02] #463 closed, assigned to nobody

[2020-08-23 09:49] pellarboss commented on #476
thank you, i am having the same issue, resolved it using the array index method, thank you

[2020-08-24 20:27] Trashpants commented on #483
@ajacquierbret can you leave a code comment - I've tried but not sure what you mean exactly to clear up this typescript error

[2020-08-26 18:46] beatrizsabbatini commented on #423
@pranaybinju did you do it? I´m trying a similar chart but still coudn´t make it work.

[2020-08-28 03:16] Rohitsaxena commented on #371
Using Animated.View from react-native-reanimated fixed it for me.
I think this could help for you guys.

[2020-08-28 05:19] Rohitsaxena commented on #333
Using Animated.View from react-native-reanimated fixed it for me.
I think this could help for you guys.

[2020-09-01 07:03] kchangch commented on #484
Hi man, it's me again. I'm trying to make a barchart now and I'm having issues aligning the grid with the Y-Axis. Is there any tips you could give me?

<img width="368" alt="Screen Shot 2020-09-01 at 12 02 30 AM" src="https://user-images.githubusercontent.com/43304067/91812712-7075df80-ebe6-11ea-8991-0ce8ad3b0b0c.png">

I have tried already all the ways to adjust the contentInset of the axis to be

[2020-09-02 05:13] aviveershetty commented on #155
Hi did anyone find a resolution for this? Am looking for tool-tip feature in line-charts. The onpress with svg library's G tags wouldn't render.

[2020-09-08 10:22] IronTony commented on #333
@Rohitsaxena can you provide a small example please?
Thank you

[2020-09-14 14:20] YahyaBagia commented on #347
I solved it like this:
[code]

[2020-09-16 09:53] egorshulga commented on #252
I suppose that's because children are rendered inside of Svg element (from `react-native-svg`)

[2020-09-18 21:12] sos0 commented on #137
Would love support for OHLC!

[2020-09-22 22:29] rikinshah23 opened #495 "MultiLine chart: Data labels for XAxis not displaying value, only displaying index"
I am tying multiline chart with XAxis which should show the data labels as well.
I need to show Data label value for Line chart and also for XAxis chart.

Currently, in my XAxis chart it shows only index values and not the actual value.
Also How do I display data labels for line chart ?

This is my expected output -
![image](https://user-images.githubusercontent.com/26806597/93943872-a04d6a00-fcf0

[2020-09-22 22:54] rikinshah23 commented on #435
@JesperLekland Could you guide me to an example on how to show data labels for LineChart ? Thanks

[2020-09-23 07:55] pntech20 commented on #495
You can try this approach

[code]

[2020-09-23 07:56] pntech20 commented on #495
You can try this approach

[code]

[2020-09-23 07:57] pntech20 commented on #495
You can try this approach

[code]

[2020-09-23 07:57] pntech20 commented on #495
Try this

[code]

[2020-09-23 15:19] rikinshah23 commented on #495
@pntech20 Thank you that worked for me.
Could you please also help me show data labels for linechart  as well ?

Thanks

[2020-09-23 15:31] pntech20 commented on #495
@rikinshah23 you can follow this example [LineChart with both axes](https://github.com/JesperLekland/react-native-svg-charts-examples/blob/master/storybook/stories/both-axes.js)
![image](https://user-images.githubusercontent.com/63446025/94034640-75e0d700-fdec-11ea-8487-1625c73e4792.png)

[2020-09-23 18:17] kchangch opened #496 "Migrated from SDK 35 to 36 but ART library is not there anymore"
Hi there, I have just updated from SDK 35 to 36 but it seems that Expo SDK 36 removed the ART library. Now my app crashes because I have a lot of graphs, is there a way to resolve this? Please help!

[2020-09-25 11:12] pranaybinju commented on #423
Hi @beatrizsabbatini , sorry for late response. It was a long time ago that I had worked on.
Here's the code using Clipath to somehow achieve the result, hope this helps you!

[code]

[2020-09-25 11:13] #423 closed

[2020-09-28 04:20] #496 closed, assigned to nobody

[2020-10-01 05:15] IronTony commented on #371
@Rohitsaxena could you please write a small example please?

[2020-10-01 08:22] catanon opened #497 "[Question] Is there anyway to change the number of lines of Grid?"

[2020-10-02 13:45] sr1jan commented on #483
Negative, not working.

[2020-10-02 13:47] sr1jan commented on #483
Did you fix this?

[2020-10-07 08:48] henninghh990 opened #498 "Labels on BarCharts are duplicated"
### What is the problem?

When I add labels that iterates the data-array, the labels are duplicated and all placed in the same spot.

![image](https://user-images.githubusercontent.com/4595853/95308598-694b8c80-088a-11eb-9f42-d467b7a689e9.png)

### When does it happen?

### What platform?

-   [x] iOS
-   [ ] Android

react-native version: `latest`
react-native-svg-charts version: `latest`
react-n

[2020-10-07 11:32] mohity777 commented on #144
Why is it close? I am facing this issue is IOS where onPress is not being called. But it works fine in Android. I tried onPressIn and onPressOut but it didnt work

[2020-10-07 11:35] mohity777 commented on #215
Why is it closed? I am facing this issue in IOS. It works fine in android but in IOS onPress callback is not called. I tried onPressIn and onPressOut but that didnt work.

[2020-10-10 15:35] guruuliya commented on #230
To Change X and Y axis value use object to store the data:

import React from 'react';
import {SafeAreaView, StyleSheet, ScrollView, View} from 'react-native';
import {BarChart, Grid, XAxis, YAxis} from 'react-native-svg-charts';
import * as scale from 'd3-scale';
import {Text} from 'react-native-svg';
class App extends React.Component {
  render() {
    const data = [
      {
        value: 50,

[2020-10-12 11:41] minuitagency opened #499 "[Feature] Complex graph design"
Hi,

We have a very specific chart need and we'd like to know if someone is inspired:

![image](https://user-images.githubusercontent.com/38316888/95742549-79031080-0c90-11eb-9ad7-f1299bfd2e17.png)

We need the ability to have two different gradient and a moving price on the right of the graph,

Thank,

Théo

[2020-10-22 12:32] kaourimo opened #500 "Logarithmic scale for yAxis"
I would like to know how to get the yAxis to show the logarithmic scale such as 10^1, 10^2, 10^3 instead of numbers from 10 to 1000.

How is it possible to do that using this library?

[2020-10-24 06:00] geovrisco opened #501 "using XAxis to format label"
Hi so i want to make a barchart with two datasets and using certain array as XAxis label and the barchart would look like this
![image](https://user-images.githubusercontent.com/54607783/97069099-e0f21900-15f7-11eb-88d7-cb4690572d73.png)

the issue is the label that i supplied in Xlabel is somehow not processed by the xAxis, instead when i console.log the value and index in formatLabel in Xaxis in

[2020-10-25 06:59] ixez commented on #497
Keen!

[2020-10-26 07:37] geovrisco commented on #501
apparently im using index to access
`const Xlabel = ['TW1', 'TW2', 'TW3', 'TW4'] `
but somehow it give me warning

[2020-10-27 11:42] vinaygoyal20 opened #502 "The examples code is old and needs to be update especially the bar chart with x axis"
### What is the problem?

### When does it happen?

### What platform?

-   [ ] iOS
-   [ ] Android

react-native version: `0.63.2`
react-native-svg-charts version: `5.4.0`
react-native-svg version: `12.1.0`

### Code to reproduce

import React from 'react'
import { BarChart, XAxis } from 'react-native-svg-charts'
import { View } from 'react-native'
import * as scale from 'd3-scale'

class XAxisEx

[2020-10-27 11:45] vinaygoyal20 commented on #502
Was able to resolve with the following code

[2020-10-27 11:46] vinaygoyal20 commented on #502
Below is the currently working code

[2020-10-27 11:48] vinaygoyal20 commented on #502
Below is the currently working code
svg prop is required for xaxis to render on screen.unless it doesn't display anthing
By default barchart has some spacing inner value which is 0.05, providing the same make the xaxis text aligned with bar chart
`
import React from 'react'
import { BarChart, XAxis } from 'react-native-svg-charts'
import { View } from 'react-native'
import * as scale from 'd3-scal

[2020-10-27 11:53] vinaygoyal20 commented on #421
By default bar chart has some prop called spacing inner with value 0.05 ,provide the same to xaxis it will work
Below is the working example
import React from 'react'
import { BarChart, XAxis } from 'react-native-svg-charts'
import { View } from 'react-native'
import * as scale from 'd3-scale'

class XAxisExample extends React.PureComponent {

    render() {

        const data = [ 14, 80, 100, 55

[2020-10-27 12:02] vinaygoyal20 commented on #182
In 2020 i followed there example code
https://github.com/JesperLekland/react-native-svg-charts-examples/blob/master/storybook/stories/x-axis/scale-band.js
but it isn't  working later i did i found that svg props is required for Xaxis to render which was missing and the bar chart has bydefault spacing inner prop with value=0.05 providing both to xaxis solved the issue for me.
           <XAxis

[2020-10-28 11:33] aprilmintacpineda commented on #429
Some charts can be combined out of the box, like `ProgressCircle`:

[code]

[2020-10-29 00:51] aprilmintacpineda opened #503 "PieChart startAngle seems to be different in android than in ios"
### What is the problem?

PieChart starts on a different angle in iOS than in Android. In iOS the starting angle seems to be correctly positioned on the opposite side of a right angle.

### When does it happen?

When you render a PieChart

### What platform?

-   [x] iOS
-   [x] Android

react-native version: `0.xx`
react-native-svg-charts version: `x.x.x`
react-native-svg version: `x.x.x`

### Co

[2020-10-29 01:30] aprilmintacpineda commented on #503
It doesn't happen on a new react-native project, could be a problem with integration with a library that I am using...

[2020-10-29 09:41] aprilmintacpineda opened #504 "PieChart overflow"
### What is the problem?

I want the PieChart to overflow, but it doesn't. I have tried out `overflow: 'visible'` but doesn't work...

ios screenshot
![IMG_0680](https://user-images.githubusercontent.com/21032419/97551970-a0870680-1a0e-11eb-971f-6626b5961200.png)

android screenshot
![Screenshot_2020-10-29-17-46-46-73_cf7b224fbfbf76bdf47413e73ac0b3ae](https://user-images.githubusercontent.com/2103

[2020-11-06 15:55] dario30186 commented on #50
Hi,
did you find a solution for the warnings ?

[2020-11-07 08:34] #501 closed, assigned to nobody

[2020-11-07 08:44] geovrisco opened #505 "[Question] How to group Bar Chart data?"
Hi I want to achive [this](https://i.stack.imgur.com/YW2gL.png
) kind of chart with 2 datasets

my data look like this
[code]

andd i group them like this
[code]

instead getting the chart that i wanted, i got barchart like [this]( https://i.stack.imgur.com/HlFUQ.png)
i wonder how do i group them by its data set, not by its value?

[2020-11-07 13:48] #505 closed, assigned to nobody

[2020-11-07 13:50] geovrisco commented on #505
so i transform my data into 5 different array that contain each label, i dont know if this the proper way to group data though

[2020-11-07 17:17] dngconsulting commented on #50
no

[2020-11-11 09:36] brain00021 opened #506 "[Feature] Pie Chart border spacing"
### Description of feature
Thank you for pie chart plugin. Is it good for me to reduce time to figure out react native.
but i wonder it possible have option can change pie chart border spacing.

many thanks.
![image](https://user-images.githubusercontent.com/5819532/98794717-53f6ee80-2444-11eb-9676-722ec4c50eeb.png)

[2020-11-11 10:18] raazatul7 commented on #506
@brain00021 Have you tried `padAngle` ?

[2020-11-12 04:03] brain00021 commented on #506
it's work
`    return {
      key,
      value: values[index],
      svg: {
        fill: colors[index],
      },
      arc: {padAngle: 0},
      onPress: () => {
        setSelectedSlice({...selectedSlice, selectTitle: key, selectData: values[index]});
      },
    };`

thank you your help

[2020-11-12 04:03] #506 closed, assigned to nobody

[2020-11-16 01:56] GollyJer opened #507 "Why would the chart draw a vertical line from the X axis to the first datapoint?"
I have an AreaChart that looks like this.
![image](https://user-images.githubusercontent.com/689204/99204905-e0b6ea80-276b-11eb-89cd-ded6f145e24d.png)

Any ideas why the first and last points have stroke lines?

If I want this visual without the lines do I need to do a LineChart and FIllArea separately?

[2020-11-16 04:47] GollyJer commented on #507
I combined an area chart with the line chart to fix the issue.

[2020-11-16 04:47] #507 closed, assigned to nobody

[2020-11-17 06:32] #503 closed, assigned to nobody

[2020-11-17 06:52] aprilmintacpineda opened #508 "PieChart svg.onPress does not work when PieChart is a child of ProgressCircle"
### What is the problem?

Given data:

[code]

The following works:

[code]

The following **DOES NOT** work:

[code]

### When does it happen?

When `PieChart` is rendered inside `ProgressCircle`.

### What platform?

-   [x] iOS
-   [x] Android

react-native version: `0.63.3`
react-native-svg-charts version: `5.4.0`
react-native-svg version: `12.1.0`

### Code to reproduce

See above

Code repro

[2020-11-18 10:42] robfuncken commented on #447
I think you should place the Label component inside the Barchart component?

[2020-11-20 14:25] mohity777 opened #509 "y-axis and bar data are in opposite order"
### What is the problem?

### When does it happen?

### What platform?

-   [ ] iOS
-   [ ] Android

react-native version: "0.61.5"
react-native-svg-charts version: "^5.3.0"
react-native-svg version: "^6.2.1"

### Code to reproduce

 const data= [
                    {
                        rating: 1,
                        perc: 11,
                        votes: 20,
                    },

[2020-11-21 08:40] nadishan opened #510 "[Feature] Chart Title or Footer"
Is there any way to add a chart title or footer with this library?

[2020-11-21 20:04] mohity777 commented on #502
Thanks bro your solution didnt help me directly but indirectly it helped me so much. Thanx.
Conclusion from your answer-->
1) use scale.scaleBand
2) contentInset, spacingInner ,spacing and spacing outer should be same for both bar chart and y-axis/ax-axis

[2020-11-21 20:11] mohity777 commented on #509
Resolved the issue by adding
scale={scale.scaleBand}
Earlier i tried adding scale from d3-scale but i was getting error for it so i removed it. Later on i got to know that d3-scale should not be installed additionally. It already comes as dependency with react-native-svg-charts and that one we have to use so i uninstalled d3-scalle and installed react-native-svg and react-native-svg-charts again.

[2020-11-21 20:11] #509 closed, assigned to nobody

[2020-11-23 17:32] mohity777 commented on #472
this issue is happening. @masihniaz did u resolve?

[2020-11-23 17:44] mohity777 commented on #472
@ajacquierbret can u please tell how to give yaxis to this vertical bar chart not horizontal?? Please

[2020-11-25 15:12] IsaacGluck commented on #497
Setting the `numberOfTicks` prop on the chart itself did the trick for me. e.g.
[code]

[2020-11-29 09:42] VincentAuguin commented on #507
Hi @GollyJer, can you be more specific on your hack ? I'm facing the same issue.

[2020-11-30 17:42] GollyJer commented on #507
This will give you an idea. Basically I removed `stroke` from the AreaChart and layered a LineChart on top.
Also, I have a bunch of helper functions and am using styled-components (so the code will look a little weird).

This code won't work for you but hopefully gets the idea across.

[code]

[2020-12-07 20:28] neil-gebbie-smarterley commented on #498
Are you importing `Text` from react-native or from react-native-svg?

[2020-12-09 15:20] Skullcan opened #511 "BarChart XAxis wrong alignment with multiple datasets"
### What is the problem?
The XAxis doesn't align correctly when using multiple datasets in a Barchart.
All the labels seens to be stacked on top of each other.

### When does it happen?
When using the xAccessor and formatLabel to access the multiple datasets

### What platform?

-   [x] iOS
-   [x] Android

react-native version: `0.63.2`
react-native-svg-charts version: `5.3.0`
react-native-svg ve

[2020-12-13 10:35] HadisSharif opened #513 "items are not being shown in an ascending order in pie chart"
After adding the 7th item to pie chart, the order of the items is disturbed. Before adding the 7th item all items are shown in ascending order.

react: 16.13.1
react-device-detect: 1.14.0
react-dom: 16.13.1
react-native: 0.63.3
react-native-svg-charts: 5.4.0

[2020-12-13 18:13] vrportella opened #514 "when there is only one bar it occupies the entire width"
How could I make the bars have a maxWidth?

![image](https://user-images.githubusercontent.com/43364627/102020096-07554a80-3d45-11eb-8c07-74171c1bd96c.png)

[2020-12-14 11:22] Skullcan commented on #511
No one had this happened yet? Really could use some help here.

Thank you.

[2020-12-27 14:42] olympiawoj opened #515 "Line Chart not rendering"
### What is the problem?
This is a bug with my code and not react-native-svg-charts, but I'm struggling to get a line chart plotting. The Grid lines plot successfully, but the the line chart does not show. I've looked at all of the line chart examples and tried a variety of solutions using `xAccessor` and `yAccessor`, but have not been able to get the line chart to render.

### When does it happen

[2020-12-28 23:24] #515 closed, assigned to nobody

[2021-01-05 06:39] ashokkumar88 commented on #505
@geovrisco How did you create group bar chart?

[2021-01-05 07:16] geovrisco commented on #505
so instead of this data

`
const data1 = [
  {label: 'bad', svg: {fill: '#E55300'}, value: 5},
  {label: 'marginal', svg: {fill: '#EB742F'}, value: 10},
  {label: 'fair', svg: {fill: '#F5A77A'}, value: 20},
  {label: 'good', svg: {fill: '#9BD4DE'}, value: 30},
  {label: 'satisfactory', svg: {fill: '#1D8091'}, value: 10},
];
const data2 = [
  {label: 'bad', svg: {fill: '#E55300'}, value: 10},
  {la

[2021-01-05 07:18] geovrisco commented on #505
@ashokkumar88
you group them by the label => so
good =[{good1},{good2},{good3}]
bad=[{bad1},{bad2},{bad3}]

[2021-01-05 08:57] ashokkumar88 commented on #505
@geovrisco Thanks.

[2021-01-05 17:31] heindrickdumdum0217 opened #516 "Toolitip clipped when line chart width is small"
When chart width is small, tooltip is clipping.

I refer folowing code and built time series chart.
https://github.com/JesperLekland/react-native-svg-charts-examples/blob/master/storybook/stories/extras.js

Chart width is proportionated with data points count and when there are less points, tooltip is clipping.

[2021-01-06 03:17] geovrisco commented on #505
@ashokkumar88  no problem dude, glad that i could help

[2021-01-12 08:31] wrsulliv commented on #179
For anyone having this issue, here's my solution:

**Step I:  Get the SVG String**

First, I bring the SVG string generated internally by `area-chart.js` into my React component's state.  I do this by mounting this extractor component as a child of the chart:

[code]

The `line` prop comes from `chart.js`, which passes `extraProps` to all chart child components. You could also use this prop direct

[2021-01-15 18:01] ShoaibVirk008 commented on #460
Having the same issue +1

[2021-01-25 05:24] potatoengineer opened #518 "yAxis clipped on top and bottom"
### What is the problem?

The Y Axis values at the top and bottom are clipped so that I can only see half of the number.

### When does it happen?

Using the Y-axis with a line chart.

### What platform?

-   [x] iOS

react-native version: `0.63.3`
react-native-svg-charts version: `5.4.0`
react-native-svg version: `9.13.6`

### Code to reproduce

[code]
**Style**
[code]

![image](https://user-imag

[2021-01-25 06:53] #518 closed, assigned to nobody

[2021-01-25 06:54] potatoengineer commented on #518
missing contentInset

[2021-02-02 07:43] Applifiedindia opened #519 "scrollview not work in bar chart"
<ScrollView contentContainerStyle={{ height: '90%', width: '95%', padding: '2%', flexGrow: 1, marginBottom: '10%' }} style={{ height:metrics.HEIGHT * .9,  }}>
                                    <View style={{ height: metrics.HEIGHT * .9, flexDirection: 'row', width: '100%', justifyContent: 'center', alignItems: 'center', }}>

                                       <YAxis

[2021-02-02 14:00] thecodecafe opened #520 "Stripe BarChart"
### Stripe BarChart Bars

It is possible to create a stripe bar chart link in the image below?

<img width="563" alt="Screenshot 2021-02-02 at 14 57 38" src="https://user-images.githubusercontent.com/3317665/106610641-4e9ed100-6567-11eb-812e-5f4e7513e5be.png">

[2021-02-03 22:53] chialuka opened #521 "Child elements of Pie Chart can't be clicked"
### What is the problem?

Child elements of Pie chart and I presume other charts, are not clickable

### When does it happen?

When pie chart has a child Svg Text element

### What platform?

-   [ 14] iOS
-   [ 7.0] Android

react-native version: `0.63.3`
react-native-svg-charts version: `5.4.0`
react-native-svg version: `11.0.1`

### Code to reproduce

[code]

[2021-02-04 10:50] talhazubair21 opened #522 "Progress Animation Stops due to Unexpected Data in Progress Cycle"
Unexpected Data in M2 in Progress Cycle??
Error!!

[2021-02-08 09:08] acollazomayer opened #523 "Linear gradient is not working in SVG belowChart."
### What is the problem?

I am trying to set a background gradient to the graph, LinearGradient is now working inside the SVG with belowChart true.

### When does it happen?

### What platform?

-   [x] iOS
-   [x] Android

react-native version: `0.63.4`
react-native-svg-charts version: `5.4.0`
react-native-svg version: `12.1.0`

### Code to reproduce
[code]

[code]

[2021-02-08 09:34] hugoh59 commented on #139
I have the same issue but instead of the sides being cut off it's the tops and bottoms.

[2021-02-08 09:39] hugoh59 opened #524 "YAxis text being cut-off on bottom"
[code]

I've tried removing padding and playing around with every prop but nothing will do, the 3000 prop of the bottom is cutoff.

[2021-02-08 14:47] hugoh59 opened #525 "How can I remove the edges or sides on the AreaChart"
<img width="310" alt="Screen Shot 2021-02-08 at 3 46 12 PM" src="https://user-images.githubusercontent.com/25149138/107235300-d9c70d80-6a24-11eb-9a39-775541d8c2b3.png">

I want to get rid of the leading and ending vertical lines, how can I do that? Thank you.

[2021-02-15 14:58] NoorZainab741 commented on #524
Try it like this. Hope it will help you.

<View style={{height: 200, flexDirection: 'row'}}>
                  <YAxis
                    data={[0, 1]}
                    contentInset={{top: 20, bottom: 20}}
                    svg={{
                      fill: 'grey',
                      fontSize: 10,
                    }}
                    numberOfTicks={2}
                    formatLabel

[2021-02-16 13:42] leonie-koch opened #526 "BarChart onPress not working"
The BarChart is not clickable, nevertheless what I am doing. I also created a new project from scratch and pasted the sample code , but also there the onPress is not working nothing gets logged to the console. I am using version ^5.4.0. The rest of the barchart is working perfectly fine, it's just not clickable.

My Code:

[code]

[2021-02-18 03:15] brain00021 opened #527 "[Feature] Do you have semi pie chart?"
I didn't see any sample for semi pie chart. Did you have it?

[2021-02-19 14:35] theRealSheng commented on #485
Add:
 yAccessor={({ index }) => index} --> YAxis
 xAccessor={({item, index})=> item} --> XAxis

[2021-02-21 05:32] scaralfred commented on #525
@hugoh59 It's great you raised this issue. Did you find a solution?
Other that this, I was also looking for a quick solution to change the "zIndex" of the first and last element.
As you can see the first and the last element of your image are being cut off as they go behind the chart view.

[2021-02-22 09:24] scaralfred commented on #460
Did you find a solution?

[2021-02-24 11:52] sckellig opened #528 "AreaChart renders an area when a value is 0"
### What is the problem?
AreaChart renders an area when values = 0, and I can't replace 0 with null because in this case if I have e.g. [null, 80, null] it won't render anything because the chart needs at least two consecutive points to draw an area.

### When does it happen?
Randomly, some 0 values aren't visible, some are.
In this example, I only have values for the first 2 points and the rest a

[2021-02-28 13:59] guptavishesh143 commented on #126
hey Can you share your code please, In my case my graph disappears

``<ScrollView horizontal={true}>
                  <BarChart
                    style={{height: 180, paddingHorizontal: 40}}
                    data={data}
                    svg={{fill}}
                    // numberOfTicks={90}
                    contentInset={{top: 30, bottom: 30, Right: 10}}
                    showValuesO

[2021-03-04 17:34] hugoh59 commented on #525
I'm still looking for a solution, I have not found one so far. For the edges behing cuted off I'm using the contentInset prop like so ```contentInset={{ left: 25, right: 15 }}``` which helped.

[2021-03-04 17:34] hugoh59 commented on #525
@JesperLekland ?

[2021-03-08 08:31] JesperLekland commented on #525
You need to combine a LineChart and an AreaChart without a `stroke`

[2021-03-08 17:44] ricardonazario commented on #528
This might be a just an artifact of the curve type. `.curveNatural` will overshoot the value for effect as you can see here -> [https://raw.githubusercontent.com/d3/d3-shape/master/img/natural.png](url)

Try `curveMonotoneX`

[2021-03-08 18:28] ClawGibson opened #529 "ProgressCircle visual issue."
### What is the problem?

Using 3+ ProgressCircle, one of them resize himself.

### When does it happen?

The problem comes when I put the ProgressCircle inside a View

### What platform?

-   [x] Android

react-native-svg-charts version: `5.4.0`
react-native-svg version: `12.1.0`

### Code to reproduce

View container with flex.

[code]

Styles applied.

[code]

Issue example.
![Screenshot_229](h

[2021-03-10 07:50] hmm210197 opened #531 "[Feature] Update react-native-svg dependency version"
### Description of feature
As title, it is necessary to update this dependency. Because my project install the newest version of react native svg and react native svg charts not working.

[2021-03-10 09:21] jason076 opened #532 "Is the library ready for the usage in the web?"
It is mentioned in the readme, that the library has a compatibility layer for the web, but it is not documented how to use it. I tried it out and it seems to work by just installing `react-native-web`. Is this enough for everything to work within the web or is it likely that I will run into issues?

[2021-03-11 02:28] aliceInWahed commented on #464
Hi @mraka666, are u able find the way? mind to share? thanks in advance :)

[2021-03-14 03:58] salmandayal opened #533 "How can we make charts interactive and a feedback vertical line? (See the gif in the description)"
I  want to achieve behavior as you can see in the gif. How to add that vertical line (light gray line in the gif ), which moves with user's gesture and gives the feedback on the graph value where is our gesture or tap is placed..
![graphExample](https://user-images.githubusercontent.com/17268239/111056749-58d7b780-84a3-11eb-948a-ec03ea78c2e8.gif)

[2021-03-17 06:17] colaquecez commented on #19
Did anyone get it?

[2021-03-17 12:09] sckellig commented on #528
@ricardonazario thanks a lot! `curveMonotoneX` is exactly what I need 👍

[2021-03-17 12:09] #528 closed, assigned to nobody

[2021-03-17 13:27] zivchen commented on #532
i use it with react native web, most of the things works as expected, a few console errors nothing major

[2021-03-23 09:54] Manitta1998 opened #534 "Have a Decorator Circle different Color when a point is a singular number"
Hi!
Is there possibile to have a different fill color in the Circle Decorator component when in the Data there is a specific number?
Now i Use a LineChart + <Decorator/> with Circle, and for example when in the data there is 0 or -1 i want the color fill of the Circle red
Thank you!

[2021-03-23 11:23] keerthi-m-hng commented on #68
Is that examples are working properly?

[2021-03-23 11:26] keerthi-m-hng commented on #68
Please help me out.  I am unable to render different color for each bar

[2021-03-31 09:53] NikolaP93 opened #536 "[Feature] Is there a way to add a vertical line next to YAxis?"
I am trying to add a vertical line next to my YAxis
![Screenshot 2021-03-31 at 11 52 40](https://user-images.githubusercontent.com/39632973/113126195-ae3bf480-9217-11eb-997b-179935d3e383.png)

so far I have all the horizontal lines, but how do I add the vertical one to have a "closed" graph?

I tried adding a border but it overshoots the graph by a few units and it doesn't look right

[2021-04-07 10:00] aprilmintacpineda commented on #513
This is also happening to our app, it works until 6 slices, but once you add the 7th slice the order gets distorted. It only happens on android but not in ios. In my pie, the value of each slices are the same, `100 / number of slices`

[2021-04-07 10:18] aprilmintacpineda commented on #513
@HadisSharif maybe you should renamed this to "PieChart shows incorrect order"

[2021-04-07 10:56] aprilmintacpineda commented on #513
Got it, it's because of this https://github.com/JesperLekland/react-native-svg-charts/blob/dev/src/pie-chart.js#L196 remove that and everything will be fine

EDIT:

If you're going to ask how I removed it, i removed it using patch-package.

[2021-04-09 18:17] herparis commented on #139
you have my respects

[2021-04-10 02:56] nickyli98 opened #537 "[Feature] Allow custom ticks on YAxis"
Right now we can't define our own tick values as that is defined for us using d3-array. The ticks props is not passed through to YAxis component, if we want a finer grain control (In my case showing axis tick values on the turning points of the line-chart), it is not possible. A simple change of checking whether the ticks props is passed would allow for this.
![image](https://user-images.githubuse

[2021-04-10 14:08] rizbud commented on #312
have you found solution for this issue?

[2021-04-10 17:14] mafiusu commented on #312
@rizbud Yes I have solved this. Here is the code for it:

![Simulator Screen Shot - iPhone 11 - 2021-04-10 at 19 13 46](https://user-images.githubusercontent.com/33623047/114278624-fe456300-9a30-11eb-86b8-018b1337438c.png)

App.js
[code]

LineChart.js
[code]

Happy coding!

[2021-04-10 22:36] rizbud commented on #312
Thank you

[2021-04-16 11:00] caglardurmus commented on #305
Hi, i had the same issue too. OnChangeDate first setDate with empty array ([]) then set your data with time out. It fixed my  problem.

[code]

[2021-04-20 13:20] Sandeepbadri commented on #68
We can't use this when vertical labels are used.

[2021-04-20 23:30] wedointeractive commented on #513
Setting  sort={null} worked, thanks @aprilmintacpineda !

[2021-04-22 12:46] mikevercoelen commented on #533
Interested in the same thing, please @salmandayal keep me posted if you find a reasonable solution

[2021-04-23 11:21] AlphaJuliettOmega opened #539 "[Feature] Class Based Component Examples"
### Description of feature

I'd love if there were examples, **that weren't only PureComponents**

Pure components / Functional components are cool and everything but since most other repositories use the Class-based style, that's what we use.

So the examples in this repository aren't useful to me.

for example:
[code]
This doesn't work because:
[code]

And I don't even know what that means, but

[2021-04-23 11:23] AlphaJuliettOmega commented on #539
- [ ] Tooltip example for a Class based component chart
- [ ] Explanation why the x, y props are dead in this context
- [ ] class based usage example of these charts to be able to adapt for other examples

If the decision of the Repo owner / devs of this library is to not support this, an example or some advice for how to use this another way would be appreciated.

The idea occurred now to just us

[2021-04-23 11:24] AlphaJuliettOmega commented on #539
Unsure if #483 is related

[2021-04-23 13:01] AlphaJuliettOmega commented on #539
Update:

As a Pure Function component exactly copied over from the example there's no difference to the error - I don't know how to solve [this](https://github.com/JesperLekland/react-native-svg-charts-examples/blob/master/storybook/stories/extras.js):

<img width="764" alt="Screenshot 2021-04-23 at 14 58 53" src="https://user-images.githubusercontent.com/19306746/115874687-abae7280-a444-11eb-9937

[2021-04-23 13:12] AlphaJuliettOmega commented on #539
It looks weird, but this worked:
[code]

I don't understand what the X and Y required parameters are supposed to be in this type.

[2021-04-24 10:51] nikini commented on #522
I've also encountered this. Is there a workaround, or a fix already?

[2021-04-25 11:15] salmandayal commented on #533
@mikevercoelen The only solution seems to work is to right custom component which will work with the GestureHandler and determine the X and Y of the Tap position and update the highlighted values. I'm still working on it.

[2021-04-26 05:19] #522 closed, assigned to nobody

[2021-04-30 13:33] gabrieljim commented on #420
Did you ever find a workaround to this? Running into a situation where I need to do the same

[2021-05-03 08:00] waweru-kamau commented on #460
The only way I found is to update state of the data on componentDidMount, with a setTimout. Checkout this example https://stackoverflow.com/a/53425918/4031108

[2021-05-05 11:57] DarbyBrown commented on #48
Another solution is to use a transparent fill on the bars themselves, and create a new path with rounded corners.
This way you don't have to consider this:

gist for function creating a path with rounded corners https://gist.github.com/danielpquinn/dd966af424030d47e476

[code]
Result
![image](https://user-images.githubusercontent.com/4050771/117137296-658cd380-ada1-11eb-8558-af3a6243d5a0.png)

[2021-05-06 04:37] 452MJ commented on #533
Use PanResponse to get the gesture, calculate the select positon by the moveX. Then add some `<G/>` under the chart

[2021-05-06 14:58] ivan-khr85 commented on #525
@JesperLekland
Is available another way to avoid two different charts?

[2021-05-07 02:35] Great-hijack commented on #462
any solution yet?

[2021-05-07 02:53] Great-hijack commented on #267
same issue for me.
only happens on iOS while android is working well

[2021-05-07 07:11] ivan-khr85 commented on #525
I have a similar problem.
In my case, I need to remove the chart edges from both sides.

Also, I needed to remove the overflow background grid. Because when I use `contentInset` my chart a little smaller than the background Grid.

<img width="456" alt="Screen Shot 2021-05-07 at 09 59 46" src="https://user-images.githubusercontent.com/36078312/117410629-5d58a380-af1b-11eb-8878-f69ea7fb424e.png">

F

[2021-05-08 11:25] yasirwahid opened #542 "data.length is undefined in StackAreaChart"

[2021-05-08 11:27] #542 closed, assigned to nobody

[2021-05-13 21:55] tsellers1990 commented on #497
`numberOfTicks `should change it

[2021-05-14 01:14] tsellers1990 opened #546 "LineChart numberOfTicks only changes when num < 5"
### What is the problem?

### When does it happen?

### What platform?

-   [x] iOS
-   [x] Android

react-native version: `40.0.1`
react-native-svg-charts version: `5.4.0`
react-native-svg version: `12.1.0`

### Code to reproduce

[2021-05-14 21:36] jstheoriginal commented on #536
for now, you could add a child to the line chart component that's just a vertical Svg `Line`, positioned at x1 and x2 = width prop - line width (strokeWidth), and y1 = 0 & y2= the height prop, and a stroke matching the same colour as the axes lines. the width and height props are passed to the children automatically (they're the size of the chart itself)

[2021-05-17 20:35] McPatto commented on #139
Have the same issue, but with XAxis. I cpuldn't figure out how to add height to svg container
![image](https://user-images.githubusercontent.com/43398227/118553087-39c10480-b736-11eb-9eca-a14e6fff0d7d.png)

[2021-05-23 12:24] rahulje9 opened #547 "Custom Yaxis value"
Hi,

is it possible to show a range of values in yAxis as multiples of 5 shown on the screenshot below?

Required YAxis
![Screenshot 2021-05-23 at 5 37 36 PM](https://user-images.githubusercontent.com/22475675/119260104-e4319f80-bbee-11eb-9a1b-aea4683ae29f.png)

Current YAxis
![Screenshot 2021-05-23 at 5 40 35 PM](https://user-images.githubusercontent.com/22475675/119260114-f27fbb80-bbee-11eb-8f9c

[2021-05-25 15:24] zabojad opened #548 "Not compatible with reac-native-svg 12?"
### What is the problem?

I cannot make this lib displaying a simple BarChart. Nothing is displayed at all, even when copy pasting simple samples from this repo.

### When does it happen?

It seems it  is not compatible with  react-native-svg 12, which my project is already using... Is  that possible ?

### What platform?

-   [x] iOS <!-- specific os version ?
-   [ ] Android <!-- specific os ver

[2021-05-25 15:36] zabojad commented on #548
Sorry, issue came from my code actually...

[2021-05-25 15:36] #548 closed, assigned to nobody

[2021-06-11 01:29] yerycs commented on #5
XAxis still does not render at all, as well as YAxis label.

[2021-06-14 05:58] sam9010 commented on #501
hi
how to fix it?

[2021-06-15 09:25] zivchen commented on #500
@kaourimo have you find a way?

[2021-06-16 15:40] ghost opened #549 "Set the current X position on a line chart"
### What is the problem?

I spent some time checking the documentation and the library API and I could not find a way to specify a X position on a line chart as the current one.

@JesperLekland is there a way?

Thanks in advance!

Cheers,

Federico

### What platform?

Both, iOS and Android
react-native-svg version: 12.1.0
react-native-svg-charts version: 5.4.0

[2021-06-18 12:28] pratik8899 commented on #350
This error came if you assign any string value to xAccessor. xAccessor should be assigned with a unique numeric value and then use `formatLabel` prop to format the label.

Ex :
If you have data like
const data = [
    {
        id:1,
        month: new Date(2015, 0, 1),
        title:'Sun'
    },
    {
        id:2,
        month: new Date(2015, 1, 1),
        title:'Mon'
    }]

then,

    `<XAxi

[2021-06-18 12:48] pratik8899 commented on #495
Add xAccessor prop:

<XAxis
  formatLabel={(index) => data[index].label}
  xAccessor={({item})=>item.id} // numeric
/>

[2021-06-19 04:26] visheshsprinzo commented on #230
TEXT IS CREATING ISSUE WITH NORMAL TEXT FROM REACT-NATIVE

[2021-06-21 05:48] sam9010 opened #550 "do not show number 0 in YAxis"
![Untitled](https://user-images.githubusercontent.com/41944885/122712768-b9804880-d279-11eb-861a-486f17b223a2.png)

see it when no data number of 0M not show good
my sample code
`<YAxis
                    data={dataSmall}
                    style={{
                      backgroundColor: "pink",
                      marginBottom: 0,
                      // marginBottom: xAxisHeight + contentIn

[2021-06-25 08:45] manchi17 opened #551 "Can we add text inside LineChart in react-naive-svg-charts"
Pie chart and BarCharts blinks while clicking the button in react-naive-svg-charts in android

"react-native": "0.63.4"
 "react": "16.13.1",
  "react-native-svg-charts": "^5.4.0",

I want to add text inside the line chart that indicates maximum and minimum value of the chart

[2021-07-02 08:57] sakshisinghal22 opened #552 "Change stroke color / line color for positive and negative values"
Need different colors for positive and negative values.

[2021-07-12 07:01] vickypathak123 commented on #548
Great Thanks

[2021-07-14 00:24] pc-1998 opened #553 "Text appearing twice in piechart"
### What is the problem?

When including a Text in PieChart, the text appears twice.
<img width="375" alt="Screen Shot 2021-07-13 at 5 24 55 PM" src="https://user-images.githubusercontent.com/43361268/125542384-79a093af-0be1-49a9-aaa2-fa1ebdd2c131.png">

### What platform?

-   [x ] iOS
-   [ ] Android

react-native version: `0.63.4`
react-native-svg-charts version: `5.4.0`
react-native-svg versio

[2021-07-20 10:38] zeeshannavigil commented on #350
Thanks pratik8899

[2021-07-22 08:55] C-o-d-e-C-o-w-b-o-y commented on #352
Still an issue two years on

[2021-07-31 18:56] WorkStarostenko commented on #492
That’s great idea. Guys, what do you think?

[2021-08-01 07:47] adeelturk commented on #303
Updating SVG version worked for me . Thanks,  KUDOS to  @marcorm

[2021-08-05 12:05] lesikv1 commented on #137
@anirudha-ani how use candlestick from react-native-svg-charts?

[2021-08-05 16:58] jscul commented on #333
@Rohitsaxena can you elaborate?

[2021-08-08 20:55] bockoblur opened #555 "Expose base Chart class [Feature]"
### Description of feature

I would love to see `Chart` class exposed (exported), so we can extend it to new chart types when needed.

I suppose I can fork the repo to do this, but I was wondering if that would be useful to others.

I am contemplating on implementing radar/polar chart, and I think that this is the way to go.

[2021-08-11 09:13] #303 closed

[2021-08-21 06:28] watanabeyu opened #557 "LineChart is not drawn when used with BarChart in react-native-web"
### What is the problem?
LineChart is not drawn when used with BarChart.
https://snack.expo.dev/@watanabe_yu/grumpy-waffle

Works fine in iOS, but not fine in Web.

### When does it happen?

### What platform?

-   [ ] iOS
-   [ ] Android
-   [x] Web

[code]

### Code to reproduce
https://snack.expo.dev/@watanabe_yu/grumpy-waffle

[code]

[2021-08-21 13:56] dimpalshetty commented on #557
Hey @JesperLekland, I figured out how to fix the issue, it was using Zindex specific to the web. Could you assign this issue to me? I could fix and send a PR.

[2021-08-24 07:38] JesperLekland commented on #557
Don't render the LineChart as a child to the BarChart, they need to be rendered at the same level, absolutely positioned if you want them to be on top of each other. Check the examples for inspiration

[2021-08-24 07:38] #557 closed, assigned to nobody

[2021-08-24 13:23] chika-kasymov commented on #399
If somebody will need it, in my case, I patched the package to filter out missing `y`s:
[code]

This works for the linear chart. Not sure if this fix breaks other chart types.

[2021-08-26 18:00] austinatfaytown commented on #529
I'd like to know how you avoid that cut-off section on the left of the last two images. The first image here doesn't have that issue.

[2021-08-27 14:00] hraschan commented on #531
Got the same issue! Please update the react-native-svg version. It should be super easy i guess. :)

[2021-08-27 21:25] realtril commented on #432
how can i do it? lets say i have an array like
`const monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];`

my xAccessor is

`                        xAccessor={ ({ item }) => item }
`
and formatLabel

                        formatLabel={ (value) => `${value}` }

[2021-08-27 23:24] shivchawla commented on #533
I came up with this! Let me know if there is a better way!

[code]

[2021-08-28 10:48] nxnam1102 opened #558 "[Question] - how to enable zoom in this library"
- how to enable zoom in this library

[2021-08-30 08:37] ofek-autofleet commented on #553
Also experiencing this issue, is there a fix?

[2021-08-31 08:20] 452MJ commented on #533
I make a snack example, I hope it can help you . [Interactive Chart](https://snack.expo.dev/@1993liminjie/vigorous-juice-box)

[2021-09-08 14:31] vidyaap commented on #548
I'm actually having the same issue. `react-native-svg-charts` claims to require `react-native-svg` version ^6.2.1 or ^7.0.3 but if I install version 7.0.3 and try to run my React application, I get an error that the module `imageSourceProp` cannot be found. I understand that `imageSourceProp` is a deprecated feature, but upgrading my `react-native-svg` breaks `react-native-svg-charts`. Any suggest

[2021-09-14 10:22] taitran2512 opened #559 "Pie chart label with border"
Hi all,
How can I add border for label view like this
![image](https://user-images.githubusercontent.com/65691647/133240640-da8c5fb6-79e1-46c3-94aa-fe7b23f21b8e.png)

I'm using Pie chart with the label in example and I customize
This is my code and my result
![image](https://user-images.githubusercontent.com/65691647/133240849-d3b70a37-bde5-48b5-8427-4f41f721e752.png)
![image](https://user-images.

[2021-09-15 06:16] taitran2512 commented on #559
I solve this, i used prop stroke and strokeWidth in Text

[2021-09-15 06:16] #559 closed, assigned to nobody

[2021-09-24 10:29] ASchwad commented on #462
BTW, this is also happens for BarCharts (and probably any other chart) as it is the same Grid Component.

[2021-09-25 16:11] wibimaster commented on #370
@eikhunter Same question, do you succeed to make it work ? Can you share with us ? :) Thanks !

[2021-09-30 04:41] komailabbas12 opened #561 "Chart are not showing when the value of all data is same or zero"
When the value is same then the body of graph are not showing. i am using SVGBarChart

[2021-10-04 12:55] swatiredhu17 commented on #346
@avinashtadavarthy were you able to achieve stacked bar chart with negative values? I am working with same scenario.

[2021-10-04 17:59] mark-carrington opened #562 "scaleBand doesn't work as an xScale prop to AreaChart"
### What is the problem?

I'm looking to layout all of the data points evenly across the x-axis. This is for a Pricing Graph for a stock, that has price points during trading hours only. This is specifically for a 5 day view, where we'd like to show more than 5 data points, so we've taken ~10 data points for each of the previous 5 days.

From the d3-scale docs, it looked as though scaleBand would

[2021-10-05 13:27] swatiredhu17 opened #563 "[Feature] Stacked Bar Chart with Negative values"
**My requirement to show negative values in stacked graph**  . I am able to achieve till some point by making some code changes but it's not working properly for all values.

Code customisation that i did: **stacked-bar-chart.js**
[code]

[code]
This worked fine for few values but when by two entity[0]+entity[1] = 0 it doesn't load as per requirement(check third bar in ss)

Dummy data:
[code]

Not

[2021-10-07 23:30] CakeCrusher opened #565 "I am trying to contribute to the project but when but I run into a `invalid regular expression` error."
### What is the problem?
Cannot get `npm start` to work.

### When does it happen?
after running the following:
1. `git clone <FRESHLY_FORKED_DEV_REPO>`
2. `npm install`
3. and finally when I run `npm start` I get the following error

![image](https://user-images.githubusercontent.com/37946988/136475337-68be0b43-aa62-4cc8-8134-72c61705cbe1.png)

### What platform?

-   [ ] iOS
-   [ ] Android

rea

[2021-10-14 20:58] mikeislearning commented on #352
Struggled with this issue for a while, here's my solution.
I used xPositionModifier to place the grid line in the centre of each bar instead of bordering it.

[code]

[2021-10-15 17:20] ClawGibson commented on #529
Honestly, I hadn't realized it has happened

[2021-10-26 08:40] mohammadalijf commented on #460
https://github.com/JesperLekland/react-native-svg-charts/blob/d840ebe34ca11a9132c84a58e0614fccd773e92e/src/chart/chart-grouped.js#L111

The key in here is always different because it is generated from path itself. Using index would solve the problem but not a good Idea. maybe adding a unique identifier for each line when defining data would help.

[code]

[2021-10-26 08:40] mohammadalijf commented on #460
not related to this issue

[2021-11-18 01:13] soulfresh commented on #418
I'm not sure if this issue is specific to mocking or unit testing in general but I had a really hard time getting unit tests around these chart components. For anyone who may end up here in the future, here's what I had to do to make my chart components testable. Using the following steps allowed me to reach 100% code coverage under Jest.

### 1. Trigger `react-native-svg-charts` component `onLayo

[2021-11-19 13:00] JeremyBradshaw7 opened #566 "[Feature] Bar and line chart combined"
### Description of feature

The requirement to render a bar chart and line chart combined is quite common, and as far as I can see isn't naturally supported by this library unless I'm missing something. I know you can render a bar chart then overlay a separate line chart (by absolute positioning or negative top margin), but that's not quite the same thing as the axes may not always line up accurat

[2021-11-19 13:10] mauritsbecks commented on #531
After updating to the latest version of react-native-svg (12.1.1), npm doesn't allow me to install react-native-svg-charts.
`npm install react-native-svg-charts` will give me the following error:

npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: app@0.0.1
npm ERR! Found: react-native-svg@12.1.1
npm ERR! node_modules/react-native-svg
npm

[2021-11-19 19:19] JeremyBradshaw7 opened #567 "Implicit properties passed to sub-components?"
# Question

I'm seeing lots of examples like this in the samples:

[code]

where no properties are passed to the HorizontalLine sub-component, which is defined like this:

[code]

which as far as I can see is expecting a `y` prop.  In trying to do this in a typescript project it's complaining:

![image](https://user-images.githubusercontent.com/36155348/142667534-cac18075-81ab-482d-b575-e8e12fc55a

[2021-11-23 11:49] ko-devHong commented on #388
Currently, creating new data is not working. 5.05 version.

[2021-11-25 11:11] ko-devHong commented on #48
how to know (x ,y ) function and bandwidth ?

[2021-11-30 15:01] lurdharry commented on #423
this suggestion does not work for me.
@pranaybinju  were you able to solve this issue

[2021-12-01 04:23] pranaybinju commented on #423
Hi @lurdharry , I did it a long time ago. Code in above comment might help you.

[2021-12-01 11:26] ASchwad opened #568 "[Feature] Use react-native-vector-icons"
### Description of feature
Is there are possibility to render react-native-vector-icons within a graph e.g. a LineChart?

For certain points in the graph, I would prefer an Icon over a Circle (from react-native-svg). However I am struggling to position the icon correctly.

Example:
I would like to display icons instead of the blue rectangles - I can position the rectangle via the translateX and tr

[2021-12-08 19:16] matheusrmartinez commented on #519
same bug here :(

[2021-12-09 14:10] matheusrmartinez commented on #514
same bug here

[2021-12-17 14:09] nguyensythinhk7 commented on #550
Add props min={0} to YAxis. It is will be resolve.

[2021-12-17 19:35] kieuquang1110tt commented on #189
@markedup Hi, pls help i dont know how to border this bar.

[2021-12-20 14:12] gitVera commented on #444
yMin={0} helps my BarChart!) thanks!

[2021-12-20 14:17] #444 closed

[2021-12-27 11:27] mehranabi commented on #529
Hi,
Any update on this issue?

[2022-01-03 06:38] dominicg666 opened #569 "Error setting property 'd' of RNSVGPath with tag #23393: UnexpectedData: MNaN,144.44444444444443LNaN,144.44444444444443LNaN,200LNaN,200Z"
### Error setting property 'd' of RNSVGPath with tag #23393: UnexpectedData: MNaN,144.44444444444443LNaN,144.44444444444443LNaN,200LNaN,200Z

Environment info
React-native-svg=> ^12.1.1
react-native-svg-charts => 5.4.0
react:  17.0.1
react-native => 0.64.2

Library version:  5.4.0

[2022-01-06 19:37] danielmorbeck commented on #562
did you solve it?

[2022-01-09 07:17] badaz commented on #568
I managed to use react-native-vector-icons in the PieChart by wrapping icon in each slice inside a react-native-svg ForeignObject. However I have rendering problems with the icon disappearing during rerenders

[2022-01-12 20:25] UVStudio commented on #531
I'm also having this issue with react-native-svg 12.1.1 and react-native-svg-charts 5.4 at this point in time (January 2022). Strange thing is, I installed these two modules late in 2020 for a project back then and it didn't give me problems. That app is still working fine. But trying to install these modules now is giving me the same error as @mauritsbecks .

Any updates or insights?

EDIT: I sho

[2022-01-12 21:11] mauritsbecks commented on #531
@UVStudio my solution was to first uninstall the latest version of react-native-svg with  `npm uninstall react-native-svg`. Subsequently reinstalling react-native-svg, version 7.0.3, with `npm i react-native-svg@7.0.3` to match the required version. This solved the dependency conflict. Good luck.

[2022-01-12 21:15] UVStudio commented on #531
@mauritsbecks Thanks for the reply. I should've also mentioned that the react-native-svg 7.0.3 solution didn't work for me. Got the same imageSourceProp error as the last comment in this thread: https://github.com/JesperLekland/react-native-svg-charts/issues/548

EDIT: Trying to install expo-chart-kit is giving me the same error:
`peer react-native-svg@"^6.4.1" from expo-chart-kit@1.2.4`
Also, tri

[2022-01-14 06:29] Daniel528 commented on #531
I've spent a few hours today going around in circles figuring this out. I am unsure why but using npm to install react-native-svg-charts will throw the dependancy tree error if you're using newer versions of react-native-svg (we were using v12) however yarn does not throw a dependancy error. So `yarn add react-native-svg-charts` will install react-native-svg-charts regardless of react-native-svg v

[2022-01-27 01:29] UVStudio commented on #531
Thank you @Daniel528. I had to eject out of expo for some other reason and this issue was causing me trouble ejecting. I had to remove both react-native-svg and react-native-svg-charts modules first before I managed to successfully eject. Finally got a chance to come back to this thread and your tip got my app working. I get the same warning message as you did but like you said, it still works.

[2022-01-31 10:42] unzsnu commented on #529
I had the same problem, the circle was not round, one edge was cut off.
Rounding up outerDiameter calculation did the trick.

[code]

[2022-02-07 13:00] shivika24 opened #570 "How to create a half pie chart using react-native-svg-charts?"
How to create a half pie chart using react-native-svg-charts?

[2022-02-15 13:11] yahacom commented on #531
Same problem here.
Off course we can use react-native-svg@7.0.3 but it outdated a bit and unsupport few needed features on my project. So I need one of newer versions of RN SVG. Currently I use 12.1.0 and have same troubles with installing svg-charts as described above. Do anyone familiar with svg-charts can look into and update this dependency?

[2022-02-18 11:35] codeapp17 commented on #263
@hitmanmcc Do you able to create the desired effect? I also needs to achieve same.

[2022-02-18 11:38] hitmanmcc commented on #263
@codeapp17 No, we ended up dropping the idea and going a different route, sorry.

[2022-02-18 12:20] codeapp17 commented on #263
No Problem, thanks anyways

[2022-02-21 16:19] JayUnt commented on #207
I am trying to implement this feature, however I cant find documentation on how to do it.  Is there an example anywhere that I can use to get this working?

[2022-02-21 20:38] JayUnt commented on #207
After throwing some logs into the library i was able to figure it out.  For anyone else who needs to know how to do it, this is how i did it.

[code]

[code]
[code]
[code]

[2022-02-25 00:39] aymather commented on #533
I've been looking for something that can do what this demo does for like 3 days, thank you thank you thank you for sharing!

[2022-03-03 05:28] gricn commented on #529
Hey, @unzsnu. If you wanna Rounding up outer Diameter, maybe you should use `Math.ceil()` instead of `parseInt` because parseInt will truncate the fractional part.

As for more detail, plz refer to https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/parseInt

[2022-03-18 15:54] anwersolangi commented on #531
What if we change this line https://github.com/JesperLekland/react-native-svg-charts/blob/d840ebe34ca11a9132c84a58e0614fccd773e92e/package.json#L60 to the latest version of the svg? because this is the peerDependancy line which is throwing error.

[2022-03-21 08:36] thematrix9 commented on #230
can this is use for area chart
also ????

[2022-03-21 22:12] wmonecke commented on #569
Getting this same error. No idea how to fix it tough. Seems like react-native-svg is struggling too with this bug.

[2022-04-07 13:57] luk3skyw4lker opened #575 "[Feature] Better documentation about the library"
### Description of feature

I think that maybe the lib could use a improvement at the docs, something more clear and descriptive. I could do the work with some help.

Some of the developers of my team are having troubles with the actual docs and could use some help with the upgrade.

[2022-04-07 13:59] luk3skyw4lker commented on #575
The docs could add a section that specifies how the creation of custom children should be, I think this would be pretty helpful.

[2022-04-14 09:52] HAFDIAHMED commented on #451
same request please

[2022-04-18 17:59] cnmoise commented on #558
This question is not detailed enough, please elaborate and provide code samples. Recommend closing.

[2022-04-18 19:00] dralde commented on #553
are you using a Text comp from svg package? use that instead

[2022-04-22 11:14] ricohumme opened #577 "Error/Warning when rendering (Bar)Chart"
### What is the problem?

When rendering the chart I get all kinds of errors like the following:
[code]

### When does it happen?

This happens on web when rendering the following component:
[code]
`chartData` being an array of numbers and `fill` being a hex color value.

### What platform?

This error is seen on web, I didn't get this on my Android simulator nor on iPhone.

react-native version:

[2022-04-25 00:27] RSchneider94 opened #578 "Problems with X axis used with date, labels all in the same position"
I have posted this on StackOverflow too, but unfortunately no responses there for this issue and can't even find something similar to this. Do someone here had the same problem, perhaps?

I have tried different settings for the chart, but can't make the labels for the X axis dates show correctly. All labels are displayed on the same place, even if there are different dates and the chart displays w

[2022-04-26 21:00] RSchneider94 commented on #578
For anyone having similar "weird" problems like this, I found what was my problem. I haven't installed the `react-native-svg` library and that's why I was having weird issues, although there were no errors at all on React Native Debugger.

[2022-04-26 21:00] #578 closed, assigned to nobody

[2022-05-16 17:24] denissdubinin commented on #529
Having exactly same issue.

@unzsnu 's fix did a trick, but it still cut off for ~1 px and it is noticeable.
Before:
![Screenshot 2022-05-16 at 20 23 43](https://user-images.githubusercontent.com/15890438/168648728-7e026f5b-d222-4603-ab89-1797077bec74.png)

[2022-05-18 13:50] likon416 opened #582 "Svg Text for Bar Chart can't be vertical"
Using BarChart with text on each bar to show the amount, but I want to rotate it but I can't.
How I can rotate that text? All examples are showing horizontal display and I need vertical.

[2022-05-18 16:28] scrapecoder opened #583 "can we create this type of chart?"
![screen4_trade_landing](https://user-images.githubusercontent.com/49022711/169094145-a874a1d9-6bd6-4d6e-8e03-bb5da91dce80.png)

[2022-05-18 16:31] #583 closed, assigned to nobody

[2022-05-24 05:54] tony-schumacher commented on #321
FYI this issue is still happening. Setting width and height fixed it for me, too.

[2022-05-24 13:45] WisaniShilumani commented on #342
Been able to this using clips as suggested by @JesperLekland

![account-comparison-chart](https://user-images.githubusercontent.com/22444640/170050034-75df412b-85b2-46d8-b006-94c5ee94066e.jpg)

My code

[code]

On the area charts, add your clips
[code]

[2022-05-25 11:36] vasuAI commented on #350
WHERE I Can find the Xaxis

[2022-05-30 12:55] danielmorbeck commented on #432
I'm currently having a issue when writing tests with this solution, I still get the `Warning: Failed prop type: Invalid prop data[0] supplied to XAxis.` error, even though i'm using `xAcessor`. But only when testing this. @JesperLekland

[2022-06-24 13:29] mzabolotnia opened #584 "[Feature] Combination of bar and line chart"
### Description of feature

I am working on adding a target line for the bar chart and was trying to implement it with your library but probably this feature is not available yet. So the target of my case is creating a bar chart marking the 7 days of the week and a line that is parallel to the X-axis and that will indicate. the goal for this week. It would be great to be able to add annotations, a

[2022-06-30 15:34] SamuelLeclerc33 commented on #577
Bump, I also have this issue using the library with react-native-web. From what I've seen on another post (https://github.com/react-native-svg/react-native-svg/issues/1484), it seems that some properties are passed down but they shouldn't. @ricohumme  did you find a fix for this?

[2022-06-30 20:27] ricohumme commented on #577
@SamuelLeclerc33 sadly no, I switched the library and am now using Victory charts to my satisfaction

[2022-07-07 18:36] Marcuspo commented on #352
Work for me, only adjusted in stroke added '' in rgba.

Thanks!

[2022-07-07 18:42] Marcuspo commented on #373
{Grid.Direction.VERTICAL} has a bug!

But if you usage this, worked!

[2022-07-12 09:51] yaseenyahya opened #586 "create funnel chart from svg"
having problem in creating svg chart like i have in this image.. dont understand which type of chart i have to use to create this funnel.

(https://user-images.githubusercontent.com/14994811/178463176-c5f4afd2-9549-4406-8b29-6912a89690ef.jpeg)

[2022-07-25 07:51] ddikodroid commented on #529
also add `parseInt` on line 73 fixed the issue on me
[code]

[2022-08-10 15:00] alexjs87 commented on #161
@Danushka50 , o FlatList resolveu seu problema?

[2022-08-11 17:51] SamuelGalantei4sea commented on #161
@Danushka50, using FlatList solve your problem ?

[2022-08-23 15:32] 39otrebla commented on #533
@shivchawla's solution works, but we randomly get the vertical line rendered twice while dragging, for a few milliseconds. Then the wrong vertical line disappears and only the correct one (i.e. the one under the user's finger) stays visible.

Is anyone experiencing the same? This seems to happen more often if you drag slowly, less frequently if you drag quickly from side to side.

[2022-08-24 11:53] KeaganStevens opened #587 "Library broken on RN 0.69"
### What is the problem?
Nothing renders/throws errors

### When does it happen?
React native 0.69 deprecates ViewPropTypes which is used by the version of `react-native-svg` that this library depends on.
installing `deprecated-react-native-prop-types` fixes error but then nothing renders at all

### What actions are needed to reproduce the problem?
- create new react native app
- install this lib

[2022-08-29 02:03] shivchawla commented on #533
@39otrebla Have your tried using fixed value for chart color or stabilizing `color` with `React.useMemo`

[code]

[2022-09-07 01:53] dlehddnjs commented on #567
I have the same issue, so I printed it via log on js.
x and y is a function. check the definition below.

`function v(t){return(r||(r=n(o,h,y?function(e){return function(t,n){var r=e(t=+t,n=+n);return function(e){return e<=t?0:e>=n?1:r(e)}}}(e):e,p)))(+t)}`

[2022-09-07 02:04] dlehddnjs commented on #567
Anyway, simplest way to ignore it is

```({x, y} : {x: any, y: any})```

[2022-09-07 04:17] dlehddnjs opened #588 "What is the type of 'Common arguments for child component'?"
### What is the problem?

I think ```Common arguments for child component``` are not defined on charts' props.

### When does it happen?

<img width="648" alt="image" src="https://user-images.githubusercontent.com/7699765/188787249-bb27d4c9-fa6d-4d2d-a2e9-9adc62e37b91.png">
An example code occurs error in Typescript.

### What platform?

-   [x] iOS
-   [x] Android

react-native version: `0.67.4`

[2022-09-12 11:31] minseokk commented on #515
@olympiawoj  How did you solve the issue?

[2022-09-12 12:07] minseokk commented on #587
@KeaganStevens  Did you solve the problem?

[2022-09-14 23:51] dlehddnjs commented on #96
This issue should be discussed again.

[2022-09-19 13:04] Navonh commented on #500
@kaourimo  @zivchen   have you found a way with this library or any other?

[2022-09-27 12:50] kenchambers commented on #342
@JesperLekland @WisaniShilumani

can you elaborate on this example or send a gist? I'm having trouble recreating

[2022-09-27 13:30] WisaniShilumani commented on #342
Hey @kenchambers

I've created gist you can see here: https://gist.github.com/WisaniShilumani/2c9d443517d1cd4df6c15769c9bacdfa

I've removed props from the axes to make it easier to read through.

The potentially confusing part is here:
`const y0 = y(firstPoint.value)`

This line is used to get the vertical position of the first point, as this is the boundary for both clip rects; you could set thi

[2022-09-27 13:37] kenchambers commented on #342
wow @WisaniShilumani  thank you for taking the time to respond to me! Your solution is really clever.

I actually found a solution that is built in to the library, I had to dig into the source code but found a property that could be passed to barChart, not sure if it works for area chart though.

[code]

and then data looks like:

[code]
<img width="403" alt="Screen Shot 2022-09-27 at 2 37 35 PM"

[2022-10-01 22:01] bytemtek opened #589 "Custom Horizontal Lines"
Hello,

I'm coding stock chart and I need draw same horizontal lines on chart.

How can I add a horizontal line to position which I want in my chart?

Thanks

[2022-10-12 16:33] gigby commented on #484
@ajacquierbret
Actually, you can simulate d3.every behavior. formatXLabel is a part of the solution. Actually you just need return "pseudoIndex" in "xAccessor" prop of <LineChart />.

The code should look like this
`const firstTime = data[0].time; // first time of displaying events array
  const lastTime = data[data.length - 1].time;
  const tDiffFromN = (lastTime - firstTime) / (data.length - 1);

[2022-10-14 20:06] cjbland commented on #587
I was able to work around this by upgrading `react-native-svg` to the latest version. npm complains about the peer dependency not being met, but the application doesn't crash and properly shows the chart (in my case I'm showing a bar chart). I upgraded to `react-native-svg@13.4.0`.

[2022-11-03 22:07] speter9701 opened #590 "Gap appearing under the area chart"
I'm trying to create a height map, but above a size limit, a gap appears at the bottom of the area chart.
Under the height map, there is a view (with the city names) with the same background color to blend in with the chart.
![image](https://user-images.githubusercontent.com/47381974/199841670-ccd0acc3-a378-4876-8f01-a33df0eea8eb.png)
![image](https://user-images.githubusercontent.com/47381974/199

[2022-11-03 22:14] #590 closed, assigned to nobody

[2022-11-08 17:28] DaisukiTamago commented on #416
you literally saved my life 🤝

[2022-11-16 07:35] sadia-onyxtec commented on #519
@Applifiedindia does your chart change in real time?

[2022-11-21 12:11] Ramaraju1992 opened #593 "[Feature] display draggable tooltip on points"
Hi Team,
As we have a feature for displaying tooltip in graph lines, is our library feasible for the same...!
![image](https://user-images.githubusercontent.com/31759293/203047168-f11fcb8a-3811-4eb1-a89f-4fe132fe1b66.png)

[2022-11-23 07:28] t104360088 commented on #526
@l30ni3 I tried your code and it works well.

[2022-11-29 13:14] puneetkansal04 commented on #212
Hi @vjsingh I have checked this but this is not worked for me as i am using BarChart. let me know if there is any changes to do in BarGraph also.